<template>
  <div class="content-body">
    <section id="basic-form-layouts">
      <div class="row match-height">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="btn-group float-md-right cta" role="group" aria-label="Button group with nested">
                <nuxt-link to="/appraiser-pricing">
                  <button class="btn btn-info round" type="button"><i class="la la-th-list"/>{{ $t('action.view') }} {{ $tc('systemAdmin.territories.title',2) }}</button>
                </nuxt-link>
              </div>
            </div>
            <div class="card-content collapse show">
              <div class="card-body">
                <form>
                  <div class="row justify-content-md-center">
                    <div class="col-md-6">
                      <div class="form-body">
                        <h4 class="form-section"><i class="ft-map-pin"/> {{ $t('systemAdmin.territories.selection') }}</h4>

                        <nas-input id="appraiser" v-model="form.appraiser" :name="$t('systemAdmin.compAppRank.appraiser')"/>
                      </div>
                    </div>
                  </div>
                  <div class="form-actions center">
                    <button type="submit" class="btn btn-primary">
                      <i class="ft-check position-right"/>{{ $t('action.submit') }}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
  </div>
</template>
<script>
import _ from 'lodash'
// import to from 'await-to-js'

import NasInput from '~/components/form/Input.vue'
import NasSelect from '~/components/form/Select.vue'
import AutoComplete from '~/components/form/AutoComplete.vue'
// import { getCountries } from '~/lib/util/region'
import Swal from 'sweetalert2'
export default {
  components: {
    NasInput,
    NasSelect,
    AutoComplete,
    Swal
  },
  data() {
    return {
      form: {},
      serviceTypes: [],
      regions: [],
      userNames: [],
      priceRangeByCountry: []
    }
  }
  // computed: {
  //   countries() {
  //     const countryOpts = getCountries()
  //     countryOpts.unshift({ name: '', value: '' })
  //     return countryOpts
  //   }
  // },
  // methods: {
  //   async getUserNames(search) {
  //     let userType = 'A'
  //     let [err, userInfos] = await to(
  //       this.$axios.$get(
  //         `/api/userInfos?userType=${userType}&username=${search}`
  //       )
  //     )

  //     if (userInfos) {
  //       this.userNames = _.map(
  //         _.get(userInfos, '_embedded.userInfoList'),
  //         userInfo => ({
  //           name: userInfo.username,
  //           value: userInfo.id
  //         })
  //       )
  //     } else {
  //       Swal.fire('Error!', err, 'error')
  //     }
  //   },
  //   getUserName(username) {
  //     this.form.username = username.name
  //   },
  //   async getServiceTypes(search) {
  //     let [err, serviceType] = await to(
  //       this.$axios.$get(`/api/serviceTypes?service=${search}`)
  //     )

  //     if (serviceType) {
  //       this.serviceTypes = _.map(
  //         _.get(serviceType, '_embedded.serviceTypeList'),
  //         c => ({
  //           name: c.service,
  //           value: c.serviceTypeId
  //         })
  //       )
  //     } else {
  //       Swal.fire('Error!', err, 'error')
  //     }
  //   },
  //   getServiceType(service) {
  //     this.form.serviceTypeId = service.value
  //   },
  //   async getRegions(search) {
  //     if (this.form.countryCode) {
  //       let [err, regions] = await to(
  //         this.$axios.$get(
  //           `/api/regions?coutryCode=${this.form.countryCode}&name=${search}`
  //         )
  //       )

  //       if (regions) {
  //         this.regions = _.map(
  //           _.get(regions, '_embedded.regionList'),
  //           region => ({
  //             name: region.name,
  //             value: region.id
  //           })
  //         )
  //       } else {
  //         Swal.fire('Error!', err, 'error')
  //         this.regions = []
  //       }
  //     } else {
  //       this.regions = []
  //     }
  //   },
  //   getRegion(region) {
  //     this.form.regionId = region.value
  //   },
  //   async getPriceRanges(search) {
  //     let [err, priceRange] = await to(
  //       this.$axios.$get(`/api/priceRangeByCountries?priceRangeDesc=${search}`)
  //     )

  //     if (priceRange) {
  //       this.priceRangeByCountry = _.map(
  //         _.get(priceRange, '_embedded.priceRangeByCountryList'),
  //         c => ({
  //           name: c.priceRangeDesc,
  //           value: c.priceRangeId
  //         })
  //       )
  //     } else {
  //       Swal.fire('Error!', err, 'error')
  //     }
  //   },
  //   getPriceRange(price) {
  //     this.form.priceRangeId = price.value
  //   },
  //   async onSubmit(evt) {
  //     evt.preventDefault()
  //     this.form.lastUpdatedBy = 'Johnren'
  //     let [err, rule] = await to(
  //       this.$axios.$post(`/api/appraiserPriceByRegions`, this.form)
  //     )

  //     if (err || !rule) {
  //       Swal.fire('Error!', 'Error on Adding New Data', 'error')
  //     } else {
  //       Swal.fire('Success!', 'New Data Successfully Added', 'success')
  //       this.$router.push('/appraiser-pricing')
  //     }
  //   }
  // }
}
</script>
