<template>
  <div class="content-body">
    <section id="basic-form-layouts">
      <div class="row match-height">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="btn-group float-md-right cta" role="group" aria-label="Button group with nested" >
                <nuxt-link to="/appraiser-license">
                  <button class="btn btn-info round" type="button">
                    <i class="la la-th-list"/>
                    {{ $t('action.view') }} {{ $tc('systemAdmin.appraiserLicense.title', 1) }}
                  </button>
                </nuxt-link>
              </div>              
            </div>

            <nas-form :submit="onSubmit" :data="data" :opts="opts"/>
            
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import _ from 'lodash'
import to from 'await-to-js'

import Swal from 'sweetalert2'
import NasForm from '~/components/systemAdmin/appraiser-license/Form.vue'

export default {
  components: {
    NasForm,
    Swal
  },
  data() {},
  async asyncData({ app, params }) {
    const data = await app.$axios.$get(
      `/api/appraiserDesignations/${params.id}`
    )
    const opts = {}
    let user = _.get(data, 'userInfoAppraiser')

    if (user) {
      opts.userNames = [
        {
          name: _.get(user.userInfo, 'username'),
          value: _.get(user.userInfo, 'id')
        }
      ]
    }
    return { data, opts }
  },
  methods: {
    async onSubmit(form) {
      form.lastUpdatedBy = 1
      let [err, rule] = await to(
        this.$axios.$put(
          `/api/appraiserDesignations/${form.appraiserDesignationId}`,
          form
        )
      )
      if (err || !rule) {
        Swal.fire('Error!', 'Error on Updating Data', 'error')
      } else {
        Swal.fire('Success!', 'Data Successfully Updated', 'success')
        this.$router.push('/appraiser-license')
      }
    }
  }
}
</script>
