<template>
  <div class="content-body">
    <section id="basic-form-layouts">
      <div class="row match-height">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="btn-group float-md-right cta" role="group" aria-label="Button group with nested" >
                <nuxt-link to="/appraiser-license">
                  <button class="btn btn-info round" type="button">
                    <i class="la la-th-list"/>
                    {{ $t('action.view') }} {{ $tc('systemAdmin.appraiserLicense.title', 1) }}
                  </button>
                </nuxt-link>
              </div>
            </div>
              
            <nas-form :submit="onSubmit"/>

          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import _ from 'lodash'
import to from 'await-to-js'
import NasForm from '~/components/systemAdmin/appraiser-license/Form.vue'
import Swal from 'sweetalert2'

export default {
  components: {
    NasForm,
    Swal
  },
  methods: {
    async onSubmit(form) {
      form.lastUpdatedBy = 1
      let [err, rule] = await to(
        this.$axios.$post(`/api/appraiserDesignations`, form)
      )

      if (err || !rule) {
        Swal.fire('Error!', 'Error on Adding New Data', 'error')
      } else {
        Swal.fire('Success!', 'New Data Successfully Added', 'success')
        this.$router.push('/appraiser-license')
      }
    }
  }
}
</script>
