<template>
  <div class="content-body">
    <section class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-head">
            <div class="card-header">
              <h4 class="card-title">{{ $t('action.view') }} {{ $tc('systemAdmin.appraiserLicense.title', 1) }}</h4>
              <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"/></a>

              <div class="heading-elements">
                <div
                  class="btn-group float-md-right cta"
                  role="group"
                  aria-label="Button group with nested">
                  <nuxt-link to="/appraiser-license/add">
                    <button
                      class="btn btn-info round"
                      type="button"><i class="ft-plus-circle"/>{{ $t('action.add') }} {{ $tc('systemAdmin.appraiserLicense.title') }}</button>
                  </nuxt-link>

                </div>
              </div>
            </div>
            <advance-filter @clicked="getFilter"/>

            <nas-table id="appraiser-license-table" ref="appraiserLicenseTable" :columns="columns" :api="api"
                       :filter="filter" :has-active-flag="true" sort-by="appraiserDesignationId,desc" page-name="appraiserLicense"/>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import to from 'await-to-js'
import _ from 'lodash'

import NasTable from '~/components/table'
import AdvanceFilter from '~/components/systemAdmin/appraiser-license/AdvanceFilter.vue'
import { getAction } from '~/lib/util/action.js'
import { getYN } from '~/lib/util/commons/table'
import Swal from 'sweetalert2'

export default {
  components: {
    NasTable,
    AdvanceFilter,
    Swal
  },
  data() {
    return {
      table: {},
      api: {
        url: '/api/appraiserDesignations',
        dataPath: '_embedded.appraiserDesignationResourceList'
      },
      columns: [
        {
          data: 'appraiserDesignationId',
          title: this.$t('action.action'),
          render: this.action(this.hide, '/appraiser-license/'),
          isComponent: true,
          show: true
        },
        {
          data: 'userInfoAppraiser.userInfo.username',
          title: this.$t('systemAdmin.compAppRank.appraiser'),
          show: true
        },
        {
          data: 'designationType',
          title: this.$t('systemAdmin.appraiserLicense.designation'),
          show: true
        },
        {
          data: 'memberNumber',
          title: this.$t('systemAdmin.appraiserLicense.memberNumber'),
          show: true
        },
        {
          data: 'certifiedAppraisalReviewer',
          title: this.$t(
            'systemAdmin.appraiserLicense.certifiedAppraisalReviewer'
          ),
          render: this.yN(),
          show: true
        },
        {
          data: 'userInfo.username',
          title: this.$t('systemAdmin.propertyFee.updatedBy'),
          show: false
        },
        {
          data: 'lastUpdate',
          title: this.$t('systemAdmin.propertyFee.lastUpdated'),
          show: false
        }
      ],
      filter: {},
      user: []
    }
  },
  methods: {
    yN() {
      return data => getYN({ value: data }, 'name')
    },
    action(hide, path) {
      return data => {
        return getAction(data, hide, path)
      }
    },
    async hide(id) {
      try {
        let result = await Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes, delete it!',
          cancelButtonText: 'No, cancel!'
        })
        // SUCCESS
        if (result.value) {
          const [errHide, hide] = await to(
            this.$axios.$delete(`/api/appraiserDesignations/${id}`)
          )
          if (hide) {
            Swal.fire('Deleted!', 'Your file has been deleted!', 'success')
            this.$refs.appraiserLicenseTable.load()
          } else {
            Swal.fire('Error!', errHide, 'error')
          }
        }
      } catch (e) {
        // Fail!
        console.error(e)
        Swal.fire('Error!', 'Error on Deleting File!', 'error')
      }
    },
    getFilter(data) {
      this.filter = data
      this.$refs.appraiserLicenseTable.load()
    }
  }
}
</script>
