<template>
  <div class="card-body">
    <section id="grid-with-label" class="grid-with-border">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">{{ $t('action.advanceFilter') }}</h4>
              <a class="heading-elements-toggle"><i class="ft-align-justify font-medium-3"/></a>
              <div class="heading-elements">
                <ul class="list-inline mb-0">
                  <li><a data-toggle="collapse" href="#collapseExample" @click="collapsed = !collapsed"><i :class= "[collapsed ? 'ft-plus' : 'ft-minus']"/></a></li>
                </ul>
              </div>
            </div>
            <div id="collapseExample" class="card-content collapse hide">
              <div class="card-body">
                <form action="#">
                  <div class="form-body">
                    <div class="row">
                      <div class="col-md-4">
                        <auto-complete id="companyId" v-model="filters['id.companyId']" :items="companies" :name="$t('systemAdmin.company.companyName')" is-async @input="getCompanies" @clicked="getCompanyId"/>
                      </div>

                      <div class="col-md-4">
                        <auto-complete id="regionId" v-model="filters['id.regionId']" :items="regions" :name="$t('systemAdmin.region.regionName')" is-async @input="getRegions" @clicked="getRegionId"/>
                      </div>

                      <div class="col-md-4">
                        <nas-select id="region" v-model="filters.regionType" :items="regionTypes" :name="$t('systemAdmin.common.regionType')" />

                      </div>
                    </div>
                  </div>
                  <div class="form-actions filter-buttons">
                    <div class="text-right">
                      <button type="reset" class="btn mr-1 mb-1 btn-red btn-sm" @click="clearFilter">{{ $t('action.clear') }}</button>
                      <button type="button" class="btn mr-1 mb-1 btn-nas btn-sm" @click="apply">{{ $t('action.apply') }}</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import _ from 'lodash'
import to from 'await-to-js'
import NasSelect from '~/components/form/Select.vue'
import AutoComplete from '~/components/form/AutoComplete.vue'
import { getTypes } from '~/lib/util/region'
import Swal from 'sweetalert2'

export default {
  components: {
    NasSelect,
    AutoComplete,
    Swal
  },
  data() {
    return {
      collapsed: true,
      filters: {},
      companies: [],
      regions: []
    }
  },
  computed: {
    regionTypes() {
      const typesOptions = getTypes()
      typesOptions.unshift({ name: '', value: '' })
      return typesOptions
    }
  },
  mounted() {
    this.apply()
    this.clearFilter()
  },
  methods: {
    getCompanyId(company) {
      this.filters['id.companyId'] = company.value
    },
    async getCompanies(search) {
      let [errComp, companies] = await to(
        this.$axios.$get(`/api/companies?name=${search}`)
      )

      if (err) {
        Swal.fire('Error!', errComp, 'error')
      }
      if (companies) {
        this.companies = _.map(
          _.get(companies, '_embedded.companyList'),
          c => ({
            name: c.name,
            value: c.id
          })
        )
      } else {
        this.companies = []
      }
    },
    getRegionId(region) {
      this.filters['id.regionId'] = region.value
    },
    async getRegions(search) {
      let [errComp, region] = await to(
        this.$axios.$get(`/api/regions?name=${search}`)
      )

      if (err) {
        Swal.fire('Error!', errComp, 'error')
      }
      if (region) {
        this.regions = _.map(_.get(region, '_embedded.regionList'), c => ({
          name: c.name,
          value: c.id
        }))
      } else {
        this.regions = []
      }
    },
    apply() {
      this.$emit('clicked', this.filters)
    },
    clearFilter() {
      this.filters = {}
      this.$emit('clicked', this.filters)
    }
  }
}
</script>
