<template>
  <li class="nav-item parallel">
    <nuxt-link :to="to" :class="{ active: isActive === $route.path}" class="dropdown-toggle nav-link box-grid" @click.native="setActive()">
      <i :class="iconClass"/>
      <span :data-il8n="dataIl8n" class="menu-title">
        {{ name }}
      </span>
    </nuxt-link>
  </li>
</template>
<script>
export default {
  props: {
    to: {
      type: String,
      default: '/',
      required: true
    },
    dataIl8n: {
      type: String,
      default: '',
      required: false
    },
    name: {
      type: String,
      default: '',
      required: true
    },
    iconClass: {
      type: String,
      default: '',
      required: false
    }
  },

  data() {
    return {
      isActive: this.to == this.$route.path
    }
  },
  beforeCreate() {
    this.$i18n.locale = this.$store.state.locale
  },
  mounted() {
    this.isActive = this.to
  },
  methods: {
    setActive() {
      this.isActive = this.$route.path
    }
  }
}
</script>
