<template>
  <div class="content-body">
    <section class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-head">
            <div class="card-body">
              <section id="grid-with-label" class="grid-with-border">
                <div class="row">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-header">
                        <h4 class="card-title">Appraisal Search Filter</h4>
                        <a class="heading-elements-toggle"><i class="ft-align-justify font-medium-3"/></a>
                        <div class="heading-elements">
                          <ul class="list-inline mb-0">
                            <li><a data-toggle="collapse" href="#collapseExample" @click=" collapsed = !collapsed"><i :class= "[collapsed ? 'ft-plus' : 'ft-minus']"/></a></li>
                          </ul>
                        </div>
                      </div>
                      <div id="collapseExample" class="card-content collapse hide">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-12">
                              <div class="row justify-content-md-center">
                                <div class="grid-with-border col-md-8">
                                  <form class="form form-horizontal">
                                    <div class="form-body">

                                      <nas-select id="status" v-model="filter.status" :items="statuses" :name="$t('systemAdmin.common.status')"/>
                                      <nas-input id="app_contact_name" v-model="filter.app_contact_name" :name="$t('systemAdmin.common.clientName')" />
                                      <nas-input id="app_ref_nbr" v-model="filter.app_ref_nbr" :name="$t('advanceSearch.nasRequestNumber')" />
                                      <nas-input id="client_ref_nbr" v-model="filter.client_ref_nbr" :name="$t('advanceSearch.clientReferenceNumber')" />
                                      <nas-select id="app_country_code" v-model="filter.app_country_code" :items="countries" :name="$t('systemAdmin.common.country')" />
                                      <nas-select id="app_province" v-model="filter.app_province" :items="provinces" :name="$t('systemAdmin.common.province')" />
                                      <nas-input id="app_address" v-model="filter.app_address" :name="$tc('systemAdmin.user.address')" />
                                      <nas-input id="app_postal_code" v-model="filter.app_postal_code" :name="$tc('systemAdmin.user.postalCode')" />
                                      <nas-input id="req_date_from" v-model="reqDateRange.from" :name="$t('systemAdmin.common.from')" type="date" />
                                      <nas-input id="req_date_to" v-model="reqDateRange.to" :name="$t('systemAdmin.common.to')" type="date" />

                                      <nas-radio v-model="sort" :items="sorts" :label="$t('advanceSearch.sortResultsBy')" name="sort" />
                                      <!-- <nas-radio v-model="filter.filter" :items="filters" :label="$t('advanceSearch.filterResultsBy')" name="filter" /> -->

                                      <div class="form-actions center">
                                        <button type="button" class="btn btn-warning mr-1 clear" @click="clear">
                                          <i class="ft-x"/> Clear
                                        </button>
                                        <button type="button" class="btn btn-primary search" @click="search">
                                          <i class="la la-check-square-o"/> Search
                                        </button>
                                      </div>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

            </div>
            <nas-table id="table" ref="table" :columns="columns" :api="api" />
          </div>
        </div>
    </div></section>
  </div>
</template>
<script>
import _ from 'lodash'

import NasInput from '~/components/form/Input.vue'
import NasSelect from '~/components/form/Select.vue'
import NasRadio from '~/components/form/Radio.vue'
import NasTable from '~/components/table/es.vue'
import AutoComplete from '~/components/form/AutoComplete.vue'

import { getProvinces, getCountries } from '~/lib/util/region'
import { getStatuses } from '~/lib/util/followUpRule'
import { getCountry, getProvince } from '~/lib/util/region'
export default {
  components: {
    NasInput,
    NasSelect,
    AutoComplete,
    NasRadio,
    NasTable
  },
  data() {
    return {
      collapsed: true,
      reqDateRange: {},
      filter: {},
      sort: '',
      filterQuery: {},
      sorts: [
        {
          name: 'Date Ordered',
          value: 'req_date'
        },
        {
          name: 'Date Completed',
          value: 'comp_date'
        }
      ],
      filters: [
        {
          name: 'View User Requests',
          value: 'viewUserRequests'
        },
        {
          name: ' View Group Requests',
          value: ' viewGroupRequests'
        }
      ],
      api: {
        url: '/search-api/app_request/_search',
        dataPath: 'hits.hits',
        pagePath: ''
      },
      columns: [
        {
          data: '_source.status',
          title: this.$t('systemAdmin.common.status'),
          show: true
        },
        {
          data: '_source.app_contact_name',
          title: this.$t('systemAdmin.common.clientName'),
          show: true
        },
        {
          data: '_source.app_ref_nbr',
          title: this.$t('advanceSearch.nasRequestNumber'),
          show: true
        },
        {
          data: '_source.client_ref_nbr',
          title: this.$t('advanceSearch.clientReferenceNumber'),
          show: false
        },
        {
          data: '_source.app_country_code',
          title: this.$t('systemAdmin.common.country'),
          show: true,
          render: this.country()
        },
        {
          data: '_source.app_province',
          title: this.$t('systemAdmin.common.province'),
          show: true
          // render: this.province()
        },
        {
          data: '_source.app_address',
          title: this.$tc('systemAdmin.user.address'),
          show: true
        },
        {
          data: '_source.app_postal_code',
          title: this.$tc('systemAdmin.user.postalCode'),
          show: true
        },
        {
          data: '_source.price_type',
          title: this.$t('systemAdmin.followUpRule.priceType'),
          show: true
        },
        {
          data: '_source.app_fee',
          title: this.$t('systemAdmin.propertyFee.fee'),
          show: true
        },
        {
          data: '_source.username',
          title: this.$t('systemAdmin.user.username'),
          show: true
        },
        {
          data: '_source.price',
          title: this.$t('systemAdmin.propertyFee.price'),
          show: true
        },
        {
          data: '_source.req_date',
          title: this.$t('advanceSearch.requestDate'),
          show: true
        },
        {
          data: '_source.comp_date',
          title: this.$t('advanceSearch.dateCompleted'),
          show: true
        }
      ]
    }
  },
  computed: {
    statuses() {
      const statuses = getStatuses()
      statuses.unshift({ name: '', value: '' })
      return statuses
    },
    countries() {
      const countryOpts = getCountries()
      countryOpts.unshift({ name: '', value: '' })
      return countryOpts
    },
    provinces() {
      const countryCode = _.get(this, 'filter.app_country_code')
      const provinceOptions = getProvinces(countryCode)
      provinceOptions.unshift({ name: '', value: '' })
      return provinceOptions
    }
  },
  methods: {
    clear() {
      this.filter = {}
      this.reqDateRange = {}
      this.sort = ''
    },
    search() {
      const mustMatch = []
      _.forIn(this.filter, (value, key) => {
        if (value) {
          mustMatch.push({
            match: {
              [key]: value
            }
          })
        }
      })

      const range = this.getRangeFilter()
      if (range) {
        mustMatch.push({ range })
      }
      const filter = {
        query: {
          bool: {
            must: mustMatch
          }
        }
      }

      if (this.sort) {
        filter.sort = {
          [this.sort]: { order: 'desc' }
        }
      }

      this.$refs.table.load(filter)
    },
    getRangeFilter() {
      if (!this.reqDateRange.from && !this.reqDateRange.to) {
        return
      }

      const range = {
        req_date: {
          format: 'yyyy-MM-dd'
        }
      }
      if (this.reqDateRange.from) {
        _.set(range, 'req_date.gte', this.reqDateRange.from)
      }
      if (this.reqDateRange.to) {
        _.set(range, 'req_date.lte', this.reqDateRange.to)
      }

      return range
    },
    country() {
      return data => getCountry({ value: data }, 'name')
    },
    province() {
      return (data, item, row) =>
        getProvince(_.get(item, 'countryCode'), { value: data }, 'name')
    }
  }
}
</script>
