<template>
  <div class="content-body">
    <section id="basic-form-layouts">
      <div class="row match-height">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="btn-group float-md-right cta" role="group" aria-label="Button group with nested">
                <nuxt-link to="/appraiser-pricing">
                  <button class="btn btn-info round" type="button"><i class="la la-th-list"/>{{ $t('action.view') }} {{ $t('systemAdmin.appraiserPricing.title') }}</button>
                </nuxt-link>
              </div>
            </div>
            <div class="card-content collapse show">
              <div class="card-body">
                <form @submit="onSubmit">
                  <div class="row justify-content-md-center">
                    <div class="col-md-6">
                      <div class="form-body">
                        <h4 class="form-section"><i class="ft-briefcase"/> {{ $t('action.update') }} {{ $tc('systemAdmin.appraiserPricing.title', 1) }}</h4>

                        <auto-complete id="userId" v-model="form.username" :items="userNames" :name="$t('systemAdmin.compAppRank.appraiser')" required is-async @input="getUserNames" @clicked="getUserName"/>
                        <nas-select id="countryCode" v-model="form.countryCode" :items="countries" :name="$t('systemAdmin.common.country')" required />
                        <auto-complete id="regionId" v-model="form.regionId" :items="regions" :name="$t('systemAdmin.common.region')" required is-async @input="getRegions" @clicked="getRegion"/>
                        <auto-complete id="serviceTypeId" v-model="form.serviceTypeId" :items="serviceTypes" :name="$t('systemAdmin.service.service')" required is-async @input="getServiceTypes" @clicked="getServiceType"/>
                        <nas-input id="priceType" v-model="form.priceType" :name="$t('systemAdmin.followUpRule.priceType')"/>
                        <auto-complete id="priceRangeId" v-model="form.priceRangeId" :items="priceRangeByCountry" :name="$t('systemAdmin.appraiserPricing.priceRangeDesc')" required is-async @input="getPriceRanges" @clicked="getPriceRange"/>
                        <nas-input id="price" v-model="form.price" :name="$t('systemAdmin.propertyFee.price')" type="number"/>
                      </div>
                    </div>
                  </div>
                  <div class="form-actions center">
                    <button type="reset" class="btn btn-danger">
                      <i class="ft-refresh-cw position-right"/> {{ $t('action.reset') }}
                    </button>
                    <button type="submit" class="btn btn-primary">
                      <i class="la la-check-square-o"/>{{ $t('action.submit') }}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
  </div>
</template>
<script>
import _ from 'lodash'
import to from 'await-to-js'

import NasInput from '~/components/form/Input.vue'
import NasSelect from '~/components/form/Select.vue'
import AutoComplete from '~/components/form/AutoComplete.vue'
import { getCountries } from '~/lib/util/region'
import Swal from 'sweetalert2'
export default {
  components: {
    NasInput,
    NasSelect,
    AutoComplete,
    Swal
  },
  data() {
    return {
      form: {}
    }
  },
  computed: {
    countries() {
      const countryOpts = getCountries()
      countryOpts.unshift({ name: '', value: '' })
      return countryOpts
    }
  },
  async asyncData({ app, params }) {
    let form = {}
    let userNames = []
    let regions = []
    let serviceTypes = []
    let priceRangeByCountry = []

    let [apErr, appraiserPricing] = await to(
      app.$axios.$get(`/api/appraiserPriceByRegions/${params.id}`)
    )

    if (appraiserPricing) {
      form = appraiserPricing
    } else {
      Swal.fire('Error!', apErr, 'error')
    }

    if (form.regionId) {
      let [errRegion, region] = await to(
        app.$axios.$get(`/api/regions/${form.regionId}`)
      )
      if (region) {
        regions.push({ name: region.name, value: region.id })
      } else {
        Swal.fire('Error!', errRegion, 'error')
      }
    }

    if (form.username) {
      userNames.push({ name: form.username, value: form.username })
    }
    if (form.priceRangeId) {
      let [errPrice, priceRange] = await to(
        app.$axios.$get(`/api/priceRangeByCountries/${form.priceRangeId}`)
      )

      if (priceRange) {
        priceRangeByCountry.push({
          name: priceRange.priceRangeDesc,
          value: priceRange.priceRangeId
        })
      } else {
        Swal.fire('Error!', errPrice, 'error')
      }
    }
    if (form.serviceTypeId) {
      let [errService, service] = await to(
        app.$axios.$get(`/api/serviceTypes/${form.serviceTypeId}`)
      )

      if (service) {
        serviceTypes.push({
          name: service.service,
          value: service.serviceTypeId
        })
      } else {
        Swal.fire('Error!', errService, 'error')
      }
    }

    return { priceRangeByCountry, regions, userNames, serviceTypes, form }
  },
  methods: {
    async getUserNames(search) {
      let userType = 'A'
      let [err, userInfos] = await to(
        this.$axios.$get(
          `/api/userInfos?userType=${userType}&username=${search}`
        )
      )
      if (userInfos) {
        this.userNames = _.map(
          _.get(userInfos, '_embedded.userInfoList'),
          userInfo => ({
            name: userInfo.username,
            value: userInfo.id
          })
        )
      } else {
        Swal.fire('Error!', err, 'error')
      }
    },
    getUserName(username) {
      this.form.username = username.name
    },
    async getServiceTypes(search) {
      let [err, serviceType] = await to(
        this.$axios.$get(`/api/serviceTypes?service=${search}`)
      )

      if (serviceType) {
        this.serviceTypes = _.map(
          _.get(serviceType, '_embedded.serviceTypeList'),
          c => ({
            name: c.service,
            value: c.serviceTypeId
          })
        )
      } else {
        Swal.fire('Error!', err, 'error')
      }
    },
    getServiceType(service) {
      this.form.serviceTypeId = service.value
    },
    async getRegions(search) {
      let [err, regions] = await to(
        this.$axios.$get(`/api/regions?name=${search}`)
      )

      if (regions) {
        this.regions = _.map(
          _.get(regions, '_embedded.regionList'),
          region => ({
            name: region.name,
            value: region.id
          })
        )
      } else {
        Swal.fire('Error!', err, 'error')
      }
    },
    getRegion(region) {
      this.form.regionId = region.value
    },
    async getPriceRanges(search) {
      let [err, priceRange] = await to(
        this.$axios.$get(`/api/priceRangeByCountries?priceRangeDesc=${search}`)
      )

      if (priceRange) {
        this.priceRangeByCountry = _.map(
          _.get(priceRange, '_embedded.priceRangeByCountryList'),
          c => ({
            name: c.priceRangeDesc,
            value: c.priceRangeId
          })
        )
      } else {
        Swal.fire('Error!', err, 'error')
      }
    },
    getPriceRange(price) {
      this.form.priceRangeId = price.value
    },
    async onSubmit(evt) {
      evt.preventDefault()
      this.form.lastUpdatedBy = 'Johnren'
      let [err, rule] = await to(
        this.$axios.$put(
          `/api/appraiserPriceByRegions/${this.form.priceByRegionId}`,
          this.form
        )
      )

      if (err || !rule) {
        Swal.fire('Error!', 'Error on Updating Data', 'error')
      } else {
        Swal.fire('Success!', 'Data Successfully Updated', 'success')
        this.$router.push('/appraiser-pricing')
      }
    }
  }
}
</script>
