<template>
  <div class="content-body">
    <section class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-head">
            <div class="card-header">
              <h4 class="card-title">{{ $t('action.view') }} {{ $t('systemAdmin.appraiserPricing.title') }}</h4>
              <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"/></a>

              <div class="heading-elements">
                <div
                  class="btn-group float-md-right cta"
                  role="group"
                  aria-label="Button group with nested">
                  <nuxt-link to="/appraiser-pricing/add">
                    <button
                      class="btn btn-info round"
                      type="button"><i class="ft-plus-circle"/>{{ $t('action.add') }} {{ $t('systemAdmin.appraiserPricing.title') }}</button>
                  </nuxt-link>

                </div>
              </div>
            </div>
            <advance-filter @clicked="getFilter"/>

            <nas-table id="appraiser-pricing-table" ref="appraiserPricingTable" :columns="columns" :api="api"
                       :filter="filter" :has-active-flag="true" sort-by="priceByRegionId,desc" page-name="appraiserPricing"/>
                

          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import to from 'await-to-js'
import _ from 'lodash'

import NasTable from '~/components/table'
import AdvanceFilter from '~/components/systemAdmin/appraiser-pricing/AdvanceFilter.vue'
import { getAction } from '~/lib/util/action.js'
import { getCountry } from '~/lib/util/region'
import Swal from 'sweetalert2'
export default {
  components: {
    NasTable,
    AdvanceFilter,
    Swal
  },
  data() {
    return {
      table: {},
      api: {
        url: '/api/appraiserPriceByRegions',
        dataPath: '_embedded.appraiserPriceByRegionList'
      },
      columns: [
        {
          data: 'priceByRegionId',
          title: this.$t('action.action'),
          render: this.action(this.hide, '/appraiser-pricing/'),
          isComponent: true,
          show: true
        },
        {
          data: 'username',
          title: this.$t('systemAdmin.compAppRank.appraiser'),
          show: true
        },
        {
          data: 'countryCode',
          title: this.$t('systemAdmin.common.country'),
          render: this.country(),
          show: true
        },
        {
          data: 'region.name',
          title: this.$t('systemAdmin.common.region'),
          show: true
        },
        {
          data: 'serviceType.service',
          title: this.$tc('systemAdmin.service.title'),
          show: true
        },
        {
          data: 'priceType',
          title: this.$t('systemAdmin.followUpRule.priceType'),
          show: true
        },
        {
          data: 'priceRangeByCountry.priceRangeDesc',
          title: this.$t('systemAdmin.appraiserPricing.priceRangeDesc'),
          show: true
        },
        {
          data: 'price',
          title: this.$t('systemAdmin.propertyFee.price'),
          show: true
        },
        {
          data: 'lastUpdatedBy',
          title: this.$t('systemAdmin.common.lastUpdatedBy'),
          show: false
        },
        {
          data: 'lastUpdated',
          title: this.$t('systemAdmin.common.lastUpdated'),
          show: false
        }
      ],
      filter: {}
    }
  },
  methods: {
    country() {
      return data => getCountry({ value: data }, 'name')
    },
    action(hide, path) {
      return data => {
        return getAction(data, hide, path)
      }
    },
    async hide(id) {
      try {
        let result = await Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes, delete it!',
          cancelButtonText: 'No, cancel!'
        })
        // SUCCESS
        if (result.value) {
          const flag = 'N'
          const [errHide, hide] = await to(
            this.$axios.$put(
              `/api/appraiserPriceByRegions/${id}/active/${flag}`
            )
          )
          if (hide) {
            Swal.fire('Deleted!', 'Your file has been deleted!', 'success')
            this.$refs.appraiserPricingTable.load()
          } else {
            Swal.fire('Error!', errHide, 'error')
          }
        }
      } catch (e) {
        // Fail!
        console.error(e)
        Swal.fire('Error!', 'Error on Deleting File!', 'error')
      }
    },
    getFilter(data) {
      this.filter = data
      this.$refs.appraiserPricingTable.load()
    }
  }
}
</script>
