<template>
  <div class="content-body">
    <section id="basic-form-layouts">
      <div class="row match-height">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="btn-group float-md-right cta" role="group" aria-label="Button group with nested">
                <nuxt-link to="/services">
                  <button class="btn btn-info round view-service" type="button"><i class="la la-th-list"/> {{ $t('action.view') }} {{ $tc('systemAdmin.service.title', 2) }}</button>
                </nuxt-link>
              </div>
            </div>

            <div class="card-content collapse show">
              <div class="card-body">
                <form class="form" @submit="onSubmitService">
                  <div class="row justify-content-md-center">
                    <div class="col-md-6">
                      <div class="form-body">
                        <h4 class="form-section"><i class="ft-briefcase"/> {{ $t('action.update') }} {{ $tc('systemAdmin.service.title', 1) }}</h4>

                        <nas-input id="serviceName" v-model="datas.service" :name="$t('systemAdmin.service.service')" type="text" required />
                        <nas-input id="serviceNameF" v-model="datas.serviceF" :name="$t('systemAdmin.service.serviceF')" type="text" required/>
                        <nas-select id="serviceCategory" v-model="datas.serviceCategory" :items="serviceCategories" :name="$t('systemAdmin.service.serviceCategory')" required />
                        <nas-input id="serviceDesc" v-model="datas.serviceDesc" :name="$t('systemAdmin.service.serviceDesc')" type="text"/>
                        <nas-input id="serviceDescF" v-model="datas.serviceDescF" :name="$t('systemAdmin.service.serviceDescF')" type="text"/>
                        <nas-select id="isHidden" v-model="datas.hidden" :items="yNs" :name="$t('systemAdmin.common.hidden')" required />
                        <nas-select id="isExePricingFlag" v-model="datas.executivePricingFlag" :items="yNs" :name="$t('systemAdmin.service.executivePricingFlag')" required />
                        <nas-select id="appointmentRequired" v-model="datas.appointmentRequired" :items="yNs" :name="$t('systemAdmin.service.appointmentRequired')" required />
                        <nas-input id="serviceGroup" v-model="datas.serviceGroup" :name="$t('systemAdmin.service.serviceGroup')" type="text"/>
                        <nas-input id="serviceGroupOrder" v-model="datas.serviceGroupOrder" :name="$t('systemAdmin.service.serviceGroupOrder')" type="number"/>
                        <nas-input id="sortSeqNbr" v-model="datas.sortSeqNbr" :name="$t('systemAdmin.service.sortSeqNbr')" type="number"/>
                        <nas-input id="sortSeqPricing" v-model="datas.sortSeqPricing" :name="$t('systemAdmin.service.sortSeqPricing')" type="number"/>
                      </div>
                    </div>
                  </div>
                  <div class="form-actions center">
                    <button type="reset" class="btn btn-danger">
                      <i class="ft-refresh-cw position-right"/> {{ $t('action.reset') }}
                    </button>
                    <button type="submit" class="btn btn-primary">
                      <i class="ft-check position-right"/>{{ $t('action.submit') }}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import _ from 'lodash'
import to from 'await-to-js'
import NasInput from '~/components/form/Input.vue'
import NasSelect from '~/components/form/Select.vue'
import { getYNs } from '~/lib/util/commons/table'
import { getCategories } from '~/lib/util/services'
import Swal from 'sweetalert2'
export default {
  components: {
    NasInput,
    NasSelect,
    Swal
  },
  data() {
    return {
      datas: {}
    }
  },
  computed: {
    yNs() {
      const yNsOpts = getYNs()
      yNsOpts.unshift({ name: '', value: '' })
      return yNsOpts
    },
    serviceCategories() {
      const category = getCategories()
      category.unshift({ name: '', value: '' })
      return category
    }
  },
  async asyncData({ app, params }) {
    const datas = await app.$axios.$get(`/api/serviceTypes/${params.id}`)
    return { datas }
  },
  methods: {
    async onSubmitService(evt) {
      //evt.preventDefault()
      let [err, service] = await to(
        this.$axios.$put(
          `/api/serviceTypes/${this.datas.serviceTypeId}`,
          this.datas
        )
      )

      if (err || !service) {
        Swal.fire('Error!', 'Error on Updating Data', 'error')
      } else {
        Swal.fire('Success!', 'Data Successfully Updated', 'success')
        this.$router.push('/services')
      }
    }
  }
}
</script>
