<template>
  <div class="content-body">
    <section class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-head">
            <div class="card-header">
              <h4 class="card-title">{{ $tc('systemAdmin.service.title', 2) }}</h4>
              <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"/></a>
              <div class="heading-elements">
                <div class="btn-group float-md-right cta" role="group" aria-label="Button group with nested">
                  <nuxt-link to="/services/add">
                    <button class="btn btn-info round" type="submit">
                    <i class="ft-plus-circle"/>{{ $t('action.add') }} {{ $tc('systemAdmin.service.title', 1) }}</button>
                  </nuxt-link>
                </div>
              </div>
            </div>

            <advance-filter @clicked="getFilter"/>

            <!-- table start -->
            <nas-table id="service-table" ref="serviceTable" :columns="columns" :api="api"
                       :filter="filter" :has-active-flag="false" sort-by="serviceTypeId,desc" page-name="service"/>
                       <!-- table end -->
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import to from 'await-to-js'
import _ from 'lodash'
import NasTable from '~/components/table'
import Swal from 'sweetalert2'
import { getAction } from '~/lib/util/action.js'
import AdvanceFilter from '~/components/systemAdmin/services/AdvanceFilter.vue'
import { getYN } from '~/lib/util/commons/table'
import { getCategory } from '~/lib/util/services'

export default {
  components: {
    NasTable,
    AdvanceFilter,
    Swal
  },
  data() {
    return {
      filter: {},
      table: {},
      api: {
        url: '/api/serviceTypes',
        dataPath: '_embedded.serviceTypeList'
      },
      columns: [
        {
          data: 'serviceTypeId',
          title: this.$t('action.action'),
          render: this.action(this.hide, '/services/'),
          isComponent: true,
          show: true
        },
        {
          data: 'service',
          title: this.$t('systemAdmin.service.service'),
          show: true
        },
        {
          data: 'serviceCategory',
          title: this.$t('systemAdmin.service.serviceCategory'),
          render: this.serviceCategories(),
          show: true
        },
        {
          data: 'serviceDesc',
          title: this.$t('systemAdmin.service.serviceDesc'),
          show: false
        },
        {
          data: 'serviceGroup',
          title: this.$t('systemAdmin.service.serviceGroup'),
          show: true
        },
        {
          data: 'serviceGroupOrder',
          title: this.$t('systemAdmin.service.serviceGroupOrder'),
          show: false
        },
        {
          data: 'sortSeqNbr',
          title: this.$t('systemAdmin.service.sortSeqNbr'),
          show: false
        },
        {
          data: 'sortSeqPricing',
          title: this.$t('systemAdmin.service.sortSeqPricing'),
          show: false
        },
        {
          data: 'appointmentRequired',
          title: this.$t('systemAdmin.service.appointmentRequired'),
          render: this.yN(),
          show: false
        },
        {
          data: 'defaultAssignmentType',
          title: this.$t('systemAdmin.service.defaultAssignmentType'),
          show: false
        },
        {
          data: 'executivePricingFlag',
          title: this.$t('systemAdmin.service.executivePricingFlag'),
          render: this.yN(),
          show: false
        },
        {
          data: 'hidden',
          title: this.$t('systemAdmin.common.hidden'),
          render: this.yN(),
          show: false
        }
      ]
    }
  },
  methods: {
    action(hide, path) {
      return data => {
        return getAction(data, hide, path)
      }
    },
    yN() {
      return data => getYN({ value: data }, 'name')
    },
    serviceCategories() {
      return data => getCategory({ value: data }, 'name')
    },
    async hide(id) {
      try {
        let result = await Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes, delete it!',
          cancelButtonText: 'No, cancel!'
        })
        // SUCCESS
        if (result.value) {
          const [errHide, hide] = await to(
            this.$axios.$delete(`/api/serviceTypes/${id}`)
          )
          if (hide) {
            Swal.fire('Deleted!', 'Your file has been deleted!', 'success')
            this.$refs.serviceTable.load()
          } else {
            Swal.fire('Error!', errHide, 'error')
          }
        }
      } catch (e) {
        // Fail!
        console.error(e)
        Swal.fire('Error!', 'Error on Deleting File!', 'error')
      }
    },
    getFilter(data) {
      this.filter = data
      this.$refs.serviceTable.load()
    }
  }
}
</script>
