<template>
  <div class="content-body">
    <section id="basic-form-layouts">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="btn-group float-md-right cta" role="group" aria-label="Button group with nested">
              <nuxt-link to="/user-onboard">
                <button class="btn btn-info round" type="submit"><i class="la la-th-list"/>{{ $t('action.view') }} {{ $tc('systemAdmin.userOnboard.title', 2) }}</button>
              </nuxt-link>
            </div>
          </div>
          <div class="card-content collpase show">
            <div class="card-body">
              <section id="validation">
                <div class="row">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-content collapse show">
                        <div class="card-body">
                          <form class="form">
                            <form-wizard :title="title" :subtitle="subtitle" :color="color" :error-color="errorColor" step-size="sm" back-button-text="Previous" @on-complete="onComplete">
                              <tab-content :before-change="validateStep1" title="Create New User" icon="la la-user">
                                <fieldset>
                                  <div class="row">
                                    <div class="col-md-6">
                                      <nas-input id="userName" v-model="form.username" :name="$t('systemAdmin.user.username')" is-filter/>
                                    </div>
                                    <div class="col-md-6">
                                      <nas-select id="autoReassign" v-model="form.status" :items="statuses" :name="$t('systemAdmin.userOnboard.status')" required is-filter/>
                                      <label v-show="emptyStatus" class="danger">This field is required.</label>
                                    </div>
                                  </div>
                                </fieldset>
                                <fieldset>
                                  <div id="popover-options" class="row">
                                    <div class="col-md-6">
                                      <div class="form-group">
                                        <label for="ApplicantName1">Password:</label>
                                        <input id="ApplicantName1" type="text" class="form-control" name="ApplicantName1" data-toggle="popover"
                                               data-content="<ul><li>Contain mixed case letters (upper and lower case)</li>
                                              <li>Contain at least 1 number</li>
                                              <li>Contain at least 1 special character (@#$%&!*)(-+=^)</li>
                                              <li>Contain at least 6 characters in length</li>
                                            </ul>"
                                               data-trigger="hover" data-original-title="Password Rules" data-html="true">
                                        <p class="text-left"><small class="text-muted">e.g. Nas=#1</small></p>
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <nas-select id="autoReassign" v-model="form.autoreassign" :items="roles" :name="$t('systemAdmin.userOnboard.role')" is-filter/>
                                    </div>
                                  </div>
                                </fieldset>
                                <fieldset>
                                  <div class="row">
                                    <div class="col-md-6">
                                      <nas-input id="userName" v-model="form.created" :name="$t('systemAdmin.userOnboard.accountCreated')" is-filter type="date"/>
                                    </div>
                                    <div class="col-md-6">
                                      <nas-input id="userName" v-model="form.lastLogin" :name="$t('systemAdmin.userOnboard.lastLogin')" is-filter type="date" disabled/>
                                    </div>
                                  </div>
                                </fieldset>
                                <fieldset>
                                  <div class="row">
                                    <div class="col-md-6">
                                      <nas-input id="userName" v-model="form.active" :name="$t('systemAdmin.userOnboard.accountActive')" type="date" is-filter disabled/>
                                    </div>
                                    <div class="col-md-6">
                                      <nas-input id="userName" v-model="form.expired" :name="$t('systemAdmin.userOnboard.accountExpiration')" type="date" is-filter disabled/>
                                    </div>
                                  </div>
                                </fieldset>
                                <fieldset>
                                  <div class="row">
                                    <div class="col-md-6">
                                      <nas-input id="userName" v-model="form.updated" :name="$t('systemAdmin.userOnboard.accountUpdated')" is-filter type="date"/>
                                    </div>
                                    <div class="col-md-6">
                                      <nas-input id="userName" v-model="form.updatedBy" :name="$t('systemAdmin.userOnboard.lastUpdatedBy')" is-filter/>
                                    </div>
                                  </div>
                                </fieldset>
                              </tab-content>
                              <tab-content title="New User Credential Association" icon="la la-group">
                                <fieldset>
                                  <div class="row">
                                    <div class="col-md-6">
                                      <auto-complete id="userName" v-model="form.userName" :items="statuses" :name="$t('systemAdmin.userOnboard.userId')" is-filter is-async @input="getUserNames" @clicked="getUserName" @lists="getUserNames"/>
                                    </div>
                                    <div class="col-md-6">
                                      <auto-complete id="userName" v-model="form.userName" :items="statuses" :name="$t('systemAdmin.userOnboard.credentialId')" is-filter is-async @input="getUserNames" @clicked="getUserName" @lists="getUserNames"/>
                                    </div>
                                  </div>
                                </fieldset>
                              </tab-content>
                              <tab-content title="New User Role Association" icon="la la-user-plus">
                                <fieldset>
                                  <div class="row">
                                    <div class="col-md-6">
                                      <auto-complete id="userName" v-model="form.userName" :items="statuses" :name="$t('systemAdmin.userOnboard.userId')" is-filter is-async @input="getUserNames" @clicked="getUserName" @lists="getUserNames"/>
                                    </div>
                                    <div class="col-md-6">
                                      <auto-complete id="userName" v-model="form.userName" :items="statuses" :name="$t('systemAdmin.userOnboard.roleId')" is-filter is-async @input="getUserNames" @clicked="getUserName" @lists="getUserNames"/>
                                    </div>
                                  </div>
                                </fieldset>
                                <fieldset>
                                  <div class="row">
                                    <div class="col-md-6">
                                      <nas-radio v-model="form.primary" :items="yesNo" :label="$t('systemAdmin.userOnboard.primaryRole')" name="primaryRole"/>
                                    </div>
                                  </div>
                                </fieldset>
                              </tab-content>
                            </form-wizard>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>

        </div>
      </div>
    </section>
  </div>
</template>
<script>
import _ from 'lodash'
import NasInput from '~/components/form/Input.vue'
import NasSelect from '~/components/form/Select.vue'
import NasRadio from '~/components/form/Radio.vue'
import AutoComplete from '~/components/form/AutoComplete.vue'
import { getStatuses, getRoles } from '~/lib/util/userOnboard'
import { FormWizard, TabContent } from 'vue-form-wizard'
import 'vue-form-wizard/dist/vue-form-wizard.min.css'
import moment from 'moment'
import Swal from 'sweetalert2'

export default {
  components: {
    FormWizard,
    TabContent,
    NasInput,
    NasSelect,
    NasRadio,
    AutoComplete,
    Swal
  },
  props: {
    title: {
      type: String,
      default: ''
    },
    subtitle: {
      type: String,
      default: ''
    },
    nextButtonText: {
      type: String,
      default: 'Next'
    },
    backButtonText: {
      type: String,
      default: 'Previous'
    },
    finishButtonText: {
      type: String,
      default: 'Submit'
    },
    color: {
      type: String,
      default: '#666EE8' //circle, border and text color
    },
    errorColor: {
      type: String,
      default: '#FF4961'
    },
    /**
     * Can take one of the following values: 'circle|square|tab`
     */
    shape: {
      type: String,
      default: 'circle'
    },
    startIndex: {
      type: Number,
      default: 0
    },
    beforeChange: {
      type: Function,
      default: () => null
    }
  },
  data() {
    return {
      form: {
        active: moment().format('YYYY-MM-DD'),
        expired: moment().format('2030-MM-DD'),
        created: moment().format('YYYY-MM-DD'),
        lastLogin: moment().format('YYYY-MM-DD'),
        updated: moment().format('YYYY-MM-DD')
      },
      emptyStatus: false,
      yesNo: [{ name: 'Yes', value: 'Y' }, { name: 'No', value: 'N' }]
    }
  },
  computed: {
    statuses() {
      const category = getStatuses()
      category.unshift({ name: 'Select Status', value: '' })
      return category
    },
    roles() {
      const role = getRoles()
      role.unshift({ name: 'Select Role', value: '' })
      return role
    }
  },
  methods: {
    onComplete() {
      Swal.fire('Success!', 'Well Done!', 'success')
    },
    validateStep1() {
      if (this.form.status == '' || this.form.status == undefined) {
        this.emptyStatus = true
        return false
      } else {
        this.emptyStatus = false
        return true
      }
    }
  }
}
</script>
