<template>
  <div class="content-body">
    <section id="basic-form-layouts">
      <div class="row match-height">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="btn-group float-md-right cta" role="group" aria-label="Button group with nested">
                <nuxt-link to="/executive-property-fee">
                  <button class="btn btn-info round" type="button"><i class="la la-th-list"/>{{ $t('action.view') }} {{ $tc('systemAdmin.propertyFee.title', 1) }}
                  </button>
                </nuxt-link>
              </div>
            </div>

            <div class="card-content collapse show">
              <div class="card-body">
                <form class="form" @submit="onSubmit">
                  <div class="row justify-content-md-center">
                    <div class="col-md-6">
                      <div class="form-body">
                        <h4 class="form-section"><i class="ft-briefcase"/> {{ $t('action.add') }} {{ $tc('systemAdmin.propertyFee.title', 1) }}</h4>

                        <nas-select id="country" v-model="datas.id.countryCode" :items="countries" :name="$t('systemAdmin.common.country')" required/>
                        <nas-input id="company" v-model="datas.id.companyMapping" :name="this.$tc('systemAdmin.company.title', 1)" type="text" required/>
                        <auto-complete id="priceType" v-model="datas.id.executivePriceType" :items="priceTypes" :name="this.$t('systemAdmin.propertyFee.executivePriceType')" type="text" required is-async @input="getPriceTypes" @clicked="getPriceTypeId" @lists="getPriceTypes"/>
                        <auto-complete id="regionId" v-model="datas.id.regionId" :items="regions" :name="$t('systemAdmin.region.regionName')" required is-async @input="getRegions" @clicked="getRegionId" @lists="getRegions"/>
                        <nas-input id="price" v-model="datas.price" :name="$tc('systemAdmin.propertyFee.price')" type="number"/>
                      </div>
                    </div>
                  </div>
                  <div class="form-actions center">
                    <button type="reset" class="btn btn-danger">
                      <i class="ft-refresh-cw position-right"/> {{ $t('action.reset') }}
                    </button>
                    <button type="submit" class="btn btn-primary">
                      <i class="ft-check position-right"/>{{ $t('action.submit') }}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import _ from 'lodash'
import to from 'await-to-js'
import NasInput from '~/components/form/Input.vue'
import NasSelect from '~/components/form/Select.vue'
import AutoComplete from '~/components/form/AutoComplete.vue'
import { getTypes, getCountries } from '~/lib/util/region'
import Swal from 'sweetalert2'
export default {
  components: {
    NasInput,
    NasSelect,
    AutoComplete,
    Swal
  },
  data() {
    return {
      datas: {
        id: {},
        lastUpdatedBy: 'Johnren'
      },
      regions: [],
      priceTypes: []
    }
  },
  computed: {
    types() {
      const typesOptions = getTypes()
      typesOptions.unshift({ name: '', value: '' })
      return typesOptions
    },
    countries() {
      const countriesOptions = getCountries()
      countriesOptions.unshift({ name: '', value: '' })
      return countriesOptions
    }
  },
  methods: {
    getRegionId(region) {
      this.datas.id.regionId = region.value
    },
    async getRegions(search) {
      let [err, region] = await to(
        this.$axios.$get(`/api/regions?name=${search}`)
      )

      if (region) {
        this.regions = _.map(_.get(region, '_embedded.regionList'), c => ({
          name: c.name,
          value: c.id
        }))
      } else {
        Swal.fire('Error!', err, 'error')

        this.regions = []
      }
    },
    getPriceTypeId(type) {
      this.datas.id.executivePriceType = type.value
    },
    async getPriceTypes(search) {
      let [err, types] = await to(
        this.$axios.$get(
          `/api/executivePriceTypes?id.executivePriceType=${search}`
        )
      )
      if (types) {
        this.priceTypes = _.map(
          _.get(types, '_embedded.executivePriceTypeList'),
          c => ({
            name: c.id.executivePriceType,
            value: c.id.executivePriceType
          })
        )
      } else {
        Swal.fire('Error!', err, 'error')
        this.priceTypes = []
      }
    },
    async onSubmit(evt) {
      evt.preventDefault()
      console.log(this.datas)
      let [err, rule] = await to(
        this.$axios.$post(`/api/executivePropertyFees`, this.datas)
      )

      if (err || !rule) {
        Swal.fire('Error!', 'Error on Adding New Data', 'error')
      } else {
        Swal.fire('Success!', 'New Data Successfully Added', 'success')
        this.$router.push('/executive-property-fee')
      }
    }
  }
}
</script>
