<template>
  <div class="content-body">
    <section class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-head">
            <div class="card-header">
              <h4 class="card-title">{{ $tc('systemAdmin.propertyFee.title', 1) }}
              </h4>
              <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"/></a>
              <div class="heading-elements">
                <div class="btn-group float-md-right cta" role="group" aria-label="Button group with nested">
                  <nuxt-link to="/executive-property-fee/add">
                    <button class="btn btn-info round" type="submit">
                      <i class="ft-plus-circle"/>{{ $t('action.add') }} {{ $tc('systemAdmin.propertyFee.title', 1) }}
                    </button>
                  </nuxt-link>
                </div>
              </div>
            </div>

            <advance-filter @clicked="getFilter"/>

            <!-- table start -->
            <nas-table id="property-fee-table" ref="propertyFeeTable" :columns="columns" :api="api"
                       :filter="filter" :has-active-flag="false" sort-by="id,desc" page-name="propertyFee"/>
                       <!-- table end -->
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import to from 'await-to-js'
import _ from 'lodash'
import NasTable from '~/components/table'
import Swal from 'sweetalert2'
import { getAction } from '~/lib/util/action.js'
import AdvanceFilter from '~/components/systemAdmin/executive-property-fee/AdvanceFilter.vue'
import { getCountry } from '~/lib/util/region'

export default {
  components: {
    NasTable,
    AdvanceFilter,
    Swal
  },
  data() {
    return {
      filter: {},
      table: {},
      api: {
        url: '/api/executivePropertyFees',
        dataPath: '_embedded.executivePropertyFeeList'
      },
      columns: [
        {
          data: 'id',
          title: this.$t('action.action'),
          render: this.action(this.hide, '/executive-property-fee/'),
          isComponent: true,
          show: true
        },
        {
          data: 'region',
          title: this.$tc('systemAdmin.region.title', 2),
          render: this.getRegions(),
          show: true
        },
        {
          data: 'id.companyMapping',
          title: this.$tc('systemAdmin.company.title', 2),
          show: true
        },
        {
          data: 'id.executivePriceType',
          title: this.$t('systemAdmin.propertyFee.executivePriceType'),
          show: true
        },
        {
          data: 'id.countryCode',
          title: this.$t('systemAdmin.common.country'),
          render: this.country(),
          show: true
        },
        {
          data: 'price',
          title: this.$tc('systemAdmin.propertyFee.price'),
          show: true
        },
        {
          data: 'lastUpdated',
          title: this.$tc('systemAdmin.propertyFee.lastUpdated'),
          show: false
        },
        {
          data: 'lastUpdatedBy',
          title: this.$tc('systemAdmin.propertyFee.updatedBy'),
          show: false
        },
        {
          data: 'expiredDate',
          title: this.$tc('systemAdmin.propertyFee.expiredDate'),
          show: false
        }
      ]
    }
  },
  methods: {
    country() {
      return data => getCountry({ value: data }, 'name')
    },
    getRegions() {
      return data => {
        return data.name
      }
    },
    action(hide, path) {
      return data => {
        let url = `region/${data.regionId}/companyMapping/${
          data.companyMapping
        }/priceType/${data.executivePriceType}/countryCode/${data.countryCode}`

        console.log(data)
        return getAction(url, hide, path)
      }
    },
    async hide(id) {
      try {
        let result = await Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes, delete it!',
          cancelButtonText: 'No, cancel!'
        })
        // SUCCESS
        if (result.value) {
          const [errHide, hide] = await to(
            this.$axios.$delete(`/api/executivePropertyFees/${id}`)
          )
          if (hide) {
            Swal.fire('Deleted!', 'Your file has been deleted!', 'success')
            this.$refs.propertyFeeTable.load()
          } else {
            Swal.fire('Error!', errHide, 'error')
          }
        }
      } catch (e) {
        // Fail!
        console.error(e)
        Swal.fire('Error!', 'Error on Deleting File!', 'error')
      }
    },
    getFilter(data) {
      this.filter = data
      this.$refs.propertyFeeTable.load()
    }
  }
}
</script>
