<template>
  <div>
    <div class="card-content pt-2">
      <h3 class="pt-2">Forgot your {{ parameter }}?</h3>
      <h6 class="card-subtitle text-left pt-3 py-1">
        <span>Enter your email address below and we will get you back on track</span>
      </h6>

      <form class="form-horizontal" @submit.prevent="checkIfRecaptchaVerified">
        <fieldset>
          <div class="form-group">
            <input id="email-mask" v-model="email" type="text" class="form-control email-inputmask" placeholder="Enter Email Address" required>
          </div>
          <div class="form-group">
            <vue-recaptcha ref="recaptcha" :sitekey="captchaKey" @verify="onVerify"/>
          </div>
          <div><strong>{{ forgotForm.pleaseTickRecaptchaMessage }}</strong></div>

        </fieldset>
        <button type="submit" class="btn btn-info btn-lg btn-block"> Request Reset Link</button>
      </form>

    </div>
    <div class="card-footer login border-0">
      <p class="float-sm-left text-center">
        <nuxt-link to="/login"> Back to Login </nuxt-link>
      </p>
      <p class="float-sm-right text-center">New to NAS ?
        <nuxt-link to="/login"> Create Account </nuxt-link>
      </p>
    </div>
  </div>
</template>
<script>
import _ from 'lodash'
import to from 'await-to-js'
import VueRecaptcha from 'vue-recaptcha'
import Swal from 'sweetalert2'
export default {
  layout: 'clean',
  components: {
    VueRecaptcha,
    Swal
  },
  data() {
    return {
      email: '',
      parameter: '',
      captchaKey: '6LfCB4UUAAAAAN0pP5vzLnRNdRlQPCRMZLxGtKB9',
      forgotForm: {
        recaptchaVerified: false,
        pleaseTickRecaptchaMessage: ''
      }
    }
  },
  head() {
    return {
      script: [
        {
          src:
            'https://www.google.com/recaptcha/api.js?onload=vueRecaptchaApiLoaded&render=explicit',
          async: true,
          defer: true
        }
      ]
    }
  },

  mounted() {
    this.parameter = this.$route.query.forgot
  },
  methods: {
    onVerify: function(response) {
      console.log('Verify: ' + response)
      this.forgotForm.pleaseTickRecaptchaMessage = ''
      this.forgotForm.recaptchaVerified = true
    },
    async checkIfRecaptchaVerified(evt) {
      evt.preventDefault()
      if (!this.forgotForm.recaptchaVerified) {
        this.forgotForm.pleaseTickRecaptchaMessage = 'Please tick recaptcha.'
        return true // prevent form from submitting
      }
      if (this.parameter == 'Password') {
        let [err, email] = await to(
          this.$axios.$put(
            `/api/userInfos/request/passwordReset?email=${this.email}`,
            this.email
          )
        )

        if (err || !email) {
          Swal.fire('Error!', 'Please Input valid Email Address', 'error')
          console.log(err)
        } else {
          Swal.fire(
            'Success!',
            'Check your email account for verification',
            'success'
          )
        }
      } else {
        let [errUser, user] = await to(
          this.$axios.$get(
            `/api/userInfos/request/userName?email=${this.email}`,
            this.email
          )
        )
        if (errUser || !user) {
          Swal.fire('Error!', 'Please Input valid Email Address', 'error')
          console.log(errUser)
        } else {
          Swal.fire(
            'Success!',
            'Check your email account for verification',
            'success'
          )
        }
      }
    }
  }
}
</script>
