<template>
  <div class="card-content">
    <div class="card-body">
      <h1 class="h1">{{ $t('login.welcome') }}</h1>
      <ul class="nav nav-tabs nav-underline">
        <li class="nav-item col-xl-2 col-lg-12">
          <a :class="{active: selectedPage === 'login' }" class="nav-link" @click.prevent="selectedPage ='login'">{{ $t('login.login') }}</a>
        </li>

        <li class="nav-item col-xl-3 col-lg-12">
          <a :class="{active: selectedPage === 'register' }" class="nav-link" @click.prevent="selectedPage ='register'">{{ $t('login.register') }}</a>
        </li>

      </ul>
      <div class="tab-content pt-2">
        <template v-if="selectedPage === 'login'">
          <form class="form-horizontal form-simple">
            <fieldset>
              <h5>
                <small class="text-muted">{{ $t('login.username') }}</small>
              </h5>
              <div class="form-group">
                <input :placeholder="$t('login.username')" type="text" class="form-control" required>
              </div>
            </fieldset>
            <fieldset>
              <h5>
                <small class="text-muted">{{ $t('login.password') }}</small>
              </h5>
              <div class="form-group">
                <input id="user-password" :placeholder="$t('login.password')" type="password" class="form-control" required>
              </div>
            </fieldset>
            <fieldset>
              <div class="form-group">
                <h5>
                  <small class="text-muted">Select default language</small>
                </h5>
                <select v-model="defaultLocale" class="form-control local-select" @change="onLocaleChange">
                  <option v-for="locale in locales" :key="locale.value" :value="locale.value">
                    {{ locale.name }}
                  </option>
                </select>
              </div>
            </fieldset>
            <div class="form-group row">
              <div class="col-md-4 col-12 text-center text-md-left">
                <fieldset>
                  <input id="remember-me" type="checkbox" class="chk-remember">
                  <label for="remember-me"> {{ $t('login.rememberMe') }}</label>
                </fieldset>
              </div>
              <div class="col-md-8 col-12 text-center text-md-right">
                <nuxt-link to="/login/forgot?forgot=Username">
                  {{ $t('login.forgot') }}  {{ $t('login.username') }}?
                </nuxt-link>
                <nuxt-link to="/login/forgot?forgot=Password">
                  {{ $t('login.forgot') }} {{ $t('login.password') }}?
                </nuxt-link>
              </div>
            </div>
            <button type="submit" class="btn btn-info btn-lg btn-block"> {{ $t('login.login') }}</button>
          </form>
        </template>

        <template v-else>
          <div class="card-content">
            <div class="card-body no-padding">
              <h6>Step 1 of 2 - Personal Information</h6>
              <form class="form-horizontal form-simple" action="register.html">

                <h5 class="pt-1">
                  <small class="text-muted">*What is your role?</small>
                </h5>
                <button type="button" class="btn btn-info mr-1 mb-1 btn-secondary btn-sm"><i class="la la-check small-check"/>Appraiser</button>
                <button type="button" class="btn mr-1 mb-1 btn-secondary btn-sm">Lender</button>
                <button type="button" class="btn mr-1 mb-1 btn-secondary btn-sm">Mortgage Professional</button>

                <fieldset>
                  <h5>
                    <small class="text-muted">*Company Name</small>
                  </h5>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Company Name" required>
                  </div>
                </fieldset>
                <fieldset>
                  <h5>
                    <small class="text-muted">*First Name</small>
                  </h5>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter First Name" required>
                  </div>
                </fieldset>
                <fieldset>
                  <h5>
                    <small class="text-muted">*Last Name</small>
                  </h5>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter Last Name" required>
                  </div>
                </fieldset>
                <fieldset>
                  <h5>
                    <small class="text-muted">*Email</small>
                  </h5>
                  <div class="form-group">
                    <input id="email-mask" type="text" class="form-control email-inputmask" placeholder="Enter Email Address" required>
                  </div>
                </fieldset>

                <fieldset>
                  <h5>
                    <small class="text-muted">*Mobile (999) 999-9999</small>
                  </h5>
                  <div class="form-group">
                    <input id="phone-mask" type="text" class="form-control phone-inputmask" placeholder="Enter Phone Number" required>
                  </div>
                </fieldset>
                <fieldset>
                  <h5>
                    <small class="text-muted">Telephone Number (+1) 999 999 999 (Optional)</small>
                  </h5>
                  <div class="form-group">
                    <input id="international-mask" type="text" class="form-control international-inputmask"
                           placeholder="International Phone Number" >
                  </div>
                </fieldset>
                <fieldset>
                  <h5>
                    <small class="text-muted">Fax (999) 999-9999 / x999999 (Optional)</small>
                  </h5>
                  <div class="form-group">
                    <input id="xphone-mask" type="text" class="form-control xphone-inputmask" placeholder="Enter Phone Number"
                    >
                  </div>
                </fieldset>



                <button type="submit" class="btn btn-info btn-lg btn-block"> Continue</button>
              </form>
            </div>
            <p class="text-center pt-1">Already have an account? <a href="login.html" class="card-link">Login</a></p>

          </div>
        </template>
      </div>
    </div>
  </div>
</template>
<script>
import NasInput from '~/components/form/Input.vue'
import NasSelect from '~/components/form/Select.vue'
import { mapping } from '~/lib/util/locale'
import _ from 'lodash'

export default {
  components: {
    NasInput,
    NasSelect
  },
  data() {
    return {
      selectedPage: 'login',
      defaultLocale: this.$store.state.locale
    }
  },
  computed: {
    locales() {
      const locales = _.map(mapping, (v, k) => ({
        name: v,
        value: k
      }))

      return locales
    }
  },
  beforeCreate() {
    this.$i18n.locale = this.$store.state.locale
  },
  layout: 'clean',
  methods: {
    onLocaleChange() {
      this.$store.commit('SET_LANG', this.defaultLocale)
      this.$i18n.locale = this.defaultLocale
    }
  }
}
</script>
