<template>
  <div>
    <div class="card-content pt-2">
      <h3 class="pt-2">Reset your Password</h3>
      <div v-show="hasError" class="alert alert-danger" role="alert">
        <strong>Error!</strong> Your password must be 6-20 characters long, contain letters and numbers, contain mixed case letters (upper and lower case) and must contain atleast one special character (@#$%&!*)(-+=^).
      </div>
      <form class="form-horizontal" @submit.prevent="onSubmit">
        <fieldset>
          <div class="form-group">
            <div class="input-group">
              <input :type="[collapsed ? 'password' : 'text']" v-model="form.password" class="form-control" placeholder="Enter New Password" required autocomplete="password">
              <div class="input-group-addon">
                <a href="#" @click=" collapsed = !collapsed"><i :class="[collapsed ? 'la-eye-slash' : 'la-eye', 'la']" aria-hidden="true"/></a>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <input :type="[collapsedr ? 'password' : 'text']" v-model="rpassword" class="form-control" placeholder="Retype Password" required autocomplete="rpassword">
              <div class="input-group-addon">
                <a href="#" @click=" collapsedr = !collapsedr"><i :class="[collapsedr ? 'la-eye-slash' : 'la-eye', 'la']" aria-hidden="true"/></a>
              </div>
            </div>
          </div>
          <div v-if="mismatch"><strong>Password do not match.</strong></div>
        </fieldset>
        <button type="submit" class="btn btn-info btn-lg btn-block"> Save </button>
      </form>

    </div>
    <div class="card-footer login border-0">
      <p class="float-sm-left text-center">
        <nuxt-link to="/login"> Back to Login </nuxt-link>
      </p>
      <p class="float-sm-right text-center">New to NAS ?
        <nuxt-link to="/login"> Create Account </nuxt-link>
      </p>
    </div>
  </div>
</template>
<script>
import _ from 'lodash'
import to from 'await-to-js'
import Swal from 'sweetalert2'
export default {
  components: {
    Swal
  },
  layout: 'clean',
  data() {
    return {
      token: '',
      form: {
        password: ''
      },
      rpassword: '',
      mismatch: false,
      collapsed: true,
      collapsedr: true,
      hasError: false,
      strongRegex: new RegExp(
        '^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*])(?=.{6,})'
      )
    }
  },
  mounted() {
    this.token = this.$route.query.token
  },
  methods: {
    async onSubmit(evt) {
      evt.preventDefault()

      if (this.rpassword != this.form.password) {
        this.mismatch = true
      } else {
        this.mismatch = false
        if (this.strongRegex.test(this.form.password)) {
          let [err, password] = await to(
            this.$axios.$put(
              `/api/userInfos/request/passwordReset/proceed?token=${
                this.token
              }`,
              this.form
            )
          )
          if (err || !password) {
            Swal.fire('Error!', 'Error on Updating Password', 'error')

            this.$router.push({ path: `/login/reset?token=${this.token}` })
          } else {
            Swal.fire('Success!', 'Password Successfully Reset', 'success')
            this.$router.push('/login')
          }
        } else {
          this.hasError = true
        }
      }
    }
  }
}
</script>
