<template>
  <div class="card-content collapse show">
    <div class="card-body">
      <form @submit="onSubmit">
        <div class="row justify-content-md-center">
          <div class="col-md-6">
            <div class="form-body">  
              <h4 class="form-section"><i class="ft-briefcase"/> {{ $t('action.'+text+'') }} {{ $tc('systemAdmin.appraiserLicense.title', 1) }}</h4>
                      
              <auto-complete id="userId" v-model="form.appraiserUserid" :items="userNames" :name="$t('systemAdmin.compAppRank.appraiser')" required is-async @input="getUserNames" @clicked="getUserName" @lists="getUserNames"/>
              <nas-input id="designationType" v-model="form.designationType" :name="$t('systemAdmin.appraiserLicense.designation')"/>
              <nas-input id="memberNumber" v-model="form.memberNumber" :name="$t('systemAdmin.appraiserLicense.memberNumber')" type="number"/>
              <nas-select id="certifiedAppraisalReviewer" v-model="form.certifiedAppraisalReviewer" :items="yNs" :name="$t('systemAdmin.appraiserLicense.certifiedAppraisalReviewer')" />
            </div>
          </div>
        </div>
        <div class="form-actions center">
          <button type="reset" class="btn btn-danger">
            <i class="ft-refresh-cw position-right"/>
            {{ $t('action.reset') }}
          </button>
          <button type="submit" class="btn btn-primary">
            <i class="ft-check position-right"/>
            {{ $t('action.submit') }}
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import _ from 'lodash'
import to from 'await-to-js'

import NasInput from '~/components/form/Input.vue'
import NasSelect from '~/components/form/Select.vue'
import AutoComplete from '~/components/form/AutoComplete.vue'
import { getYNs } from '~/lib/util/commons/table'
import Swal from 'sweetalert2'

export default {
  components: {
    NasInput,
    NasSelect,
    AutoComplete,
    Swal
  },
  props: {
    submit: {
      type: Function,
      required: true,
      default: () => {}
    },
    data: {
      type: Object,
      required: false,
      default: () => {}
    },
    opts: {
      type: Object,
      required: false,
      default: () => {}
    }
  },
  data() {
    return {
      form: {},
      userNames: [],
      text: ''
    }
  },
  computed: {
    yNs() {
      const yNsOpts = getYNs()
      yNsOpts.unshift({ name: '', value: '' })
      return yNsOpts
    }
  },
  created() {
    if (this.data) {
      this.text = 'update'
      this.form = this.data
      this.userNames = _.get(this, 'opts.userNames')
    } else {
      this.text = 'add'
    }
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault()
      this.submit(this.form)
    },
    async getUserNames(search) {
      let userType = 'A'
      let [err, userInfos] = await to(
        this.$axios.$get(
          `/api/userInfos?userType=${userType}&username=${search}`
        )
      )
      if (err) {
        Swal.fire('Error!', err, 'error')
      }
      if (userInfos) {
        this.userNames = _.map(
          _.get(userInfos, '_embedded.userInfoList'),
          userInfo => ({
            name: userInfo.username,
            value: userInfo.id
          })
        )
      }
    },
    getUserName(username) {
      this.form.appraiserUserid = username.value
    }
  }
}
</script>
