<template>
  <div class="card-body">
    <section id="grid-with-label" class="grid-with-border">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">{{ $t('action.advanceFilter') }}</h4>
              <a class="heading-elements-toggle"><i class="ft-align-justify font-medium-3"/></a>
              <div class="heading-elements">
                <ul class="list-inline mb-0">
                  <li><a data-toggle="collapse" href="#collapseExample" @click=" collapsed = !collapsed"><i :class= "[collapsed ? 'ft-plus' : 'ft-minus']"/></a></li>
                </ul>
              </div>
            </div>
            <div id="collapseExample" class="card-content collapse hide">
              <div class="card-body">
                <form action="#">
                  <div class="form-body">
                    <div class="row">
                      <div class="col-md-4">
                        <auto-complete id="userId" v-model="filter.username" :items="userNames" :name="$t('systemAdmin.compAppRank.appraiser')" is-filter is-async @input="getUserNames" @clicked="getUserName"/>
                      </div>
                      <div class="col-md-4">
                        <nas-select id="country" v-model="filter.countryCode" :items="countries" :name="$t('systemAdmin.common.country')" is-filter/>
                      </div>
                      <div class="col-md-4">
                        <auto-complete id="regionId" v-model="filter.regionId" :items="regions" :name="$t('systemAdmin.common.region')" is-filter is-async @input="getRegions" @clicked="getRegion"/>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <auto-complete id="serviceTypeId" v-model="filter.serviceTypeId" :items="serviceTypes" :name="$tc('systemAdmin.service.title')" is-filter is-async @input="getServiceTypes" @clicked="getServiceType"/>
                      </div>
                      <div class="col-md-4">
                        <auto-complete id="priceRangeId" v-model="filter.priceRangeId" :items="priceRangeByCountry" :name="$t('systemAdmin.appraiserPricing.priceRangeDesc')" is-filter is-async @input="getPriceRanges" @clicked="getPriceRange"/>
                      </div>
                      <div class="col-md-4">
                        <nas-input id="price" v-model="filter.price" :name="$t('systemAdmin.propertyFee.price')" type="number" is-filter/>
                      </div>
                    </div>
                  </div>
                  <div class="form-actions filter-buttons">
                    <div class="text-right">
                      <button type="reset" class="btn mr-1 mb-1 btn-red btn-sm" @click="clearFilter">{{ $t('action.clear') }}</button>
                      <button type="button" class="btn mr-1 mb-1 btn-nas btn-sm" @click="apply">{{ $t('action.apply') }}</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import to from 'await-to-js'
import _ from 'lodash'
import NasInput from '~/components/form/Input.vue'
import NasSelect from '~/components/form/Select.vue'
import AutoComplete from '~/components/form/AutoComplete.vue'
import { getCountries } from '~/lib/util/region'
import Swal from 'sweetalert2'

export default {
  components: {
    NasInput,
    NasSelect,
    AutoComplete,
    Swal
  },
  data() {
    return {
      collapsed: true,
      filter: {},
      userNames: [],
      regions: [],
      serviceTypes: [],
      priceRangeByCountry: []
    }
  },
  computed: {
    countries() {
      const countriesOptions = getCountries()
      countriesOptions.unshift({ name: '', value: '' })
      return countriesOptions
    }
  },
  async mounted() {
    this.apply()
    this.clearFilter()
  },
  methods: {
    apply() {
      this.$emit('clicked', this.filter)
    },
    clearFilter() {
      this.filter = {}
      this.$emit('clicked', this.filter)
    },
    async getUserNames(search) {
      let userType = 'A'
      let [err, userInfos] = await to(
        this.$axios.$get(`/api/userInfos?${userType}&name=${search}`)
      )
      if (err) {
        Swal.fire('Error!', err, 'error')
      }
      if (userInfos) {
        this.userNames = _.map(
          _.get(userInfos, '_embedded.userInfoList'),
          userInfo => ({
            name: userInfo.username,
            value: userInfo.id
          })
        )
      }
    },
    getUserName(username) {
      this.filter.username = username.name
    },
    async getRegions(search) {
      let [err, regions] = await to(
        this.$axios.$get(`/api/regions?name=${search}`)
      )

      if (err) {
        Swal.fire('Error!', err, 'error')
      }
      if (regions) {
        this.regions = _.map(
          _.get(regions, '_embedded.regionList'),
          region => ({
            name: region.name,
            value: region.id
          })
        )
      }
    },
    getRegion(region) {
      this.filter.regionId = region.value
    },
    async getServiceTypes(search) {
      let [err, serviceType] = await to(
        this.$axios.$get(`/api/serviceTypes?service=${search}`)
      )

      if (err) {
        Swal.fire('Error!', err, 'error')
      }
      if (serviceType) {
        this.serviceTypes = _.map(
          _.get(serviceType, '_embedded.serviceTypeList'),
          c => ({
            name: c.service,
            value: c.serviceTypeId
          })
        )
      }
    },
    getServiceType(service) {
      this.filter.serviceTypeId = service.value
    },
    async getPriceRanges(search) {
      let [err, priceRange] = await to(
        this.$axios.$get(`/api/priceRangeByCountries?priceRangeDesc=${search}`)
      )

      if (err) {
        Swal.fire('Error!', err, 'error')
      }
      if (priceRange) {
        this.priceRangeByCountry = _.map(
          _.get(priceRange, '_embedded.priceRangeByCountryList'),
          c => ({
            name: c.priceRangeDesc,
            value: c.priceRangeId
          })
        )
      }
    },
    getPriceRange(price) {
      this.filter.priceRangeId = price.value
    }
  }
}
</script>
