<template>
  <form class="form form-horizontal striped-rows form-bordered">
    <div class="form-body">
      <nas-input id="aciKey" v-model="form.aci" data-title="ACI Sky" data-content="API Key to order all ACI products" name="ACI API Key" type="password"/>
      <nas-input id="aciCustomerKey" name="ACI Sky Delivery Customer Key" data-content="Customer Key for ACI Sky Delivery"/>
      <nas-input id="aciRuleId" name="ACI Sky Delivery Rule ID"/>
      <nas-input id="aciProfile1" name="ACI Sky Review Conditional Profile 1"/>
      <nas-input id="aciProfile1rule" name="ACI Sky Review Conditional Profile 1 Rule: CU Score less than or equal to" type="number"/>
      <nas-input id="aciProfile2" name="ACI Sky Review Conditional Profile 2"/>
      <nas-input id="aciProfile2rule" name="ACI Sky Review Conditional Profile 2 Rule: CU Score greater than" type="number"/>
      <nas-input id="aciEmail" name="ACI Sky Review Impersonate Email" type="email"/>
      <nas-input id="aciReviewProfile" name="ACI Sky Review Profile"/>
      <nas-radio v-model="form.priceType" :items="yesNo" label="Display ACI Sky Review Link" name="Display ACI Sky Review Link"/>

      <nas-checkbox id="aciDelivery" :items="aciDelivery" v-model="aci" name="Enable ACI Sky Delivery"/>
      <nas-checkbox id="aciRoleReview" :items="roleReview" v-model="aci" name="Role can Review Appraisals"/>
      <nas-checkbox id="aciRoleAssignReviewer" :items="roleReview" v-model="aci" name="Role/User Can Manually Assign Reviewer"/>
      <div class="form-group row">
        <label class="col-md-3 label-control label-alignment" for="Service2">Region Type</label>
        <div class="col-9 ms-container">
          <div class="ms-settings">
            <fieldset>
              <select id="Service2" class="selectize-select" required>
                <option value="">Select Region Type</option>
                <option value="U">Urban</option>
                <option value="R">Rural</option>
                <option value="X">Remote</option>
                <option value="S">Semi-Urban</option>
              </select>
            </fieldset>
          </div>
          <span class="question-icon mr-1 ml-1" data-toggle="popover" data-content="Tart macaroon marzipan I love soufflé apple pie wafer. Chocolate bar jelly caramels jujubes chocolate cake gummies."
                data-trigger="click" data-original-title="Hover Triggered"><i class="la la-question-circle" /></span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 label-control label-alignment" for="account_created3"><span class="danger">*</span>Last Updated</label>
        <div class="col-9 ms-container">
          <div class="ms-settings">
            <input id="account_created3" type="date" class="form-control singledate required">
          </div>
          <span class="question-icon mr-1 ml-1" data-toggle="popover" data-content="Tart macaroon marzipan I love soufflé apple pie wafer. Chocolate bar jelly caramels jujubes chocolate cake gummies."
                data-trigger="click" data-original-title="Hover Triggered"><i class="la la-question-circle" /></span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 label-control label-alignment">Rate Per Hour</label>
        <div class="col-9 ms-container">
          <div class="ms-settings-icon">
            <div class="input-group">
              <div class="input-group-prepend">
                <i class="input-group-text leftcurrency">$</i>
              </div>
              <input type="text" class="form-control input-sm" placeholder="" aria-label="Amount (to the nearest dollar)"
                     name="rateperhour">
              <span class="question-icon mr-1 ml-1" data-toggle="popover" data-content="Tart macaroon marzipan I love soufflé apple pie wafer. Chocolate bar jelly caramels jujubes chocolate cake gummies."
                    data-trigger="click" data-original-title="Hover Triggered"><i class="la la-question-circle" /></span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 label-control label-alignment">Use Branch Level Lender Details</label>
        <div class="col-md-9">
          <div class="input-group">
            <div class="d-inline-block custom-control custom-checkbox mr-1">
              <input id="amll" type="checkbox" name="checkbox" class="custom-control-input" checked="">
              <label class="custom-control-label" for="amll">Appraiser's Minimum License Level</label>
            </div>
            <div class="d-inline-block custom-control custom-checkbox">
              <input id="mlr" type="checkbox" name="checkbox" class="custom-control-input">
              <label class="custom-control-label" for="mlr">Minimum License Requirement</label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 label-control label-alignment" for="cat">Conditional Acceptance Time</label>
        <div class="col-9 ms-container">
          <div class="ms-settings">
            <fieldset>
              <div class="input-group">
                <input id="cat" type="text" class="form-control input-sm" placeholder="" aria-describedby="basic-addon3">
                <div class="input-group-append">
                  <span id="basic-addon3" class="input-group-text righttext">minutes</span>
                </div>
              </div>
            </fieldset>
          </div>
          <span class="question-icon mr-1 ml-1" data-toggle="popover" data-content="Tart macaroon marzipan I love soufflé apple pie wafer. Chocolate bar jelly caramels jujubes chocolate cake gummies."
                data-trigger="click" data-original-title="Hover Triggered"><i class="la la-question-circle" /></span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 label-control label-alignment" for="timesheetinput7">Notes</label>
        <div class="col-9 ms-container">
          <div class="ms-settings">
            <textarea id="timesheetinput7" rows="5" class="form-control input-sm" name="notes"/>
          </div>
          <span class="question-icon mr-1 ml-1" data-toggle="popover" data-content="Tart macaroon marzipan I love soufflé apple pie wafer. Chocolate bar jelly caramels jujubes chocolate cake gummies."
                data-trigger="click" data-original-title="Hover Triggered"><i class="la la-question-circle" /></span>
        </div>
      </div>
    </div>
  </form>
</template>
<script>
import NasInput from './Input.vue'
import NasRadio from './Radio.vue'
import NasSelect from './Select.vue'
import NasCheckbox from './Checkbox.vue'
export default {
  components: {
    NasInput,
    NasRadio,
    NasSelect,
    NasCheckbox
  },
  data() {
    return {
      aci: [],
      yesNo: [
        { name: 'Yes', value: 'Y' },
        { name: 'No', value: 'N' },
        { name: 'Blank', value: '' }
      ],
      aciDelivery: [
        { name: 'None', value: 'None' },
        { name: 'Appraiser', value: 'Appraiser' },
        { name: 'Appraisal Company', value: 'Appraisal Company' },
        { name: 'AMC', value: 'AMC' },
        { name: 'All', value: 'All' }
      ],
      roleReview: [
        { name: 'None', value: 'None' },
        { name: 'Account Executive', value: 'None' },
        { name: 'AMC User', value: 'None' },
        { name: 'Appraisal Company Owner', value: 'None' },
        { name: 'Appraisal Coordinator', value: 'None' },
        { name: 'Appraiser', value: 'None' },
        { name: 'Broker', value: 'None' },
        { name: 'Broker Owner', value: 'None' },
        { name: 'Customer Support Manager', value: 'None' },
        { name: 'Lender Account Manager', value: 'None' },
        { name: 'Lender Appraisal Processor', value: 'None' },
        { name: 'Loan Officer', value: 'None' },
        { name: 'Mortgage Manager', value: 'None' },
        { name: 'Payment User', value: 'None' },
        { name: 'Processor', value: 'None' },
        { name: 'QC User', value: 'None' },
        { name: 'Report Manager', value: 'None' },
        { name: 'Review Appraiser', value: 'None' },
        { name: 'Review Manager', value: 'None' },
        { name: 'Underwriter', value: 'None' }
      ],
      form: {}
    }
  }
}
</script>
