<template>
  <div class="form-group row">
    <label class="col-md-3 label-control label-alignment">{{ name }}</label>
    <div class="col-md-9">
      <div class="input-group">
        <div v-for="(item, index) in items" :key="name + '_' + index" >
          <div class="d-inline-block custom-control custom-checkbox mr-1">
            <input v-if="typeof item === 'string'" :id="name + '_' + item" :name="name" :checked="checked === item" :value="item" :required="required" class="custom-control-input" type="checkbox" @change="updateValue(item)" >
            <input v-else :id="name + '_' + item.value" :name="name" :checked="checked === item.value" :value="item.value" :required="required" class="custom-control-input" type="checkbox" @change="updateValue(item.value)">

            <label v-if="typeof item === 'string'" :for="name + '_' + item" class="custom-control-label">
              {{ typeof item === 'string' ? item : item.name }}
            </label>
            <label v-else :for="name + '_' + item.value" class="custom-control-label">
              {{ typeof item === 'string' ? item : item.name }}
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    value: {
      type: String | Array,
      required: false,
      default: ''
    },
    name: {
      type: String,
      required: true,
      default: ''
    },
    id: {
      type: String,
      required: true,
      default: ''
    },
    items: {
      type: Array,
      required: true,
      default: () => []
    },
    required: {
      type: Boolean,
      required: false,
      default: false
    },
    onChange: {
      type: Function,
      required: false,
      default: () => {}
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data() {
    return {
      checked: []
    }
  },
  watch: {
    value(value) {
      this.$emit('input', value)
    }
  },
  methods: {
    updateValue(value) {
      this.checked = [].concat(this.value)
      if (this.checked.includes(value)) {
        checked.splice(this.checked.indexOf(value), 1)
      } else {
        this.checked.push(value)
      }
      this.$emit('input', this.checked)
    }
  }
}
</script>
