<template>
  <div class="form-group row">
    <label class="col-md-3 label-control label-alignment" for="timesheetinput1">{{ name }}</label>
    <div class="col-9 ms-container">
      <div class="ms-settings">
        <input ref="inputRef" :id="id" :type="type"
               :name="name" :value="value" 
               class="form-control input-sm" 
               @input="updateValue()">
      </div>
      <span :data-content="dataContent" :data-title="dataTitle" :title="dataContent"
            class="question-icon mr-1 ml-1" data-toggle="popover" data-trigger="hover"><i class="la la-question-circle" />
      </span>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    id: {
      type: String,
      required: true,
      default: ''
    },
    name: {
      type: String,
      required: true,
      default: ''
    },
    type: {
      type: String,
      required: false,
      default: 'text'
    },
    value: {
      type: [String, Number, Date],
      required: false,
      default: ''
    },
    dataContent: {
      type: String,
      required: false,
      default: 'text'
    },
    dataTitle: {
      type: String,
      required: false,
      default: 'Title'
    }
  },
  methods: {
    updateValue() {
      this.$emit('input', this.$refs.inputRef.value)
    }
  }
}
</script>
