<template>
  <div class="form-group row">
    <label class="col-md-3 label-control label-alignment">{{ label }}</label>
    <div class="col-md-9">
      <div class="input-group">
        <div v-for="(item, index) in items" :key="name + '_' + index" class="radio">
          <div class="d-inline-block custom-control custom-radio mr-1">
            <input v-if="typeof item === 'string'" :id="name + '_' + item" :name="name" :checked="checked === item" :value="item" :required="required" class="custom-control-input" type="radio" @change="updateValue(item)">
            <input v-else :id="name + '_' + item.value" :name="name" :checked="checked === item.value" :value="item.value" :required="required" class="custom-control-input" type="radio" @change="updateValue(item.value)">

            <label v-if="typeof item === 'string'" :for="name + '_' + item" class="custom-control-label">
              {{ typeof item === 'string' ? item : item.name }}
            </label>
            <label v-else :for="name + '_' + item.value" class="custom-control-label">
              {{ typeof item === 'string' ? item : item.name }}
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import _ from 'lodash'

export default {
  name: 'Radio',
  props: {
    value: {
      type: String,
      required: false,
      default: ''
    },
    type: {
      type: String,
      required: false,
      default: 'radio'
    },
    default: {
      type: String,
      required: false,
      default: ''
    },
    label: {
      type: String,
      required: true,
      default: ''
    },
    name: {
      type: String,
      required: true,
      default: ''
    },
    items: {
      type: Array,
      required: true,
      default: () => []
    },
    required: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data() {
    return {
      checked: this.value
    }
  },
  watch: {
    value(value) {
      this.checked = value
      this.$emit('input', value)
    }
  },
  methods: {
    updateValue(value) {
      this.checked = value
      this.$emit('input', value)
    }
  }
}
</script>
