<template>
  <div>
    <div class="form-group row">
      <label :for="id" class="col-md-3 label-control label-alignment">{{ name }}</label>
      <div class="col-9 ms-container">
        <div class="ms-settings">
          <fieldset>
            <select :id="id" class="form-control input-sm" @input="(e) => updateValue(e)">
              <option v-for="(item, index) in mappedItems" :key="name + '_' + index"
                      :value="item.value" :selected="value === item.value">
                {{ item.name }}
              </option>
            </select>
          </fieldset>
        </div>
        <span class="question-icon mr-1 ml-1" data-toggle="popover" data-content="Tart macaroon marzipan I love soufflé apple pie wafer. Chocolate bar jelly caramels jujubes chocolate cake gummies."
              data-trigger="click" data-original-title="Hover Triggered"><i class="la la-question-circle" /></span>
      </div>
    </div>
  </div>
</template>
<script>
import _ from 'lodash'
export default {
  props: {
    value: {
      type: String,
      required: false,
      default: ''
    },
    name: {
      type: String,
      required: true,
      default: ''
    },
    id: {
      type: String,
      required: true,
      default: ''
    },
    items: {
      type: Array,
      required: true,
      default: () => []
    },
    required: {
      type: Boolean,
      required: false,
      default: false
    },
    onChange: {
      type: Function,
      required: false,
      default: () => {}
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false
    },
    isFilter: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  computed: {
    mappedItems() {
      if (typeof this.items === 'string') {
        return _.map(this.items, item => _.merge({ name: item, value: item }))
      }

      return this.items
    }
  },
  methods: {
    updateValue(e) {
      this.$emit('input', e.target.value)
    }
  }
}
</script>
