<template>
  <div>
    <div v-if="!isFilter" class="form-group row">
      <label :for="id" class="col-md-3 label-control">
        <span v-if="required" class="danger">*</span>
        {{ name }}
      </label>
      <div class="col-md-9">
        <input :required="required" :disabled="disabled" v-model="search"
               :placeholder="placeholder || name" type="text"
               class="form-control"
               @input="onChange" @click="getList">
        <ul v-show="isOpen" class="autocomplete-results">
          <li v-if="isLoading" class="loading">
            Loading results...
          </li>
          <li v-if="!hasResult" class="loading">
            No results found...
          </li>
          <li v-for="(result, i) in results" :key="i"
              :class="{ 'is-active': i === arrowCounter }"
              class="autocomplete-result"
              @click="setResult(result)">
            {{ result.name }}
          </li>
        </ul>
      </div>
    </div>
    <div v-else class="form-group">
      <label :for="id">{{ name }}
        <span v-if="required" class="danger">*</span>
      </label>
      <input :required="required" :disabled="disabled" v-model="search"
             :placeholder="placeholder || name" type="text"
             class="form-control"
             @input="onChange" @click="getList">
      <ul v-show="isOpen" class="autocomplete-results">
        <li v-if="isLoading" class="loading">
          Loading results...
        </li>
        <li v-if="!hasResult" class="loading">
          No results found...
        </li>
        <li v-for="(result, i) in results" :key="i"
            :class="{ 'is-active': i === arrowCounter }"
            class="autocomplete-result"
            @click="setResult(result)">
          {{ result.name }}
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
import _ from 'lodash'

export default {
  name: 'Autocomplete',
  props: {
    value: {
      type: [String, Number],
      required: false,
      default: ''
    },
    name: {
      type: String,
      required: true,
      default: ''
    },
    id: {
      type: String,
      required: true,
      default: ''
    },
    placeholder: {
      type: String,
      required: false,
      default: ''
    },
    items: {
      type: Array,
      required: false,
      default: () => []
    },
    isAsync: {
      type: Boolean,
      required: false,
      default: false
    },
    required: {
      type: Boolean,
      required: false,
      default: false
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false
    },
    isFilter: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data() {
    return {
      search: '',
      results: [],
      isLoading: false,
      arrowCounter: -1,
      isOpen: false,
      hasValue: true,
      hasResult: true,
      initClick: false
    }
  },
  watch: {
    // Once the items content changes, it means the parent component
    // provided the needed data
    items: function(value, oldValue) {
      // we want to make sure we only do this when it's an async request
      if (this.isAsync) {
        this.results = value
        this.isOpen = true
        this.isLoading = false
        if (value.length == 0) {
          this.hasResult = false
        }
      }
    }
  },
  mounted() {
    document.addEventListener('click', this.handleClickOutside)
    const initialValue = _.find(this.items, i => {
      return i.value == this.value
    })

    this.search = _.get(initialValue, 'name')
  },
  destroyed() {
    document.removeEventListener('click', this.handleClickOutside)
  },
  methods: {
    getList() {
      if (this.initClick == false) {
        this.initClick = true
        this.$emit('lists', this.results)
      }
    },
    onChange() {
      // Let's warn the parent that a change was made
      this.$emit('input', this.search)
      this.hasValue = false
      // Is the data given by an outside ajax request?
      if (this.isAsync) {
        this.isLoading = true
        this.hasResult = true
      } else {
        // Data is sync, we can search our flat array
        this.filterResults()
        this.isOpen = true
      }
    },
    filterResults() {
      this.results = this.items.filter(
        item => item.name.toLowerCase().indexOf(this.search.toLowerCase()) > -1
      )

      if (this.results.length == 0) {
        this.search = null
      }
    },
    setResult(result) {
      this.search = result.name
      this.isOpen = false
      this.$emit('clicked', result)
      this.hasValue = true
    },
    handleClickOutside(evt) {
      if (!this.$el.contains(evt.target)) {
        this.isOpen = false
        this.arrowCounter = -1
        console.log(this.hasValue)
        if (!this.hasValue) {
          this.search = null
        }
      }
    }
  }
}
</script>
<style>
.autocomplete-results {
  padding: 0;
  margin: 0;
  border: 1px solid #eeeeee;
  height: 120px;
  overflow: auto;
}

.autocomplete-result {
  list-style: none;
  text-align: left;
  padding: 4px 2px;
  cursor: pointer;
}

.autocomplete-result:hover {
  background-color: #428bca;
  color: white;
}
.autocomplete-result.is-active,
.autocomplete-result:hover {
  background-color: #428bca;
  color: white;
}
</style>
