<template>
  <div>
    <div v-if="!isFilter" class="form-group row">
      <label
        :for="id"
        class="col-md-3 label-control">
        <span v-if="required" class="danger">*</span>
        {{ name }}
      </label>
      <div class="col-md-9">
        <textarea
          v-if="type=='textarea'"
          ref="inputRef"
          :id="id"
          :value="value"
          :placeholder="placeholder || name"
          :required="required"
          :rows="rows"
          :disabled="disabled"
          class="form-control"
          @input="updateValue()"
        />
        <input
          v-else
          ref="inputRef"
          :type="type"
          :id="id"
          :placeholder="placeholder || name"
          :required="required"
          :disabled="disabled"
          :value="value"
          class="form-control"
          @input="updateValue()"
        >
      </div>
    </div>
    <div v-else class="form-group">
      <label
        :for="id">{{ labelName }} 
        <span v-if="required" class="danger">*</span>
      </label>

      <textarea
        v-if="type=='textarea'"
        ref="inputRef"
        :id="id"
        :value="value"
        :placeholder="placeholder || name"
        :required="required"
        :rows="rows"
        :disabled="disabled"
        class="form-control"
        @input="updateValue()"
      />
      <input
        v-else
        ref="inputRef"
        :type="type"
        :id="id"
        :placeholder="placeholder || name"
        :required="required"
        :disabled="disabled"
        :value="value"
        class="form-control"
        @input="updateValue()"
      >
    </div>
  </div>
</template>
<script>
export default {
  props: {
    id: {
      type: String,
      required: true,
      default: ''
    },
    name: {
      type: String,
      required: true,
      default: ''
    },
    required: {
      type: Boolean,
      required: false,
      default: false
    },
    placeholder: {
      type: String,
      required: false,
      default: ''
    },
    value: {
      type: [String, Number, Date],
      required: false,
      default: ''
    },
    type: {
      type: String,
      required: false,
      default: 'text'
    },
    rows: {
      type: String,
      required: false,
      default: '5'
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false
    },
    isFilter: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data() {
    return {
      labelName: `${this.name} ${this.required ? '*' : ''}` // add * for required fields
    }
  },
  methods: {
    updateValue() {
      this.$emit('input', this.$refs.inputRef.value)
    }
  }
}
</script>
