<template>
  <div class="form-group row">
    <label class="col-md-3 label-control">
      <span v-if="required" class="danger">*</span>
      {{ label }}
    </label>
    <div class="col-md-9">
      <fieldset v-for="(item, index) in items" :key="name + '_' + index" class="radio">
        <label :for="name">
          <input v-if="typeof item === 'string'" :id="name + '_' + item" :name="name" :checked="checked === item" :value="item" :required="required" type="radio" @change="updateValue(item)">
          <input v-else :id="name + '_' + item.value" :name="name" :checked="checked === item.value" :value="item.value" :required="required" type="radio" @change="updateValue(item.value)">

          {{ typeof item === 'string' ? item : item.name }}
        </label>
      </fieldset>
    </div>
  </div>
</template>
<script>
import _ from 'lodash'

export default {
  name: 'Radio',
  props: {
    value: {
      type: String,
      required: false,
      default: ''
    },
    default: {
      type: String,
      required: false,
      default: ''
    },
    label: {
      type: String,
      required: true,
      default: ''
    },
    name: {
      type: String,
      required: true,
      default: ''
    },
    items: {
      type: Array,
      required: true,
      default: () => []
    },
    required: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data() {
    return {
      checked: this.value
    }
  },
  watch: {
    value(value) {
      this.checked = value
      this.$emit('input', value)
    }
  },
  methods: {
    updateValue(value) {
      this.checked = value
      this.$emit('input', value)
    }
  }
}
</script>
