<template>
  <div>
    <div v-if="!isFilter" class="form-group row">
      <label :for="id" class="col-md-3 label-control">
        <span v-if="required" class="danger">*</span>
        {{ name }}
      </label>
      <div class="col-md-9">
        <select :id="id" :name="name" :data-title="name" :disabled="disabled" :required="required"
                class="form-control" data-toggle="tooltip" data-trigger="hover"
                data-placement="top" @input="(e) => updateValue(e)">
          <option v-for="(item, index) in mappedItems" :key="name + '_' + index"
                  :value="item.value" :selected="value === item.value">
            {{ item.name }}
          </option>
        </select>
      </div>
    </div>
    <div v-else class="form-group">
      <label :for="id">{{ name }} 
        <span v-if="required" class="danger">*</span>
      </label>
      <select :id="id" :name="name" :data-title="name" :disabled="disabled" :required="required"
              class="form-control" data-toggle="tooltip" data-trigger="hover"
              data-placement="top" @input="(e) => updateValue(e)">
        <option v-for="(item, index) in mappedItems" :key="name + '_' + index"
                :value="item.value" :selected="value === item.value">
          {{ item.name }}
        </option>
      </select>
    </div>
  </div>
</template>
<script>
import _ from 'lodash'
export default {
  props: {
    value: {
      type: String,
      required: false,
      default: ''
    },
    name: {
      type: String,
      required: true,
      default: ''
    },
    id: {
      type: String,
      required: true,
      default: ''
    },
    items: {
      type: Array,
      required: true,
      default: () => []
    },
    required: {
      type: Boolean,
      required: false,
      default: false
    },
    onChange: {
      type: Function,
      required: false,
      default: () => {}
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false
    },
    isFilter: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  computed: {
    mappedItems() {
      if (typeof this.items === 'string') {
        return _.map(this.items, item => _.merge({ name: item, value: item }))
      }

      return this.items
    }
  },
  methods: {
    updateValue(e) {
      this.$emit('input', e.target.value)
    }
  }
}
</script>
