<template>
  <div class="card-body">
    <section id="grid-with-label" class="grid-with-border">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">{{ $t('action.advanceFilter') }}</h4>
              <a class="heading-elements-toggle"><i class="ft-align-justify font-medium-3"/></a>
              <div class="heading-elements">
                <ul class="list-inline mb-0">
                  <li><a data-toggle="collapse" href="#collapseExample" @click=" collapsed = !collapsed"><i :class= "[collapsed ? 'ft-plus' : 'ft-minus']"/></a></li>
                </ul>
              </div>
            </div>
            <div
              id="collapseExample"
              class="card-content collapse hide">
              <div class="card-body">
                <form action="#">
                  <div class="form-body">
                    <div class="row">
                      <div class="col-md-4">
                        <nas-input id="username" v-model="filter.username" :name="$t('systemAdmin.user.username')" type="text" />
                      </div>
                      <div class="col-md-4">
                        <nas-input id="firstName" v-model="filter.firstName" :name="$t('systemAdmin.user.firstName')" type="text" />
                      </div>
                      <div class="col-md-4">
                        <nas-input id="lastName" v-model="filter.lastName" :name="$t('systemAdmin.user.lastName')" type="text" />
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-4">
                        <nas-input id="emailAddress" v-model="filter.emailAddress" :name="$t('systemAdmin.user.emailAddress')" type="email" />
                      </div>
                      <div class="col-md-4">
                        <nas-select id="userType" v-model="filter.userType" :items="types" :name="$t('systemAdmin.user.userType')" />
                      </div>
                    </div>
                  </div>
                  <div class="form-actions filter-buttons">
                    <div class="text-right">
                      <button type="reset" class="btn mr-1 mb-1 btn-red btn-sm" @click="clearFilter">{{ $t('action.clear') }}</button>
                      <button type="button" class="btn mr-1 mb-1 btn-nas btn-sm" @click="apply">{{ $t('action.apply') }}</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>  
</template>
<script>
import _ from 'lodash'
import NasInput from '~/components/form/Input.vue'
import NasSelect from '~/components/form/Select.vue'
import { getTypes } from '~/lib/util/user'

export default {
  components: {
    NasInput,
    NasSelect
  },
  props: {
    table: {
      type: Object,
      required: true,
      default: () => {}
    }
  },
  data() {
    return {
      collapsed: true,
      filter: {
        username: '',
        firstName: '',
        lastName: '',
        emailAddress: '',
        userType: ''
      }
    }
  },
  computed: {
    types() {
      const typeOptions = getTypes()
      typeOptions.unshift({ name: 'Select User Type', value: '' })
      return typeOptions
    }
  },
  async mounted() {
    this.apply()
    this.clearFilter()
  },
  methods: {
    apply() {
      this.$emit('clicked', this.filter)
    },
    clearFilter() {
      this.filter = {}
      this.$emit('clicked', this.filter)
    }
  }
}
</script>
