<template>
  <div class="content-body">
    <section id="basic-form-layouts">
      <div class="row match-height">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="btn-group float-md-right cta" role="group" aria-label="Button group with nested">
                <nuxt-link to="/company">
                  <button class="btn btn-info round" type="button"><i class="la la-th-list"/>{{ $t('action.view') }} {{ $tc('systemAdmin.company.title', 2) }}</button>
                </nuxt-link>
              </div>
            </div>
            <div class="card-content collapse show">
              <div class="card-body">
                <form @submit="onSubmit">
                  <div class="row justify-content-md-center">
                    <div class="col-md-6">
                      <div class="form-body">
                        <h4 class="form-section"><i class="ft-briefcase"/> {{ $t('action.update') }} {{ $tc('systemAdmin.company.title', 1) }}</h4>

                        <nas-input id="name" v-model="datas.name" :name="$t('systemAdmin.company.companyName')" required />
                        <nas-input id="displayName" v-model="datas.displayName" :name="$t('systemAdmin.company.displayName')" />
                        <nas-input id="reportGroup" v-model="datas.reportGroup" :name="$t('systemAdmin.company.reportGroup')" required />
                        <nas-input id="adminCategory" v-model="datas.adminCategory" :name="$t('systemAdmin.company.adminCategory')" />
                        <nas-input id="email" v-model="datas.email" :name="$t('systemAdmin.company.email')" type="email" required />
                        <nas-input id="bccEmail" v-model="datas.bccEmail" :name="$t('systemAdmin.company.bccEmail')" type="email" />
                        <nas-input id="searchLimitPerFile" v-model="datas.searchLimitPerFile" :name="$t('systemAdmin.company.searchLimitPerFile')" type="number" placeholder="15" />
                        <nas-input id="searchLimitPerDay" v-model="datas.searchLimitPerDay" :name="$t('systemAdmin.company.searchLimitPerDay')" type="number" placeholder="300" />
                        <nas-input id="requirements" v-model="datas.requirements" :name="$t('systemAdmin.company.requirements')" type="textarea" rows="5"/>

                        <div class="form-group">
                          <label>{{ $t('systemAdmin.company.uploadRequirementFile') }}</label>
                          <label for="files" class="file center-block">
                            <input id="files" ref="files" type="file" name="files" multiple @change="updateList" >
                            <span class="file-custom"/>
                          </label>
                          <div id="fileList">
                            <ul>
                              <li
                                v-for="name in fileNames"
                                :key="name">{{ name }}</li>
                            </ul>
                          </div>
                        </div>

                        <h4 class="form-section"><i class="ft-briefcase"/>Company Account</h4>
                        <nas-radio v-model="datas.type" :items="companyTypes" label="Company Type" name="companyType" required/>
                        <nas-radio v-model="datas.complReport" :items="['Attachment', 'Link']" label="Compl Report" name="compl" required/>


                        <h4 class="form-section"><i class="ft-user"/>{{ $t('systemAdmin.company.defaultSettings') }}</h4>
                        <nas-radio v-model="datas.mipAccess" :default="form.mipAccess"
                                   :items="yesNo" :label="$t('systemAdmin.company.portalAccess')" name="mipAccess"/>

                        <nas-radio v-model="datas.mobileAccess" :default="form.mobileAccess"
                                   :items="yesNo" :label="$t('systemAdmin.company.mobileAccess')" name="mobileAccess"/>
                        <nas-radio v-model="datas.notifyByEmail" :default="form.notifyByEmail"
                                   :items="yesNo" :label="$t('systemAdmin.company.appointmentNotification')" name="notifyByEmail"/>
                        <nas-radio v-model="datas.active" :default="form.active"
                                   :items="[{name: 'Active', value: 'Y'}, {name: 'Inactive', value: 'N'}]"
                                   :label="$t('systemAdmin.common.status')" name="active"/>
                      </div>
                    </div>
                  </div>
                  <div class="form-actions center">
                    <button type="reset" class="btn btn-danger">
                      <i class="ft-refresh-cw position-right"/> {{ $t('action.reset') }}
                    </button>
                    <button type="submit" class="btn btn-info">
                      <i class="la la-check-square-o"/>{{ $t('action.update') }} {{ $tc('systemAdmin.company.title') }}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import NasInput from '~/components/form/Input.vue'
import NasRadio from '~/components/form/Radio.vue'

import _ from 'lodash'
import to from 'await-to-js'
import Swal from 'sweetalert2'
export default {
  components: {
    NasInput,
    NasRadio,
    Swal
  },
  data() {
    return {
      companyTypes: [
        { name: 'Appraiser', value: 'A', required: true },
        { name: 'Client', value: 'C', required: true }
      ],
      yesNo: [{ name: 'Yes', value: 'Y' }, { name: 'No', value: 'N' }],
      items: [],
      fileNames: [],
      form: {
        active: 'Y',
        mipAccess: 'N',
        mobileAccess: 'N',
        notifyByEmail: 'Y'
      }
    }
  },
  created() {
    if (this.datas.requirementsFile) {
      console.log(this.datas)
      this.fileNames = this.datas.requirementsFile.split(';')
    }
  },
  async asyncData({ app, params }) {
    const datas = await app.$axios.$get(`/api/companies/${params.id}`)
    return { datas }
  },
  methods: {
    async onSubmit(evt) {
      evt.preventDefault()
      if (this.datas.files) {
        const formData = new FormData()

        formData.append('active', this.datas.active)
        formData.append('adminCategory', this.datas.adminCategory)
        formData.append('bccEmail', this.datas.bccEmail)
        formData.append('type', this.datas.type)
        formData.append('complReport', this.datas.complReport)
        if (this.datas.displayName) {
          formData.append('displayName', this.datas.displayName)
        }

        formData.append('email', this.datas.email)
        formData.append('lastUpdatedBy', this.datas.lastUpdatedBy)
        formData.append('mipAccess', this.datas.mipAccess)
        formData.append('mobileAccess', this.datas.mobileAccess)
        formData.append('name', this.datas.name)
        formData.append('notifyByEmail', this.datas.notifyByEmail)
        formData.append('reportGroup', this.datas.reportGroup)
        formData.append('requirements', this.datas.requirements)
        _.each(this.datas.files, (file, i) => {
          formData.append(`files`, file)
        })

        formData.append('searchLimitPerFile', this.datas.searchLimitPerFile)
        formData.append('searchLimitPerDay', this.datas.searchLimitPerDay)

        let [err, company] = await to(
          this.$axios.$put(
            `/api/companies/${this.datas.id}/fileupload/`,
            formData,
            {
              headers: {
                'Content-Type': 'multipart/form-data'
              }
            }
          )
        )
        if (err || !company) {
          Swal.fire('Error!', 'Company name already exist', 'error')
        } else {
          Swal.fire('Success!', 'Data Successfully Updated', 'success')
          this.$router.push('/company')
        }
      } else {
        let [err, company] = await to(
          this.$axios.$put(`/api/companies/${this.datas.id}`, this.datas)
        )
        if (err || !company) {
          Swal.fire('Error!', 'Company name already exist', 'error')
        } else {
          Swal.fire('Success!', 'Data Successfully Updated', 'success')
          this.$router.push('/company')
        }
      }
    },
    updateList(event) {
      const files = this.$refs.files.files
      this.form.files = files
      console.log(files)

      this.fileNames = []

      _.each(files, (file, i) => {
        this.fileNames.push(file.name)
      })
      this.datas.files = this.form.files
      console.log(this.form.files)
    }
  }
}
</script>
