<template>
  <div class="content-body">
    <!-- Basic form layout section start -->
    <section id="basic-form-layouts">
      <div class="row match-height">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="btn-group float-md-right cta" role="group" aria-label="Button group with nested">
                <nuxt-link to="/company">
                  <button class="btn btn-info round" type="button" @click="setPath('/company')"><i class="la la-th-list"/>{{ $t('action.view') }} {{ $tc('systemAdmin.company.title', 2) }}</button>
                </nuxt-link>
              </div>
            </div>
            <div class="card-content collapse show">
              <div class="card-body">
                <form @submit="onSubmit">
                  <div class="row justify-content-md-center">
                    <div class="col-md-6">
                      <div class="form-body">
                        <h4 class="form-section"><i class="ft-briefcase"/> {{ $t('action.add') }} {{ $tc('systemAdmin.company.title', 1) }}</h4>

                        <nas-input id="name" v-model="form.name" :name="$t('systemAdmin.company.companyName')" required />
                        <nas-input id="displayName" v-model="form.displayName" :name="$t('systemAdmin.company.displayName')" />
                        <nas-input id="reportGroup" v-model="form.reportGroup" :name="$t('systemAdmin.company.reportGroup')" required />
                        <nas-input id="adminCategory" v-model="form.adminCategory" :name="$t('systemAdmin.company.adminCategory')" />
                        <nas-input id="email" v-model="form.email" :name="$t('systemAdmin.company.email')" type="email" required />
                        <nas-input id="bccEmail" v-model="form.bccEmail" :name="$t('systemAdmin.company.bccEmail')" type="email" />
                        <nas-input id="searchLimitPerFile" v-model="form.searchLimitPerFile" :name="$t('systemAdmin.company.searchLimitPerFile')" type="number" placeholder="15"/>
                        <nas-input id="searchLimitPerDay" v-model="form.searchLimitPerDay" :name="$t('systemAdmin.company.searchLimitPerDay')" type="number" placeholder="300"/>
                        <nas-input id="requirements" v-model="form.requirements" :name="$t('systemAdmin.company.requirements')" type="textarea" rows="5"/>
                        <div class="form-group row">
                          <label class="col-md-3 label-control">{{ $t('systemAdmin.company.uploadRequirementFile') }}</label>
                          <div class="col-md-9">
                            <label for="files" class="file center-block">
                              <input id="files" ref="files" type="file" name="files" multiple @change="updateList" >
                              <span class="file-custom"/>
                            </label>
                            <div id="fileList">
                              <ul>
                                <li v-for="name in fileNames" :key="name">{{ name }}</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <h4 class="form-section"><i class="ft-briefcase" />{{ $t('systemAdmin.company.companyAccount') }}</h4>

                        <nas-radio v-model="form.type" :items="companyTypes" :label="$t('systemAdmin.company.type')" name="companyType" required/>
                        <nas-radio v-model="form.complReport" :items="['Attachment', 'Link']" :label="$t('systemAdmin.company.complReport')" name="compl" required/>

                        <div class="form-group">
                          <h4 class="form-section"><i class="ft-user"/>{{ $t('systemAdmin.company.defaultSettings') }}</h4>
                          <nas-radio v-model="form.mipAccess" :default="form.mipAccess"
                                     :items="yesNo" :label="$t('systemAdmin.company.portalAccess')" name="mipAccess"/>
                        </div>

                        <nas-radio v-model="form.mobileAccess" :items="yesNo" :label="$t('systemAdmin.company.mobileAccess')" name="mobileAccess"/>
                        <nas-radio v-model="form.notifyByEmail" :items="yesNo" :label="$t('systemAdmin.company.appointmentNotification')" name="notifyByEmail"/>
                        <nas-radio v-model="form.active" :items="[{name: 'Active', value: 'Y'}, {name: 'Inactive', value: 'N'}]"
                                   :label="$t('systemAdmin.common.status')" name="active"/>
                      </div>
                    </div>
                  </div>
                  <div class="form-actions center">
                    <button type="reset" class="btn btn-danger">
                      <i class="ft-refresh-cw position-right"/> {{ $t('action.reset') }}
                    </button>
                    <button type="submit" class="btn btn-info">
                      <i class="la la-check-square-o"/>{{ $t('action.add') }} {{ $tc('systemAdmin.company.title') }}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- // Basic form layout section end -->
  </div>
</template>

<script>
import _ from 'lodash'
import to from 'await-to-js'
import NasInput from '~/components/form/Input.vue'
import NasRadio from '~/components/form/Radio.vue'
import { getTypes } from '~/lib/util/company'
import Swal from 'sweetalert2'
export default {
  name: 'AddCompany',
  components: {
    NasInput,
    NasRadio,
    Swal
  },
  data() {
    return {
      yesNo: [{ name: 'Yes', value: 'Y' }, { name: 'No', value: 'N' }],
      items: [],
      fileNames: [],
      form: {
        active: 'Y',
        mipAccess: 'N',
        mobileAccess: 'N',
        notifyByEmail: 'Y'
      }
    }
  },
  computed: {
    companyTypes() {
      return getTypes()
    }
  },
  beforeCreate() {
    this.$store.commit('SET_LIST', this.$route.path)
  },
  methods: {
    setPath(path) {
      this.$store.commit('SET_LIST', this.$route.path)
    },
    async onSubmit(evt) {
      evt.preventDefault()
      if (this.form.files) {
        const formData = new FormData()

        formData.append('active', this.form.active)
        formData.append('adminCategory', this.form.adminCategory)
        formData.append('bccEmail', this.form.bccEmail)
        formData.append('type', this.form.type)
        formData.append('complReport', this.form.complReport)
        if (this.form.displayName) {
          formData.append('displayName', this.form.displayName)
        }

        formData.append('email', this.form.email)
        formData.append('lastUpdatedBy', this.form.lastUpdatedBy)
        formData.append('mipAccess', this.form.mipAccess)
        formData.append('mobileAccess', this.form.mobileAccess)
        formData.append('name', this.form.name)
        formData.append('notifyByEmail', this.form.notifyByEmail)
        formData.append('reportGroup', this.form.reportGroup)
        formData.append('requirements', this.form.requirements)

        _.each(this.form.files, (file, i) => {
          formData.append(`files`, file)
        })

        formData.append('searchLimitPerFile', this.form.searchLimitPerFile)
        formData.append('searchLimitPerDay', this.form.searchLimitPerDay)

        let [err, company] = await to(
          this.$axios.$post(`/api/companies/fileupload`, formData, {
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          })
        )
        if (err || !company) {
          Swal.fire('Error!', 'Company name already exist', 'error')
        } else {
          Swal.fire('Success!', 'New Data Successfully Added', 'success')
          this.$router.push('/company')
        }
      } else {
        let [err, company] = await to(
          this.$axios.$post(`/api/companies/`, this.form)
        )
        if (err || !company) {
          Swal.fire('Error!', 'Company name already exist', 'error')
        } else {
          Swal.fire('Success!', 'New Data Successfully Added', 'success')
          this.$router.push('/company')
        }
      }
    },
    updateList(event) {
      const files = this.$refs.files.files
      this.form.files = files
      console.log(files)

      this.fileNames = []

      _.each(files, (file, i) => {
        this.fileNames.push(file.name)
      })
    }
  }
}
</script>
