<template>
  <div class="content-body">
    <section class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-head">
            <div class="card-header">
              <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"/></a>

              <div class="heading-elements">
                <div
                  class="btn-group float-md-right cta"
                  role="group"
                  aria-label="Button group with nested">
                  <nuxt-link to="/company/add">
                    <button class="btn btn-info round" type="button">
                      <i class="ft-plus-circle"/>{{ $t('action.add') }} {{ $tc('systemAdmin.company.title') }}
                    </button>
                  </nuxt-link>

                </div>
              </div>
            </div>
            <nas-table id="companies-table" ref="companiesTable" :columns="columns" :api="api"
                       :filter="filter" :has-active-flag="true" sort-by="id,desc" page-name="company"/>
                  
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import to from 'await-to-js'
import _ from 'lodash'

import NasTable from '~/components/table'
import { getAction } from '~/lib/util/action.js'
import { getType } from '~/lib/util/company'
import { ellipsis } from '~/lib/util/datatable.js'
import AdvanceFilter from '~/components/systemAdmin/company/AdvanceFilter.vue'
import Swal from 'sweetalert2'

export default {
  components: {
    NasTable,
    AdvanceFilter,
    Swal
  },
  data() {
    return {
      table: {},
      api: {
        url: '/api/companies',
        dataPath: '_embedded.companyList'
      },
      columns: [
        {
          data: 'id',
          title: this.$t('action.action'),
          render: this.action(this.hide, '/company/'),
          isComponent: true,
          show: true
        },
        {
          data: 'name',
          title: this.$t('systemAdmin.company.companyName'),
          show: true
        },
        {
          data: 'type',
          title: this.$t('systemAdmin.company.type'),
          render: this.type(),
          show: true
        },
        {
          data: 'displayName',
          title: this.$t('systemAdmin.company.displayName'),
          show: true
        },
        {
          data: 'requirementsFile',
          title: this.$t('systemAdmin.company.requirementsFile'),
          render: ellipsis(20),
          show: true
        },
        {
          data: 'lenderInd',
          title: this.$t('systemAdmin.company.lenderInd'),
          render: this.yesNo(),
          show: true
        },
        {
          data: 'subprime',
          title: this.$t('systemAdmin.company.requirementsFile'),
          show: true
        },
        {
          data: 'bccEmail',
          title: this.$t('systemAdmin.company.bccEmail'),
          show: true
        },
        {
          data: 'bccOtheremail',
          title: this.$t('systemAdmin.company.bccOtheremail'),
          show: true
        }
      ],
      filter: {}
    }
  },
  beforeCreate() {
    this.$store.commit('SET_LIST', this.$route.path)
  },
  methods: {
    type() {
      return data => getType({ value: data }, 'name')
    },
    yesNo() {
      return data => {
        const yN = {
          Y: 'Yes',
          N: 'No'
        }

        return _.get(yN, data, '')
      }
    },
    action(hide, path) {
      return data => {
        return getAction(data, hide, path)
      }
    },
    async hide(id) {
      try {
        let result = await Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes, delete it!',
          cancelButtonText: 'No, cancel!'
        })
        // SUCCESS
        if (result.value) {
          const flag = 'N'
          const [errHide, hide] = await to(
            this.$axios.$put(`/api/companies/${id}/active/${flag}`)
          )
          if (hide) {
            Swal.fire('Deleted!', 'Your file has been deleted!', 'success')
            this.$refs.companiesTable.load()
          } else {
            Swal.fire('Error!', errHide, 'error')
          }
        }
      } catch (e) {
        // Fail!
        console.error(e)
        Swal.fire('Error!', 'Error on Deleting File!', 'error')
      }
    },
    getFilter(data) {
      this.filter = data
      this.$refs.companiesTable.load()
    }
  }
}
</script>
