<template>
  <div class="dataTables_length">
    <label>{{ $t('action.show') }}
      <select name="region-table_length" aria-controls="region-table"
              class="form-control form-control-sm" @input="(e) => updateValue(e)">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
      {{ $t('action.entries') }}
    </label>
  </div>
</template>
<script>
export default {
  methods: {
    updateValue(e) {
      this.$emit('input', e.target.value)
    }
  }
}
</script>
