<template>
  <div class="card-body grid-with-border">
    <div class="card-content">
      <div class="card">
        <div class="card-body">
          <div class="mb-3">
            <div class="card-header">
              <h4 class="card-title">{{ $tc('systemAdmin.'+pageName+'.title', 2) }}</h4>
            </div>
          </div>
          <div class="table-responsive">
            <div class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <nas-entries v-model="entries" @input="onChangeEntries()"/>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div class="dropdown ColVis float-right">
                    <button id="dropdownMenuButton" class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" @click="toggleShowColumn">
                      {{ $t('action.showHideColumns') }}
                    </button>
                    <div :style="{display: isShowColumnSettings}" class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
                      <div v-for="column in columnsData" :key="'showHide_' + column.data" class="dropdown-item">
                        <label>
                          <input :checked="column.show" type="checkbox" @change="e => toggleColumn(e, column)">
                          <span>{{ column.title }}</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-content">
                <div class="card-body">
                  <div class="table-responsive">
                    <div class="row">
                      <div :id="tableId" class="col-sm-12 ">
                        <table class="table table-white-space table-bordered row-grouping display no-wrap icheck table-middle">
                          <nas-thead :columns="columnsData" :sort-by="sortBy" :on-sort="onSort" />
                          <nas-tbody :columns="columnsData" :data="data"/>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-5">
                  <div id="users-contacts_info" class="dataTables_info">
                    {{ $tc('action.showingOf', 2, {start: ( page.number * page.size ) + 1, size: pageTo, total: page.totalElements }) }}
                  </div>
                </div>
                <div class="col-sm-12 col-md-7">
                  <div class="dataTables_paginate paging_simple_numbers">
                    <ul class="pagination">
                      <li :class="{ disabled: !hasPrev() }" class="paginate_button page-item previous">
                        <span class="page-link" @click="goto(0)">
                          {{ $t('action.first') }}
                        </span>
                      </li>
                      <li :class="{ disabled: !hasPrev() }" class="paginate_button page-item previous">
                        <span class="page-link" @click="goto(page.number - 1)">
                          {{ $t('action.previous') }}
                        </span>
                      </li>
                      <li v-for="(n) in pageListed" :key="'page_' + n" :class=" { active: isCurrentPage(n) }" class="paginate_button page-item">
                        <span class="page-link" @click="goto(n - 1)">
                          {{ n }}
                        </span>
                      </li>
                      <li :class="{ disabled: !hasNext() }" class="paginate_button page-item next">
                        <span class="page-link" @click="goto(page.number + 1)">
                          {{ $t('action.next') }}
                        </span>
                      </li>
                      <li :class="{ disabled: !hasNext() }" class="paginate_button page-item next">
                        <span class="page-link" @click="goto(page.totalPages - 1)">
                          {{ $t('action.last') }}
                        </span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
<script>
import to from 'await-to-js'
import _ from 'lodash'
import queryString from 'query-string'
import NasThead from './thead.vue'
import NasTbody from './tbody.vue'
import NasEntries from './entries.vue'
import Swal from 'sweetalert2'
export default {
  components: {
    NasThead,
    NasTbody,
    NasEntries,
    Swal
  },
  props: {
    columns: {
      type: Array,
      required: true,
      default: () => []
    },
    sortBy: {
      type: String,
      required: false,
      default: ''
    },
    id: {
      type: String,
      required: true,
      default: ''
    },
    api: {
      type: Object,
      required: true,
      default: () => {}
    },
    filter: {
      type: Object,
      required: true,
      default: () => {}
    },
    hasActiveFlag: {
      type: Boolean,
      required: true,
      default: () => {}
    },
    pageName: {
      type: String,
      required: true,
      default: ''
    }
  },
  data() {
    return {
      entries: 10, // set 10 as default number of entries
      data: [],
      isShowColumnSettings: 'none',
      page: {
        number: 0,
        totalPages: 0,
        size: 0,
        totalElements: 0
      },
      pageOptions: {},
      sortByData: this.sortBy,
      pageListed: [],
      columnsData: this.columns
    }
  },
  computed: {
    tableId() {
      return `${this.id}_wrapper`
    },
    pageTo() {
      const computedTo = this.page.number * this.page.size + this.page.size
      if (computedTo < this.page.totalElements) {
        return computedTo
      }
      return this.page.totalElements
    }
  },
  async mounted() {
    this.load()
  },
  methods: {
    toggleShowColumn() {
      this.isShowColumnSettings =
        this.isShowColumnSettings === 'none' ? 'block' : 'none'
    },
    toggleColumn(e, column) {
      const isShow = e.target.checked
      const columnIndex = _.findIndex(this.columnsData, {
        title: column.title
      })

      this.columnsData[columnIndex].show = isShow
    },
    async updatePageListed() {
      const pageListed = []
      const MAX_PAGE_LISTED =
        this.page.totalPages < 8 ? this.page.totalPages : 8
      const pageNum = this.page.number + 1 // add 1 because the page starts at 0
      let counter = 1
      pageListed.push(pageNum)

      while (_.size(pageListed) < MAX_PAGE_LISTED) {
        const lowerNum = pageNum - counter
        const upperNum = pageNum + counter
        if (_.gt(lowerNum, 0)) {
          pageListed.push(lowerNum)
        }

        if (_.lte(upperNum, this.page.totalPages)) {
          pageListed.push(upperNum)
        }

        counter++
      }

      this.pageListed = _.sortBy(pageListed)
    },
    isCurrentPage(n) {
      return n === this.page.number + 1
    },
    hasPrev() {
      return this.page.number > 0
    },
    hasNext() {
      return this.page.number < this.page.totalPages - 1
    },
    getBaseUrlQuery() {
      // size, sort and filter should always be in included in query
      let url = this.api.url
      const query = {
        size: this.entries
      }

      if (this.sortByData) {
        _.set(query, 'sort', this.sortByData)
      }

      const filterWithValue = _.pickBy(this.filter, _.identity) // pickBy will only get the fields that has value
      const hasFilter = !_.isEmpty(filterWithValue) // isEmpty will check if the object is empty

      // if filter is empty don't add it to query
      if (hasFilter) {
        _.merge(query, filterWithValue)
      }

      url += '?' + queryString.stringify(query)
      return url
    },
    async goto(n) {
      let url = this.getBaseUrlQuery()
      let [err, fetchedData] = await to(this.$axios.$get(`${url}&page=${n}`))
      if (!err) {
        this.updateData(fetchedData)
      }
    },
    async updateData(fetchedData) {
      const path = this.api.dataPath
      if (path) {
        this.data = _.get(fetchedData, path)
      } else {
        this.data = fetchedData
      }
      this.page = fetchedData.page
      this.updatePageListed()
    },
    async onSort(sortBy) {
      this.sortByData = sortBy
      this.load()
    },
    async load() {
      let url = this.getBaseUrlQuery()
      if (this.hasActiveFlag) {
        let [err, fetchedData] = await to(this.$axios.$get(`${url}&active=Y`))
        if (err) {
          Swal.fire('Error!', err, 'error')
        } else {
          this.updateData(fetchedData)
        }
      } else {
        console.log(url)
        let [err, fetchedData] = await to(this.$axios.$get(url))
        if (err) {
          Swal.fire('Error!', err, 'error')
        } else {
          this.updateData(fetchedData)
        }
      }
    },
    async onChangeEntries() {
      this.load()
    }
  }
}
</script>
<style>
ul.ColVis_collection {
  width: auto;
  background: #fff;
  list-style-type: none;
}
.scrollable-menu {
  height: auto;
  max-height: 250px;
  overflow-x: hidden;
}
div.dropdown-menu.scrollable-menu {
  height: 250px;
}
</style>
