<template>
  <div class="row">
    <div class="col-sm-12 col-md-5">
      <div id="users-contacts_info" class="dataTables_info">
        Showing {{ pageNumber+1 }} to {{ totalPages }} of {{ total }} entries
      </div>
    </div>

    <div class="col-sm-12 col-md-7">
      <div class="dataTables_paginate paging_simple_numbers">
        <ul class="pagination">
          <li :class="{ disabled: !hasPrev() }" class="paginate_button page-item previous">
            <span class="page-link" @click="goto(0)">
              First
            </span>
          </li>
          <li :class="{ disabled: !hasPrev() }" class="paginate_button page-item previous">
            <span class="page-link" @click="goto(page.number - 1)">
              Previous
            </span>
          </li>
          <li v-for="(n) in pageList" :key="'page_' + n" :class=" { active: isCurrentPage(n) }" class="paginate_button page-item">
            <span class="page-link" @click="goto(n - 1)">
              {{ n }}
            </span>
          </li>
          <li :class="{ disabled: !hasNext() }" class="paginate_button page-item next">
            <span class="page-link" @click="goto(page.number + 1)">
              Next
            </span>
          </li>
          <li :class="{ disabled: !hasNext() }" class="paginate_button page-item next">
            <span class="page-link" @click="goto(page.totalPages - 1)">
              Last
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
import _ from 'lodash'
export default {
  props: {
    totalPages: {
      type: Number,
      required: true
    },
    total: {
      type: Number,
      required: true
    },
    pageNumber: {
      type: Number,
      required: true
    },
    pageList: {
      type: Array,
      required: true,
      default: () => []
    }
  },
  data() {
    return {
      page: {
        number: 0,
        totalPages: 0,
        size: 0,
        totalElements: 0
      },
      pageListed: []
    }
  },
  methods: {
    // pageTo() {
    //   const computedTo = this.page.number * this.page.size + this.page.size
    //   if (computedTo < this.page.totalElements) {
    //     return computedTo
    //   }
    //   return this.page.totalElements
    // },
    // async updatePageListed() {
    //   const pageListed = []
    //   const MAX_PAGE_LISTED =
    //     this.page.totalPages < 8 ? this.page.totalPages : 8
    //   const pageNum = this.page.number + 1 // add 1 because the page starts at 0
    //   let counter = 1
    //   pageListed.push(pageNum)

    //   while (_.size(pageListed) < MAX_PAGE_LISTED) {
    //     const lowerNum = pageNum - counter
    //     const upperNum = pageNum + counter
    //     if (_.gt(lowerNum, 0)) {
    //       pageListed.push(lowerNum)
    //     }

    //     if (_.lte(upperNum, this.page.totalPages)) {
    //       pageListed.push(upperNum)
    //     }

    //     counter++
    //   }

    //   this.pageListed = _.sortBy(pageListed)
    // },
    isCurrentPage(n) {
      return n === this.page.number + 1
    },
    hasPrev() {
      return this.page.number > 0
    },
    hasNext() {
      return this.page.number < this.page.totalPages - 1
    }
  }
}
</script>
