<template>
  <tbody>
    <tr v-for="(item) in data" :key="item.id">
      <td v-for="column in visibleColumns" :key="column.data">
        <component v-if="column.isComponent" :is="column.render(item[column.data])" />
        {{ !column.isComponent ? displayData(column, item) : '' }}
      </td>
    </tr>
  </tbody>
</template>
<script>
import _ from 'lodash'

export default {
  props: {
    columns: {
      type: Array,
      required: true,
      default: () => []
    },
    data: {
      type: Array,
      required: true,
      default: () => []
    }
  },
  computed: {
    visibleColumns() {
      return _.filter(this.columns, { show: true })
    }
  },
  methods: {
    displayData(column, item) {
      const data = _.get(item, column.data)
      if (column.render) {
        return column.render(data, item)
      }

      return data
    }
  }
}
</script>
