<template>
  <thead>
    <tr role="row">
      <th v-for="column in visibleColumns" :key="column.data"
          :class="getSortClass(column)" @click="updateSort(column)">
        {{ column.title }}
      </th>
    </tr>
  </thead>
</template>
<script>
import _ from 'lodash'

export default {
  props: {
    columns: {
      type: Array,
      required: true,
      default: () => []
    },
    sortBy: {
      type: String,
      required: false,
      default: ''
    },
    onSort: {
      type: Function,
      required: false,
      default: () => {}
    },
    sortEnabled: {
      type: Boolean,
      required: false,
      default: true
    }
  },
  data() {
    return {
      sortByData: this.sortBy
    }
  },
  computed: {
    visibleColumns() {
      return _.filter(this.columns, { show: true })
    }
  },
  methods: {
    updateSort(column) {
      const sortByObj = this.sortByObj()
      // toggle direction if same column
      if (sortByObj.name === column.data) {
        this.sortByData = `${column.data},${this.toggledDirection()}`
      } else {
        // default is asc
        this.sortByData = `${column.data},asc`
      }

      this.onSort(this.sortByData)
    },
    toggledDirection() {
      const sortByObj = this.sortByObj()
      return sortByObj.direction === 'asc' ? 'desc' : 'asc'
    },
    sortByObj() {
      const split = _.split(this.sortByData, ',')
      const name = split[0] || _.get(this, 'columns.0.data', '')
      const direction = split[1] || 'asc'

      return {
        name,
        direction
      }
    },
    getSortClass(column) {
      if (!this.sortEnabled) {
        return
      }

      const sortByObj = this.sortByObj()

      // no sort class for disable
      if (_.has(column, 'sortable') && !column.sortable) {
        return
      }

      // if the column is not the defined sortBy
      if (_.get(column, 'sortable', true)) {
        if (sortByObj.name !== column.data) {
          return 'sorting'
        }

        // if the column is the defined sortBy
        return `sorting_${sortByObj.direction}`
      }
    }
  }
}
</script>
