<template>
  <li class="dropdown dropdown-language nav-item">
    <a id="dropdown-flag" class="dropdown-toggle nav-link" href="#"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ displayLocale }}
      <span class="selected-language"/>
      <i class="ft-chevron-down"/>
    </a>
    <div class="dropdown-menu" >
      <button class="dropdown-item" @click="setLang('en')" >English</button>
      <button class="dropdown-item" @click="setLang('fr')" >Français</button>
      <button class="dropdown-item" @click="setLang('es')" >Español</button>
    </div>
  </li>
</template>
<script>
import { getDisplay, mapping } from '~/lib/util/locale'

export default {
  data() {
    return {
      displayLocale: getDisplay(this.$store.state.locale),
      localeMapping: mapping
    }
  },
  methods: {
    setLang(lang) {
      this.displayLocale = getDisplay(lang)
      this.$store.commit('SET_LANG', lang)
      this.$i18n.locale = lang
    }
  }
}
</script>
