<template>
  <div class="card-body">
    <section id="grid-with-label" class="grid-with-border">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">{{ $t('action.advanceFilter') }}</h4>
              <a class="heading-elements-toggle"><i class="ft-align-justify font-medium-3"/></a>
              <div class="heading-elements">
                <ul class="list-inline mb-0">
                  <li><a data-toggle="collapse" href="#collapseExample" @click=" collapsed = !collapsed"><i :class= "[collapsed ? 'ft-plus' : 'ft-minus']"/></a></li>
                </ul>
              </div>
            </div>
            <div id="collapseExample" class="card-content collapse hide">
              <div class="card-body">
                <form action="#">
                  <div class="form-body">
                    <div class="row">
                      <div class="col-md-3">
                        <auto-complete id="userId" v-model="filter.userId" :items="userNames" :name="$t('systemAdmin.user.username')" is-filter is-async @input="getUserNames" @clicked="getUserName"/>
                      </div>
                      <div class="col-md-3">
                        <auto-complete id="regionId" v-model="filter.regionId" :items="regions" :name="$t('systemAdmin.common.region')" is-filter is-async @input="getRegions" @clicked="getRegion"/>
                      </div>
                      <div class="col-md-3">
                        <nas-input id="mileage" v-model="filter.mileage" :name="$t('systemAdmin.appraiserRegion.mileage')" is-filter />
                      </div>
                      <div class="col-md-3">
                        <nas-input id="comment" v-model="filter.comment" :name="$t('systemAdmin.appraiserRegion.comment')" is-filter/>
                      </div>
                    </div>
                  </div>
                  <div class="form-actions filter-buttons">
                    <div class="text-right">
                      <button type="reset" class="btn mr-1 mb-1 btn-red btn-sm" @click="clearFilter">{{ $t('action.clear') }}</button>
                      <button type="button" class="btn mr-1 mb-1 btn-nas btn-sm" @click="apply">{{ $t('action.apply') }}</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import to from 'await-to-js'
import _ from 'lodash'
import NasInput from '~/components/form/Input.vue'
import AutoComplete from '~/components/form/AutoComplete.vue'
import Swal from 'sweetalert2'
export default {
  components: {
    NasInput,
    AutoComplete,
    Swal
  },
  data() {
    return {
      collapsed: true,
      filter: {},
      userNames: [],
      regions: []
    }
  },
  async mounted() {
    this.apply()
    this.clearFilter()
  },
  methods: {
    apply() {
      this.$emit('clicked', this.filter)
    },
    clearFilter() {
      this.filter = {}
      this.$emit('clicked', this.filter)
    },
    async getUserNames(search) {
      let [err, userInfos] = await to(
        this.$axios.$get(`/api/userInfos?name=${search}`)
      )

      if (err) {
        Swal.fire('Error!', err, 'error')
      }
      if (userInfos) {
        this.userNames = _.map(
          _.get(userInfos, '_embedded.userInfoList'),
          userInfo => ({
            name: userInfo.username,
            value: userInfo.id
          })
        )
      }
    },
    getUserName(username) {
      this.filter.userId = username.value
    },
    async getRegions(search) {
      let [err, regions] = await to(
        this.$axios.$get(`/api/regions?name=${search}`)
      )

      if (err) {
        Swal.fire('Error!', err, 'error')
      }
      if (regions) {
        this.regions = _.map(
          _.get(regions, '_embedded.regionList'),
          region => ({
            name: region.name,
            value: region.id
          })
        )
      }
    },
    getRegion(region) {
      this.filter.regionId = region.value
    }
  }
}
</script>
