<template>
  <div class="card-content collapse show">
    <div class="card-body">
      <form @submit="onSubmit">
        <div class="row justify-content-md-center">
          <div class="col-md-6">
            <div class="form-body">
              <h4 class="form-section"><i class="ft-briefcase"/> {{ $t('action.'+text+'') }} {{ $tc('systemAdmin.appraiserRegion.title', 1) }}</h4>

              <auto-complete id="userId" v-model="form.userId" :items="userNames" :name="$t('systemAdmin.user.username')" required is-async @input="getUserNames" @clicked="getUserName" @lists="getUserNames"/>
              <auto-complete id="regionId" v-model="form.regionId" :items="regions" :name="$t('systemAdmin.common.region')" required is-async @input="getRegions" @clicked="getRegion" @lists="getRegions"/>
              <nas-input id="mileage" v-model="form.mileage" :name="$t('systemAdmin.appraiserRegion.mileage')"/>
              <nas-input id="comment" v-model="form.comment" :name="$t('systemAdmin.appraiserRegion.comment')" type="textarea"/>
            </div>
          </div>
        </div>
        <div class="form-actions center">
          <button type="reset" class="btn btn-danger">
            <i class="ft-refresh-cw position-right"/> {{ $t('action.reset') }}
          </button>
          <button type="submit" class="btn btn-primary">
            <i class="la la-check-square-o"/>{{ $t('action.submit') }}
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import _ from 'lodash'
import to from 'await-to-js'
import NasInput from '~/components/form/Input.vue'
import AutoComplete from '~/components/form/AutoComplete.vue'
import Swal from 'sweetalert2'

export default {
  components: {
    NasInput,
    AutoComplete,
    Swal
  },
  props: {
    submit: {
      type: Function,
      required: true,
      default: () => {}
    },
    data: {
      type: Object,
      required: false,
      default: () => {}
    },
    opts: {
      type: Object,
      required: false,
      default: () => {}
    }
  },
  data() {
    return {
      form: {},
      userNames: [],
      regions: [],
      text: ''
    }
  },
  created() {
    if (this.data) {
      this.text = 'update'
      this.form = this.data
      this.userNames = _.get(this, 'opts.userNames')
      this.regions = _.get(this, 'opts.region')
    } else {
      this.text = 'add'
    }
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault()
      this.submit(this.form)
    },
    async getUserNames(search) {
      let userType = 'A'
      let [err, userInfos] = await to(
        this.$axios.$get(`/api/userInfos?userType=${userType}&name=${search}`)
      )

      if (err) {
        Swal.fire('Error!', err, 'error')
      }
      if (userInfos) {
        this.userNames = _.map(
          _.get(userInfos, '_embedded.userInfoList'),
          userInfo => ({
            name: userInfo.username,
            value: userInfo.id
          })
        )
      }
    },
    getUserName(username) {
      this.form.userId = username.value
    },
    async getRegions(search) {
      let [err, regions] = await to(
        this.$axios.$get(`/api/regions?name=${search}`)
      )

      if (err) {
        Swal.fire('Error!', err, 'error')
      }
      if (regions) {
        this.regions = _.map(
          _.get(regions, '_embedded.regionList'),
          region => ({
            name: region.name,
            value: region.id
          })
        )
      }
    },
    getRegion(region) {
      this.form.regionId = region.value
    }
  }
}
</script>
