<template>
  <div class="content-body">
    <section id="basic-form-layouts">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="btn-group float-md-right cta" role="group" aria-label="Button group with nested">
              <nuxt-link to="/comp-app-rank">
                <button class="btn btn-info round" type="submit"><i class="la la-th-list"/>{{ $t('action.view') }} {{ $t('systemAdmin.compAppRank.title') }}</button>
              </nuxt-link>
            </div>
          </div>
          <div class="card-content collapse show">
            <div class="card-body">
              <form class="form" @submit="onSubmit">
                <div class="row justify-content-md-center">
                  <div class="col-md-6">
                    <div class="form-body">
                      <h4 class="form-section"><i class="ft-briefcase"/> {{ $t('action.update') }} {{ $tc('systemAdmin.compAppRank.title', 1) }}</h4>

                      <auto-complete id="userName" v-model="form.userName" :items="userNames" :name="$t('systemAdmin.compAppRank.appraiser')" required is-async @input="getUserNames" @clicked="getUserName" @lists="getUserNames"/>
                      <auto-complete id="clientCompany" v-model="form.companyId" :items="companies" :name="$t('systemAdmin.common.clientCompany')" required is-async @input="getCompanies" @clicked="getCompanyId" @lists="getCompanies"/>
                      <auto-complete id="regionId" v-model="form.regionId" :items="regions" :name="$t('systemAdmin.common.region')" required is-async @input="getRegions" @clicked="getRegionId" @lists="getRegions"/>
                      <nas-input id="rank" v-model="form.rank" :name="$t('systemAdmin.common.rank')" required type="number" />
                      <auto-complete id="serviceDesc" v-model="form.serviceType" :items="serviceTypes" :name="$tc('systemAdmin.service.title')" required is-async @input="getServiceTypes" @clicked="getServiceType" @lists="getServiceTypes"/>
                      <nas-select id="virtual" v-model="form.virtual" :items="yNs" :name="$t('systemAdmin.common.virtual')" required />
                      <nas-input id="branchNo" v-model="form.branchNo" :name="$t('systemAdmin.compAppRank.branchNo')" type="number" />
                    </div>
                  </div>
                </div>
                <div class="form-actions center">
                  <button type="reset" class="btn btn-danger">
                    <i class="ft-refresh-cw position-right"/> {{ $t('action.reset') }}
                  </button>
                  <button type="submit" class="btn btn-success">
                    <i class="ft-thumbs-up position-right"/> {{ $t('action.submit') }}
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import _ from 'lodash'
import to from 'await-to-js'

import AutoComplete from '~/components/form/AutoComplete.vue'
import NasInput from '~/components/form/Input.vue'
import NasSelect from '~/components/form/Select.vue'
import { getYNs } from '~/lib/util/commons/table'
import Swal from 'sweetalert2'

export default {
  components: {
    NasInput,
    NasSelect,
    AutoComplete,
    Swal
  },
  async asyncData({ app, params }) {
    let form = {}
    let regions = []
    let companies = []
    let userNames = []
    let serviceTypes = []

    let [rankErr, compAppRank] = await to(
      app.$axios.$get(`/api/companyAppraiserRanks/${params.id}`)
    )

    if (compAppRank) {
      form = compAppRank
    } else {
      Swal.fire('Error!', rankErr, 'error')
    }

    if (form.regionId) {
      let [errRegion, region] = await to(
        app.$axios.$get(`/api/regions/${form.regionId}`)
      )
      if (region) {
        regions.push({ name: region.name, value: region.id })
      } else {
        Swal.fire('Error!', errRegion, 'error')
      }
    }

    if (form.companyId) {
      let [err, company] = await to(
        app.$axios.$get(`/api/companies/${form.companyId}`)
      )
      if (company) {
        companies.push({ name: company.name, value: company.id })
      } else {
        Swal.fire('Error!', err, 'error')
      }
    }

    if (form.userName) {
      userNames.push({ name: form.userName, value: form.userName })
    }

    if (form.serviceType) {
      let [errService, service] = await to(
        app.$axios.$get(`/api/serviceTypes/${form.serviceType}`)
      )
      if (service) {
        serviceTypes.push({
          name: service.service,
          value: service.serviceTypeId
        })
      } else {
        Swal.fire('Error!', errService, 'error')
      }
    }
    return { serviceTypes, form, regions, companies, userNames }
  },
  computed: {
    yNs() {
      const yNsOpts = getYNs()
      yNsOpts.unshift({ name: '', value: '' })
      return yNsOpts
    }
  },
  methods: {
    getServiceType(service) {
      this.form.serviceType = service.value
    },
    async getServiceTypes(search) {
      let [errService, service] = await to(
        this.$axios.$get(`/api/serviceTypes?service=${search}`)
      )

      if (service) {
        this.serviceTypes = _.map(
          _.get(service, '_embedded.serviceTypeList'),
          c => ({
            name: c.service,
            value: c.serviceTypeId
          })
        )
      } else {
        Swal.fire('Error!', errService, 'error')
        this.serviceTypes = []
      }
    },
    getCompanyId(company) {
      this.form.companyId = company.value
    },
    async getCompanies(search) {
      let [errComp, companies] = await to(
        this.$axios.$get(`/api/companies?name=${search}`)
      )

      if (companies) {
        this.companies = _.map(
          _.get(companies, '_embedded.companyList'),
          c => ({
            name: c.name,
            value: c.id
          })
        )
      } else {
        Swal.fire('Error!', errComp, 'error')

        this.companies = []
      }
    },
    async getRegions(search) {
      let [err, regions] = await to(
        this.$axios.$get(`/api/regions?name=${search}`)
      )

      if (regions) {
        this.regions = _.map(
          _.get(regions, '_embedded.regionList'),
          region => ({
            name: region.name,
            value: region.id
          })
        )
      } else {
        Swal.fire('Error!', err, 'error')
      }
    },
    getRegionId(region) {
      this.form.regionId = region.value
    },
    async getUserNames(search) {
      let userType = 'A'
      let [err, userInfos] = await to(
        this.$axios.$get(`/api/userInfos?userType=${userType}&name=${search}`)
      )

      if (userInfos) {
        this.userNames = _.map(
          _.get(userInfos, '_embedded.userInfoList'),
          userInfo => ({
            name: userInfo.username,
            value: userInfo.username
          })
        )
      } else {
        Swal.fire('Error!', err, 'error')
      }
    },
    getUserName(username) {
      this.form.userName = username.value
    },
    async onSubmit(evt) {
      evt.preventDefault()

      this.form.lastAssigned = new Date()
      this.form.lastUpdatedBy = 'Johnren'

      let [err, rule] = await to(
        this.$axios.$put(
          `/api/companyAppraiserRanks/${this.form.id}`,
          this.form
        )
      )

      if (err || !rule) {
        Swal.fire('Error!', 'Error on Updating Data', 'error')
      } else {
        Swal.fire('Success!', 'Data Successfully Updated', 'success')
        this.$router.push('/comp-app-rank')
      }
    }
  }
}
</script>
