<template>
  <div class="content-body">
    <section class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-head">
            <div class="card-header">
              <h4 class="card-title">{{ $t('action.view') }} {{ $t('systemAdmin.compAppRank.title') }}</h4>
              <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"/></a>

              <div class="heading-elements">
                <div
                  class="btn-group float-md-right cta"
                  role="group"
                  aria-label="Button group with nested">
                  <nuxt-link
                    to="/comp-app-rank/add"
                    data-i18n="nav.data_tables.dt_basic_initialization">
                    <button
                      class="btn btn-info round"
                      type="button"><i class="ft-plus-circle"/>{{ $t('action.add') }} {{ $t('systemAdmin.compAppRank.title') }}</button>
                  </nuxt-link>

                </div>
              </div>
            </div>

            <advance-filter @clicked="getFilter"/>

            <nas-table id="comp-app-rank-table" ref="compAppRankTable" :columns="columns" :api="api"
                       :filter="filter" :has-active-flag="true" sort-by="id,desc" page-name="compAppRank"/>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import to from 'await-to-js'
import _ from 'lodash'

import NasTable from '~/components/table'
import AdvanceFilter from '~/components/systemAdmin/comp-app-rank/AdvanceFilter.vue'
import { getYN } from '~/lib/util/commons/table'
import { getAction } from '~/lib/util/action.js'
import Swal from 'sweetalert2'

export default {
  components: {
    NasTable,
    AdvanceFilter,
    Swal
  },
  data() {
    return {
      filter: {},
      api: {
        url: '/api/companyAppraiserRanks',
        dataPath: '_embedded.companyAppraiserRankList'
      },
      columns: [
        {
          data: 'id',
          title: this.$t('action.action'),
          render: this.action(this.hide, '/comp-app-rank/'),
          isComponent: true,
          show: true
        },
        {
          data: 'userName',
          title: this.$t('systemAdmin.compAppRank.appraiser'),
          show: true
        },
        {
          data: 'rank',
          title: this.$t('systemAdmin.common.rank'),
          show: true
        },
        {
          data: 'virtual',
          title: this.$t('systemAdmin.common.virtual'),
          render: this.yN(),
          show: true
        },
        {
          data: 'branchNo',
          title: this.$t('systemAdmin.compAppRank.branchNo'),
          show: true
        },
        {
          data: 'lastUpdatedBy',
          title: this.$t('systemAdmin.common.lastUpdatedBy'),
          show: true
        },
        {
          data: 'lastUpdated',
          title: this.$t('systemAdmin.common.lastUpdated'),
          show: true
        }
      ]
    }
  },
  methods: {
    action(hide, path) {
      return data => {
        return getAction(data, hide, path)
      }
    },
    yN() {
      return data => getYN({ value: data }, 'name')
    },
    async hide(id) {
      try {
        let result = await Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes, delete it!',
          cancelButtonText: 'No, cancel!'
        })
        // SUCCESS
        if (result.value) {
          const flag = 'N'
          const [err, hide] = await to(
            this.$axios.$put(`/api/companyAppraiserRanks/${id}/active/${flag}`)
          )
          if (hide) {
            Swal.fire('Deleted!', 'Your file has been deleted!', 'success')
            this.$refs.compAppRankTable.load()
          } else {
            Swal.fire('Error!', err, 'error')
          }
        }
      } catch (e) {
        // Fail!
        console.error(e)
        Swal.fire('Error!', 'Error on Deleting File!', 'error')
      }
    },
    getFilter(data) {
      this.filter = data
      this.$refs.compAppRankTable.load()
    }
  }
}
</script>
