<template>
  <div class="content-body">
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title">{{ title }}</h3>
        <div class="row breadcrumbs-top">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li
                v-for="(item, index) in breadcrumbsList"
                :key="item.name"
                :class="{active: index == breadcrumbsList.length -1}"
                class="breadcrumb-item">
                <a
                  v-if="index < breadcrumbsList.length -1"
                  :href="item.link">{{ item.name }}</a>
                <label v-else>{{ item.name }}</label>
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="content-header-right col-md-6 col-12">
        <fieldset
          id="search-bar-nav"
          class="form-group position-relative">
          <input
            id="iconLeft5"
            type="text"
            class="form-control"
            placeholder="Search">
          <div class="form-control-position">
            <i class="ficon ft-search"/>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</template>
<script>
import { lists } from '~/lib/util/breadcrumbs'

export default {
  // props: {
  //   path: {
  //     type: String,
  //     required: true,
  //     default: ''
  //   }
  // },
  data() {
    const routeBreadcrumbs = lists[this.$route.path] || lists.___default___
    return {
      title: routeBreadcrumbs.title,
      breadcrumbsList: routeBreadcrumbs.breadcrumbsList
    }
  }
}
</script>
