<template>
  <div class="main-menu menu-static menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="main-menu-content">
      <ul>
        <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"/></li>
      </ul>
      <div class="scrollable-menu">
        <ul id="main-menu-navigation" class="navigation navigation-main" data-menu="menu-navigation">
          <li class=" navigation-header">
            <span>{{ $t('sideNav.title') }}</span>
            <i :data-original-title="$t('sideNav.title')" class="la la-ellipsis-h ft-minus" data-toggle="tooltip" data-placement="right" />
          </li>
          <li class="nav-item has-sub onboard">
            <a href="#"><i class="la la-home"/><span class="menu-title" data-i18n="nav.color_palette.main">Appraiser On-Boarding</span></a>
            <ul class="menu-content">
              <nav-item :name="$t('sideNav.userOnboard')" to="/user-onboard/add" icon-class="step-circle first-step" step="1"/>
              <nav-item :name="$t('sideNav.appraiserPricing')" to="/appraiser-pricing/add" icon-class="step-circle" step="2"/>
              <nav-item :name="$t('sideNav.appraiserRegion')" to="/appraiser-region/add" icon-class="step-circle" step="3"/>
              <!-- <nav-item :name="$t('sideNav.appraiserLicense')" to="/appraiser-license"/> -->
              <nav-item :name="$t('sideNav.territories')" to="/territories/add" icon-class="step-circle" step="4"/>
              <nav-item :name="$t('sideNav.membership')" to="/membership" icon-class="step-circle last-step" step="5"/>
            </ul>
          </li>
          <li class="nav-item has-sub onboard"><a href="#"><i class="la la-university"/><span class="menu-title" data-i18n="nav.color_palette.main">Client On-boarding</span></a>
            <ul class="menu-content">
              <nav-item :name="$t('sideNav.companies')" to="/company" icon-class="step-circle first-step" step="1"/>
              <nav-item :name="$t('sideNav.companyServiceAssoc')" to="/company-service-association" icon-class="step-circle" step="2"/>
              <nav-item :name="$t('sideNav.customerPricing')" to="/customer-pricing" icon-class="step-circle" step="3"/>
              <nav-item :name="$t('sideNav.followUpRule')" to="/followuprule" icon-class="step-circle" step="4"/>
              <nav-item :name="$t('sideNav.feeIncRule')" to="/fee-increase" icon-class="step-circle" step="5"/>
              <nav-item :name="$t('sideNav.group')" to="/group" icon-class="step-circle last-step" step="6"/>
              <!-- <nav-item :name="$t('sideNav.region')" to="/region"/>
              <nav-item :name="$t('sideNav.serviceType')" to="/services"/>
              <nav-item :name="$t('sideNav.exePropertyFee')" to="/executive-property-fee"/>
              <nav-item :name="$t('sideNav.compAppRank')" to="/comp-app-rank"/>
              <nav-item :name="$t('sideNav.priceRangeByCountry')" to="/price-range-country"/> -->
            </ul>
          </li>
          
          <li class="nav-item has-sub onboard"><a href="#"><i class="la la-cog"/><span class="menu-title" data-i18n="nav.color_palette.main">Manage Settings</span></a>
            <ul class="menu-content">
              <nav-item :name="$t('sideNav.manageWorkflow')" to="/manage-workflow" icon-class="la la-cogs"/>
            </ul>
          </li>
          <nav-item :name="$t('sideNav.appRequests')" to="/app-requests" icon-class="la la-calendar" />
          <nav-item :name="$t('sideNav.calendar')" to="/calendar" icon-class="la la-calendar-o" />
          <!-- <nav-item :name="$t('sideNav.holidays')" to="/holidays"
          icon-class="la la-calendar-o" />
          <nav-item :name="$t('sideNav.sysParam')" to="/system-parameter"
                    icon-class="la la-cog" /> -->
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
import NavItem from '~/components/navigations/NavItem.vue'

export default {
  components: {
    NavItem
  }
}
</script>
