<template>
  <div class="navbar-container content">
    <div id="navbar-mobile" class="collapse navbar-collapse">
      <ul class="nav navbar-nav mr-auto float-left">
        <nav-item :name="$t('topNav.dashboard')" icon-class="la la-tachometer" to="/dashboard"/>
        <nav-item :name="$t('topNav.requestService')" icon-class="la la-car" to="/requestService"/>
        <nav-item :name="$t('topNav.advanceSearch')" icon-class="la la-search-plus" to="/advance-search"/>
        <nav-item :name="$t('topNav.reports')" icon-class="la la-file-text" to="/reports"/>
        <nav-item :name="$t('topNav.onlineHelp ')" icon-class="la la-question-circle" to="/onlineHelp"/>
      </ul>
      <ul class="nav navbar-nav float-right">
        <li class="dropdown dropdown-user grid-menu nav-item">
          <a class="nav-link nav-link-label" href="#" data-toggle="dropdown"><i class="ft-grid"/></a>
          <div class="dropdown-menu dropdown-menu-Left">
            <nuxt-link :class="{ active: isActive === '/dashboard'}" class="dropdown-item dashboard-link" to="/dashboard" @click.native="setActive()"><i class="la la-tachometer"/>{{ $t('topNav.dashboard') }}</nuxt-link>
            <nuxt-link :class="{ active: isActive === '/requestService'}" class="dropdown-item" to="/requestService" @click.native="setActive()"><i class="la la-car"/>{{ $t('topNav.requestService') }}</nuxt-link>
            <nuxt-link :class="{ active: isActive === '/advance-search'}" class="dropdown-item" to="/advance-search" @click.native="setActive()"><i class="la la-search-plus"/>{{ $t('topNav.advanceSearch') }}</nuxt-link>
            <nuxt-link :class="{ active: isActive === '/reports'}" class="dropdown-item" to="/reports" @click.native="setActive()"><i class="la la-file-text"/>{{ $t('topNav.reports') }}</nuxt-link>
            <nuxt-link :class="{ active: isActive === '/onlineHelp'}" class="dropdown-item" to="/onlineHelp" @click.native="setActive()"><i class="la la-question-circle"/>{{ $t('topNav.onlineHelp ') }}</nuxt-link>
          </div>
        </li>
        <locale />
        <li class="dropdown dropdown-user nav-item">
          <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
            <span class="avatar avatar-online">
            <img src="/app-assets/images/portrait/small/avatar-s-19.png" alt="avatar"><i/></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#"><i class="ft-user"/> Edit Profile</a>
            <div class="dropdown-divider"/><a class="dropdown-item" href="#"><i class="ft-power"/> Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
import Locale from '~/components/locale'
import NavItem from '~/components/navigations/TopNav.vue'

export default {
  components: {
    Locale,
    NavItem
  },

  data() {
    return {
      isActive: this.to == this.$route.path
    }
  },
  beforeCreate() {
    this.$i18n.locale = this.$store.state.locale
  },
  mounted() {
    this.isActive = this.to
  },
  methods: {
    setActive() {
      console.log(this.$route.path)
      this.isActive = this.$route.path
    }
  }
}
</script>
