<template>
  <div class="content-body">
    <section id="basic-form-layouts">
      <div class="row match-height">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="btn-group float-md-right cta" role="group" aria-label="Button group with nested">
                <nuxt-link to="/holidays">
                  <button class="btn btn-info round view-holiday" type="button"><i class="la la-th-list"/>{{ $t('action.view') }} {{ $tc('systemAdmin.holiday.title', 1) }}</button>
                </nuxt-link>
              </div>
            </div>

            <nas-form :submit="onSubmit" :data="data" :opts="opts"/>

          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import _ from 'lodash'
import to from 'await-to-js'
import Swal from 'sweetalert2'
import NasForm from '~/components/systemAdmin/holidays/Form.vue'

export default {
  components: {
    NasForm,
    Swal
  },
  async asyncData({ app, params }) {
    const opts = {}
    const data = await app.$axios.$get(`/api/holidays/${params.id}`)
    return { data, opts }
  },
  methods: {
    async onSubmit(form) {
      let [err, rule] = await to(
        this.$axios.$put(`/api/holidays/${form.holidayId}`, form)
      )

      if (err || !rule) {
        Swal.fire('Error!', 'Country or Province do not exists!', 'error')
      } else {
        Swal.fire('Success!', 'Data Successfully Updated', 'success')
        this.$router.push('/holidays')
      }
    }
  }
}
</script>
