<template>
  <div class="content-body">
    <section class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-head">
            <div class="card-header">
              <h4 class="card-title">{{ $tc('systemAdmin.holiday.title', 2) }}</h4>
              <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"/></a>
              <div class="heading-elements">
                <div class="btn-group float-md-right cta" role="group" aria-label="Button group with nested">
                  <nuxt-link to="/holidays/add">
                    <button class="btn btn-info round" type="submit">
                    <i class="ft-plus-circle"/>{{ $t('action.add') }} {{ $tc('systemAdmin.holiday.title', 1) }}</button>
                  </nuxt-link>
                </div>
              </div>
            </div>

            <advance-filter @clicked="getFilter"/>

            <!-- table start -->
            <nas-table id="holiday-table" ref="holidayTable" :columns="columns" :api="api"
                       :filter="filter" :has-active-flag="false" sort-by="holidayId,desc" page-name="holiday"/>
                       <!-- table end -->
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import to from 'await-to-js'
import _ from 'lodash'
import NasTable from '~/components/table'
import Swal from 'sweetalert2'
import { getAction } from '~/lib/util/action.js'
import AdvanceFilter from '~/components/systemAdmin/holidays/AdvanceFilter.vue'
import { getCountry, getProvince } from '~/lib/util/region'

export default {
  components: {
    NasTable,
    AdvanceFilter,
    Swal
  },
  data() {
    return {
      filter: {},
      table: {},
      api: {
        url: '/api/holidays',
        dataPath: '_embedded.holidayList'
      },
      columns: [
        {
          data: 'holidayId',
          title: this.$t('action.action'),
          render: this.action(this.hide, '/holidays/'),
          isComponent: true,
          show: true
        },
        {
          data: 'holidayDesc',
          title: this.$t('systemAdmin.holiday.description'),
          show: true
        },
        {
          data: 'holidayDate',
          title: this.$t('systemAdmin.holiday.date'),
          show: true
        },
        {
          data: 'countryCode',
          title: this.$t('systemAdmin.common.country'),
          render: this.country(),
          show: true
        },
        {
          data: 'province',
          title: this.$t('systemAdmin.common.province'),
          render: this.province(),
          show: true
        }
      ]
    }
  },
  methods: {
    country() {
      return data => getCountry({ value: data }, 'name')
    },
    province() {
      return (data, item, row) => {
        if (data == null) {
          data = 'All'
          return data
        } else {
          return getProvince(
            _.get(item, 'countryCode'),
            { value: data },
            'name'
          )
        }
      }
    },
    action(hide, path) {
      return data => {
        return getAction(data, hide, path)
      }
    },
    async hide(id) {
      try {
        let result = await Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes, delete it!',
          cancelButtonText: 'No, cancel!'
        })
        // SUCCESS
        if (result.value) {
          const [errHide, hide] = await to(
            this.$axios.$delete(`/api/holidays/${id}`)
          )
          if (hide) {
            Swal.fire('Deleted!', 'Your file has been deleted!', 'success')
            this.$refs.holidayTable.load()
          } else {
            Swal.fire('Error!', errHide, 'error')
          }
        }
      } catch (e) {
        // Fail!
        console.error(e)
        Swal.fire('Error!', 'Error on Deleting File!', 'error')
      }
    },
    getFilter(data) {
      this.filter = data
      this.$refs.holidayTable.load()
    }
  }
}
</script>
