<template>
  <div class="content-body">
    <section id="basic-form-layouts">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="btn-group float-md-right cta" role="group" aria-label="Button group with nested">
              <nuxt-link to="/region">
                <button class="btn btn-info round view-region" type="submit"><i class="la la-th-list"/>{{ $t('action.view') }} {{ $tc('systemAdmin.region.title', 2) }}</button>
              </nuxt-link>
            </div>
          </div>

          <nas-form :submit="onSubmit"/>

        </div>
      </div>
    </section>
  </div>
</template>
<script>
import _ from 'lodash'
import to from 'await-to-js'
import NasForm from '~/components/systemAdmin/region/Form.vue'
import Swal from 'sweetalert2'
export default {
  components: {
    NasForm
  },
  methods: {
    async onSubmit(form) {
      let [err, region] = await to(this.$axios.$post(`/api/regions/`, form))
      if (err || !region) {
        Swal.fire('Error!', 'Error on Adding New Data', 'error')
        console.log('fail')
      } else {
        console.log('success')
        Swal.fire('Success!', 'New Data Successfully Added', 'success')
        this.$router.push('/region')
      }
    }
  }
}
</script>
