<template>
  <div class="content-body">
    <section class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-head">
            <div class="card-header">
              <h4 class="card-title">{{ $t('action.view') }} {{ $tc('systemAdmin.region.title', 2) }}</h4>
              <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"/></a>
              <div class="heading-elements">
                <div
                  class="btn-group float-md-right cta"
                  role="group"
                  aria-label="Button group with nested">
                  <nuxt-link to="/region/add">
                    <button class="btn btn-info round" type="submit">
                    <i class="ft-plus-circle"/>{{ $t('action.add') }} {{ $tc('systemAdmin.region.title') }}</button>
                  </nuxt-link>
                </div>
              </div>
            </div>
            <advance-filter :table="table" @clicked="getFilter"/>

            <nas-table id="region-table" ref="regionTable" :columns="columns" :api="api"
                       :filter="filter" :has-active-flag="true" sort-by="id,desc" page-name="region"/>

          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import to from 'await-to-js'
import _ from 'lodash'
import NasTable from '~/components/table'
import { getAction } from '~/lib/util/action.js'
import Swal from 'sweetalert2'
import AdvanceFilter from '~/components/systemAdmin/region/AdvanceFilter.vue'
import { getTypes, getType, getCountry, getProvince } from '~/lib/util/region'
export default {
  components: {
    AdvanceFilter,
    NasTable,
    Swal
  },
  data() {
    return {
      table: {},
      api: {
        url: '/api/regions',
        dataPath: '_embedded.regionList'
      },
      columns: [
        {
          data: 'id',
          title: this.$t('action.action'),
          render: this.action(this.hide, '/region/'),
          isComponent: true,
          show: true
        },
        {
          data: 'countryCode',
          title: this.$t('systemAdmin.common.country'),
          render: this.country(),
          show: true
        },
        {
          data: 'name',
          title: this.$t('systemAdmin.region.regionName'),
          show: true
        },
        {
          data: 'province',
          title: this.$t('systemAdmin.common.province'),
          render: this.province(),
          show: true
        },
        {
          data: 'type',
          title: this.$t('systemAdmin.region.regionType'),
          render: this.type(),
          show: true
        }
      ],
      filter: {}
    }
  },
  computed: {
    regionTypes() {
      return getTypes()
    }
  },
  mounted() {},
  methods: {
    action(hide, path) {
      return data => {
        return getAction(data, hide, path)
      }
    },
    type() {
      return data => getType({ value: data }, 'name')
    },
    country() {
      return data => getCountry({ value: data }, 'name')
    },
    province() {
      return (data, item, row) =>
        getProvince(_.get(item, 'countryCode'), { value: data }, 'name')
    },
    async hide(id) {
      try {
        let result = await Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes, delete it!',
          cancelButtonText: 'No, cancel!'
        })
        // SUCCESS
        if (result.value) {
          const flag = 'N'
          const [errHide, hide] = await to(
            this.$axios.$put(`/api/regions/${id}/active/${flag}`)
          )
          if (hide) {
            Swal.fire('Deleted!', 'Your file has been deleted!', 'success')
            this.$refs.regionTable.load()
          } else {
            Swal.fire('Error!', errHide, 'error')
          }
        }
      } catch (e) {
        // Fail!
        console.error(e)
        Swal.fire('Error!', 'Error on Deleting File!', 'error')
      }
    },
    getFilter(data) {
      this.filter = data
      this.$refs.regionTable.load()
    }
  }
}
</script>
