<template>
  <div class="card-body">
    <section id="grid-with-label" class="grid-with-border">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">{{ $t('action.advanceFilter') }}</h4>
              <a class="heading-elements-toggle"><i class="ft-align-justify font-medium-3"/></a>
              <div class="heading-elements">
                <ul class="list-inline mb-0">
                  <li><a data-toggle="collapse" href="#collapseExample" @click=" collapsed = !collapsed"><i :class= "[collapsed ? 'ft-plus' : 'ft-minus']"/></a></li>
                </ul>
              </div>
            </div>
            <div
              id="collapseExample"
              class="card-content collapse hide">
              <div class="card-body">
                <form action="#">
                  <div class="form-body">
                    <div class="row">
                      <div class="col-md-4">
                        <nas-input id="description" v-model="filter.priceRangeDesc" :name="$t('systemAdmin.priceRangeByCountry.priceRangeDesc')" type="text" />
                      </div>
                      <div class="col-md-4">
                        <nas-input id="priceRangeFrom" v-model="filter.priceRangeFrom" :name="$t('systemAdmin.priceRangeByCountry.priceRangeFrom')" type="number" />
                      </div>
                      <div class="col-md-4">
                        <nas-input id="priceRangeTo" v-model="filter.priceRangeTo" :name="$t('systemAdmin.priceRangeByCountry.priceRangeTo')" type="number" />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <nas-select id="country" v-model="filter.countryCode" :items="countries" :name="$t('systemAdmin.common.country')" />
                      </div>
                      <div class="col-md-4">
                        <nas-input id="priceType" v-model="filter.priceType" :name="$t('systemAdmin.followUpRule.priceType')" type="text" />
                      </div>
                    </div>
                  </div>
                  <div class="form-actions filter-buttons">
                    <div class="text-right">
                      <button type="reset" class="btn mr-1 mb-1 btn-red btn-sm" @click="clearFilter">{{ $t('action.clear') }}</button>
                      <button type="button" class="btn mr-1 mb-1 btn-nas btn-sm" @click="apply">{{ $t('action.apply') }}</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import _ from 'lodash'
import NasInput from '~/components/form/Input.vue'
import NasSelect from '~/components/form/Select.vue'
import { getCountries } from '~/lib/util/region'

export default {
  components: {
    NasInput,
    NasSelect
  },
  props: {
    table: {
      type: Object,
      required: true,
      default: () => {}
    }
  },
  data() {
    return {
      collapsed: true,
      filter: {}
    }
  },
  computed: {
    countries() {
      const countriesOptions = getCountries()
      countriesOptions.unshift({ name: '', value: '' })
      return countriesOptions
    }
  },
  async mounted() {
    this.apply()
    this.clearFilter()
  },
  methods: {
    apply() {
      this.$emit('clicked', this.filter)
    },
    clearFilter() {
      this.filter = {}
      this.$emit('clicked', this.filter)
    }
  }
}
</script>
