<template>
  <div class="card-content collapse show">
    <div class="card-body">
      <form class="form" @submit="onSubmit">
        <div class="row justify-content-md-center">
          <div class="col-md-6">
            <div class="form-body">
              <h4 class="form-section"><i class="ft-briefcase"/> {{ $t('action.'+text+'') }} {{ $tc('systemAdmin.priceRangeByCountry.title') }}</h4>

              <nas-select id="country" v-model="form.countryCode" :items="countries" :name="$t('systemAdmin.common.country')" />                      
              <nas-input id="description" v-model="form.priceRangeDesc" :name="$t('systemAdmin.priceRangeByCountry.priceRangeDesc')" type="text" />
              <nas-input id="priceRangeFrom" v-model="form.priceRangeFrom" :name="$t('systemAdmin.priceRangeByCountry.priceRangeFrom')" type="number" />
              <nas-input id="priceRangeTo" v-model="form.priceRangeTo" :name="$t('systemAdmin.priceRangeByCountry.priceRangeTo')" type="number" />
              <nas-input id="priceType" v-model="form.priceType" :name="$t('systemAdmin.followUpRule.priceType')" type="text" />
            </div>
          </div>
        </div>
        <div class="form-actions center">
          <button type="reset" class="btn btn-danger">
            <i class="ft-refresh-cw position-right"/> {{ $t('action.reset') }}
          </button>
          <button type="submit" class="btn btn-primary">
            <i class="ft-check position-right"/>{{ $t('action.submit') }}
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import _ from 'lodash'
import NasInput from '~/components/form/Input.vue'
import NasSelect from '~/components/form/Select.vue'
import { getCountries } from '~/lib/util/region'

export default {
  components: {
    NasInput,
    NasSelect
  },
  props: {
    submit: {
      type: Function,
      required: true,
      default: () => {}
    },
    data: {
      type: Object,
      required: false,
      default: () => {}
    },
    opts: {
      type: Object,
      required: false,
      default: () => {}
    }
  },
  data() {
    return {
      items: [],
      form: {},
      text: ''
    }
  },
  computed: {
    countries() {
      const countriesOptions = getCountries()
      countriesOptions.unshift({ name: '', value: '' })
      return countriesOptions
    }
  },
  created() {
    if (this.data) {
      this.text = 'update'
      this.form = this.data
    } else {
      this.text = 'add'
    }
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault()
      this.submit(this.form)
    }
  }
}
</script>
