<template>
  <div class="card-body">
    <section id="grid-with-label" class="grid-with-border">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">{{ $t('action.advanceFilter') }}</h4>
              <a class="heading-elements-toggle"><i class="ft-align-justify font-medium-3"/></a>
              <div class="heading-elements">
                <ul class="list-inline mb-0">
                  <li><a data-toggle="collapse" href="#collapseExample" @click=" collapsed = !collapsed"><i :class= "[collapsed ? 'ft-plus' : 'ft-minus']"/></a></li>
                </ul>
              </div>
            </div>
            <div
              id="collapseExample"
              class="card-content collapse hide">
              <div class="card-body">
                <form action="#">
                  <div class="form-body">
                    <div class="row">
                      <div class="col-md-3">
                        <nas-input id="company" v-model="datas['id.companyMapping']" :name="this.$tc('systemAdmin.company.title', 1)" type="text"/>
                      </div>
                      <div class="col-md-3">
                        <auto-complete id="region" v-model="datas['id.regionId']" :items="regions" :name="$t('systemAdmin.common.region')" is-async @input="getRegions" @clicked="getRegionId"/>
                      </div>
                      <div class="col-md-3">
                        <nas-select id="country" v-model="datas['id.countryCode']" :items="countries" :name="$t('systemAdmin.common.country')" />
                      </div>
                      <div class="col-md-3">
                        <nas-input id="price" v-model="datas.price" :name="$tc('systemAdmin.propertyFee.price')" type="number"/>
                      </div>
                    </div>
                  </div>
                  <div class="form-actions filter-buttons">
                    <div class="text-right">
                      <button type="reset" class="btn mr-1 mb-1 btn-red btn-sm" @click="clearFilter">{{ $t('action.clear') }}</button>
                      <button type="button" class="btn mr-1 mb-1 btn-nas btn-sm" @click="apply">{{ $t('action.apply') }}</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import _ from 'lodash'
import to from 'await-to-js'
import NasInput from '~/components/form/Input.vue'
import NasSelect from '~/components/form/Select.vue'
import AutoComplete from '~/components/form/AutoComplete.vue'
import { getCountries } from '~/lib/util/region'
import Swal from 'sweetalert2'

export default {
  components: {
    NasInput,
    NasSelect,
    AutoComplete,
    Swal
  },
  data() {
    return {
      collapsed: true,
      datas: {
        'id.companyMapping': '',
        'id.regionId': '',
        'id.countryCode': '',
        price: ''
      },
      regions: []
    }
  },
  computed: {
    countries() {
      const countriesOptions = getCountries()
      countriesOptions.unshift({ name: '', value: '' })
      return countriesOptions
    }
  },
  async mounted() {
    this.apply()
    this.clearFilter()
  },
  methods: {
    async getRegions(search) {
      let [err, regions] = await to(
        this.$axios.$get(`/api/regions?name=${search}`)
      )

      if (err) {
        Swal.fire('Error!', err, 'error')
      }
      if (regions) {
        this.regions = _.map(
          _.get(regions, '_embedded.regionList'),
          region => ({
            name: region.name,
            value: region.id
          })
        )
      }
    },
    getRegionId(region) {
      this.datas['id.regionId'] = region.value
    },
    apply() {
      this.$emit('clicked', this.datas)
    },
    clearFilter() {
      this.datas = {}
      this.$emit('clicked', this.datas)
    }
  }
}
</script>
