<template>
  <div class="card-body">
    <section id="grid-with-label" class="grid-with-border">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">{{ $t('action.advanceFilter') }}</h4>
              <a class="heading-elements-toggle"><i class="ft-align-justify font-medium-3"/></a>
              <div class="heading-elements">
                <ul class="list-inline mb-0">
                  <li><a data-toggle="collapse" href="#collapseExample" @click=" collapsed = !collapsed"><i :class= "[collapsed ? 'ft-plus' : 'ft-minus']"/></a></li>
                </ul>
              </div>
            </div>
            <div id="collapseExample" class="card-content collapse hide">
              <div class="card-body">
                <form action="#">
                  <div class="form-body">
                    <div class="row">
                      <div class="col-md-3">
                        <auto-complete id="clientCompanyId" v-model="filter.clientCompanyId" :items="companies" :name="$t('systemAdmin.company.companyName')" is-async @input="getCompanies" @clicked="getCompanyId"/>
                      </div>
                      <div class="col-md-3">
                        <nas-select id="priceType" v-model="filter.priceType" :items="priceTypes" :name="$t('systemAdmin.customerPricing.pricingType')" />
                      </div>
                      <div class="col-md-3">
                        <nas-select id="country" v-model="filter.countryCode" :items="countries" :name="$t('systemAdmin.common.country')" />
                      </div>
                      <div class="col-md-3">
                        <nas-select id="region" v-model="filter.province" :items="provinces" :name="$t('systemAdmin.common.province')" />
                      </div>
                    </div>
                  </div>
                  <div class="form-actions filter-buttons">
                    <div class="text-right">
                      <button type="reset" class="btn mr-1 mb-1 btn-red btn-sm" @click="clearFilter">{{ $t('action.clear') }}</button>
                      <button type="button" class="btn mr-1 mb-1 btn-nas btn-sm" @click="apply">{{ $t('action.search') }}</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import _ from 'lodash'
import to from 'await-to-js'
import NasInput from '~/components/form/Input.vue'
import NasSelect from '~/components/form/Select.vue'
import AutoComplete from '~/components/form/AutoComplete.vue'
import { getProvinces, getCountries } from '~/lib/util/region'
import Swal from 'sweetalert2'

export default {
  components: {
    NasInput,
    NasSelect,
    AutoComplete,
    Swal
  },
  data() {
    return {
      collapsed: true,
      filter: {},
      companies: []
    }
  },
  computed: {
    provinces() {
      const countryCode = _.get(this, 'filter.countryCode')
      const provinceOptions = getProvinces(countryCode)
      provinceOptions.unshift({ name: 'Select Province', value: '' })
      return provinceOptions
    },
    countries() {
      const countriesOptions = getCountries()
      countriesOptions.unshift({ name: 'Select Country', value: '' })
      return countriesOptions
    },
    priceTypes() {
      const priceTypes = [
        { name: 'Select Country', value: '' },
        { name: 'Management Pricing', value: 'Management Pricing' },
        { name: 'Fixed Pricing', value: 'Fixed Pricing' }
      ]
      return priceTypes
    }
  },
  async mounted() {
    this.apply()
    this.clearFilter()
  },
  methods: {
    apply() {
      this.$emit('clicked', this.filter)
    },
    clearFilter() {
      this.filter = {}
      this.$emit('clicked', this.filter)
    },
    getCompanyId(company) {
      this.filter['clientCompanyId'] = company.value
    },
    async getCompanies(search) {
      let [errComp, companies] = await to(
        this.$axios.$get(`/api/companies?name=${search}`)
      )

      if (err) {
        Swal.fire('Error!', errComp, 'error')
      }
      if (companies) {
        this.companies = _.map(
          _.get(companies, '_embedded.companyList'),
          c => ({
            name: c.name,
            value: c.id
          })
        )
      } else {
        this.companies = []
      }
    }
  }
}
</script>
