<template>
  <div class="card-content collapse show">
    <div class="card-body">
      <form class="form" @submit="onSubmit">
        <div class="row justify-content-md-center">
          <div class="col-md-6">
            <div class="form-body" >
              <h4 class="form-section"><i class="ft-briefcase"/> {{ $t('action.'+text+'') }} {{ $tc('systemAdmin.customerPricing.title', 1) }}</h4>

              <nas-radio v-model="form.priceType" :items="priceTypes" :label="$t('systemAdmin.customerPricing.pricingType')" name="pricingType" required/>
              <nas-radio v-model="form.serviceCategory" :items="serviceCategories" :label="$t('systemAdmin.service.serviceCategory')" name="serviceCategory" required />
              <nas-radio v-model="form.appraiserAssignType" :items="appraiserAssignTypes" :label="$t('systemAdmin.customerPricing.appraiserAssignType')" name="appraiserAssignType" required />
              <auto-complete id="clientCompanyId" v-model="form.clientCompanyId" :items="companies" :name="$t('systemAdmin.common.clientCompany')" is-async required @input="getCompanies" @clicked="getCompanyId" @lists="getCompanies"/>
              <nas-select id="countryCode" v-model="form.countryCode" :items="countries" :name="$t('systemAdmin.common.country')" required />
              <nas-select id="province" v-model="form.province" :items="provinces" :name="$t('systemAdmin.common.province')" required />
              <auto-complete id="regionId" v-model="form.regionId" :items="regions" :name="$t('systemAdmin.common.region')" required is-async @input="getRegions" @clicked="getRegionId" @lists="getRegions"/>
              <auto-complete id="serviceTypeId" v-model="form.serviceTypeId" :items="serviceTypes" :name="$tc('systemAdmin.service.title')" is-async required @input="getServiceTypes" @clicked="getServiceTypeId" @lists="getServiceTypes"/>
              <nas-input id="price" v-model="form.price" :name="$t('systemAdmin.propertyFee.price')" type="number" />
            </div>
          </div>
        </div>
        <div class="form-actions center">
          <button type="reset" class="btn btn-danger">
            <i class="ft-refresh-cw position-right"/> {{ $t('action.reset') }}
          </button>
          <button type="submit" class="btn btn-primary">
            <i class="ft-check position-right"/>{{ $t(`action.${opts.action}`) }} {{ $tc('systemAdmin.customerPricing.title', 1) }}
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import _ from 'lodash'
import to from 'await-to-js'
import NasRadio from '~/components/form/Radio.vue'
import NasInput from '~/components/form/Input.vue'
import AutoComplete from '~/components/form/AutoComplete.vue'
import NasSelect from '~/components/form/Select.vue'
import { getProvinces, getCountries } from '~/lib/util/region'
import { getCategories } from '~/lib/util/services'
import Swal from 'sweetalert2'

export default {
  components: {
    NasInput,
    NasRadio,
    AutoComplete,
    NasSelect,
    Swal
  },
  props: {
    submit: {
      type: Function,
      required: true,
      default: () => {}
    },
    data: {
      type: Object,
      required: false,
      default: () => {}
    },
    opts: {
      type: Object,
      required: false,
      default: () => {}
    }
  },
  data() {
    return {
      priceTypes: [
        {
          name: 'Management Pricing',
          value: 'Management Pricing'
        },
        {
          name: 'Fixed Pricing',
          value: 'Fixed Pricing'
        }
      ],
      form: {},
      text: '',
      companies: [],
      regions: [],
      serviceTypes: [],
      appraiserAssignTypes: [
        {
          name: 'Auto Assign',
          value: 'A'
        },
        {
          name: 'Direct/Select Assign',
          value: 'D'
        }
      ]
    }
  },
  computed: {
    countries() {
      const countryOpts = getCountries()
      countryOpts.unshift({ name: '', value: '' })
      return countryOpts
    },
    provinces() {
      const countryCode = _.get(this, 'form.countryCode')
      const provinceOptions = getProvinces(countryCode)
      provinceOptions.unshift({ name: '', value: '' })
      return provinceOptions
    },
    serviceCategories() {
      const category = getCategories()
      return category
    }
  },
  created() {
    if (this.data) {
      this.text = 'update'
      this.form = this.data
      this.companies = _.get(this, 'opts.companies')
      this.regions = _.get(this, 'opts.regions')
      this.form.serviceCategory = _.get(this, 'opts.serviceCategory')
      this.serviceTypes = _.get(this, 'opts.serviceTypes')
    } else {
      this.text = 'add'
    }
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault()
      this.submit(this.form)
    },
    getCompanyId(company) {
      this.form.clientCompanyId = company.value
    },
    async getCompanies(search) {
      let [errComp, companies] = await to(
        this.$axios.$get(`/api/companies?name=${search}`)
      )

      if (err) {
        Swal.fire('Error!', errComp, 'error')
      }
      if (companies) {
        this.companies = _.map(
          _.get(companies, '_embedded.companyList'),
          c => ({
            name: c.name,
            value: c.id
          })
        )
      } else {
        this.companies = []
      }
    },
    getRegionId(region) {
      this.form.regionId = region.value
    },
    async getRegions(search) {
      if (this.form.province && this.form.countryCode) {
        let [errComp, regions] = await to(
          this.$axios.$get(
            `/api/regions?countryCode=${this.form.countryCode}&province=${
              this.form.province
            }&name=${search}`
          )
        )

        if (err) {
          Swal.fire('Error!', errComp, 'error')
        }
        if (regions) {
          this.regions = _.map(_.get(regions, '_embedded.regionList'), c => ({
            name: c.name,
            value: c.id
          }))
        } else {
          this.regions = []
        }
      } else {
        this.regions = []
      }
    },
    getServiceTypeId(serviceType) {
      this.form.serviceTypeId = serviceType.value
    },
    async getServiceTypes(search) {
      if (this.form.serviceCategory) {
        let [errComp, serviceTypes] = await to(
          this.$axios.$get(
            `/api/serviceTypes?serviceCategory=${
              this.form.serviceCategory
            }&service=${search}`
          )
        )

        if (err) {
          Swal.fire('Error!', errComp, 'error')
        }
        if (serviceTypes) {
          this.serviceTypes = _.map(
            _.get(serviceTypes, '_embedded.serviceTypeList'),
            c => ({
              name: c.service,
              value: c.serviceTypeId
            })
          )
        } else {
          this.serviceTypes = []
        }
      } else {
        this.serviceTypes = []
      }
    }
  }
}
</script>
