/*================================================================================
	Item Name: NAS Admin Template
	Version: 1.0
	Author: RTG
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

/* Global */
html body button a {color: #fff;}
html body button a:hover {color: #fff;}
button i{padding: 0 3px 0 0; float: left;}


/* Header */
#search-bar-nav {width: 50%; float: right;}
.header-navbar .navbar-header .navbar-brand .brand-logo {
  width: 80px; margin-left: 30px;}

/* Table - View Companies */
.ft-edit{ color: #1E9FF2; }
.ft-trash-2{ color: #BABFC7;}
.form-group.column-visibility {padding-left: 10px;}


/* Table - filter options */
.grid-with-label .card{ border: 1px solid #d1d5ea; margin: 20px;}
.form-actions.filter-buttons {padding: 0; margin: 0; border: none;}


/* Forms - buttons */
.form-actions.center .btn {margin: 0 0 0 20px;}

/* sidenav*/
/* .nav.navbar-nav.mr-auto {float: right;}
.nav-item.d-none.d-md-block::before {border: 1px solid red; float: right;}*/
.vertical-content-menu.menu-expanded .main-menu, .vertical-content-menu.menu-collapsed .main-menu {position: fixed;}

/* top nav*/
.nav .nav-item.parallel .nav-link {color: #000; font-weight:normal; padding: 25px 0 0 20px; font-size: 1.1rem;}
/* .nav .nav-item.parallel .nav-link span{} */
.nav .nav-item.parallel .nav-link i { font-size: inherit; padding: 0; margin: 0; font-size: 1.5rem; vertical-align:text-bottom;}


 /*carret arrow left navigation*/
.hidden-xs{position: relative; background-color:#F5F5F5; text-align: right; font-size: 20px; height: 50px; padding-right: 22px;}
.hidden-xs::after{content: "\e92d";font-family:feather !important;}
.hidden-xs.is-active{position: relative; background-color:#F5F5F5; text-align: right;padding: 10px 20px 0 0;}
.hidden-xs.is-active::after{content: "\e92c";font-family:feather !important;}

.media-list .media .media-left{ padding-right: 0}
h6.media-heading{margin: 0; padding: 2px 0 0 0; color: #626E82; float: right;}
h6.media-heading:hover{margin: 0; padding: 2px 0 0 0; color: #2196F3;}
.media-left { color: #626E82;}
.media-left:hover { color: #2196F3;}
.header-navbar .navbar-container .dropdown-menu-media{ width: 15rem;}


html .login-account {background: #fff;}
.no-shadow-box{ box-shadow: none;}
.card-body.no-padding {padding: 0}

.card-header.login-header{padding: 1.5rem 1.5rem 0 1.5rem;}
.card-header h3{ padding-top: 1rem;}
.la.la-check.small-check{font-size: 1rem;}

.card-title.text-center img{ width: 150px; vertical-align: middle; padding: 0 0 20px 0;}
.nav.nav-tabs.nav-underline .nav-item {text-align: left; padding: 0; margin: 0}

.card-footer.login { padding: 10px 0 ; margin: 0}

/*.navigation-main .mega-dropdown-menu h6 a, .navbar-nav .mega-dropdown-menu h6 a{font-size: 1rem;}
.navigation-main .mega-dropdown-menu h6 i.top-level-icon, .navbar-nav .mega-dropdown-menu h6 i.top-level-icon
{font-size: 2rem; padding: 0; position: relative; bottom: -5px; right: -10px;}*/


/* Media Queries */
@media (max-width: 2560px) and (min-Width: 935px) {
  .dropdown.dropdown-notification.nav-item {display: none;}

}

@media (max-width: 767.98px) {
  .btn-group.cta {float: right; width: auto; display: block;}
  .nav-link.nav-menu-main.menu-toggle.hidden-xs{ background-color: #fff;}
}

/*
.nav .nav-item .nav-link {display: none !important; border: 1px solid red;  }
*/
@media (max-width: 935px) {
  a.dropdown-toggle.nav-link.box-grid {display:none ;}
}


@media (max-width: 768.98px) {
 .card-body{padding: 0;}
 .hidden-xs, .hidden-xs::after, .hidden-xs.is-active, .hidden-xs.is-active::after{position: relative; display: none;}
 a.menu-title{display: none; border: 1px solid red;}
}
