<template>
  <div class="content-body">
    <section id="basic-form-layouts">
      <div class="row match-height">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="btn-group float-md-right cta" role="group" aria-label="Button group with nested">
                <nuxt-link to="/followuprule">
                  <button class="btn btn-info round" type="button"><i class="la la-th-list"/> {{ $t('action.view') }} {{ $tc('systemAdmin.followUpRule.title', 2) }}</button>
                </nuxt-link>
              </div>
            </div>

            <div class="card-content collapse show">
              <div class="card-body">
                <form class="form" @submit="onSubmitFollowUpRule">
                  <div class="row justify-content-md-center">
                    <div class="col-md-6">
                      <div class="form-body">
                        <h4 class="form-section"><i class="ft-briefcase"/> {{ $t('action.update') }} {{ $tc('systemAdmin.followUpRule.title', 1) }}</h4>
                        <nas-select id="status" v-model="datas.status" :items="statuses" :name="$t('systemAdmin.common.status')" required />
                        <auto-complete id="companyId" v-model="datas.companyId" :items="companies" :name="$t('systemAdmin.common.clientCompany')" required is-async @input="getCompanies" @clicked="getCompanyId"/>
                        <nas-select id="countryCode" v-model="datas.countryCode" :items="countries" :name="$t('systemAdmin.common.country')" required @change="resetProvince" />
                        <nas-select id="province" v-model="datas.province" :items="provinces" :name="$t('systemAdmin.common.province')" />
                        <nas-select id="regionType" v-model="datas.regionType" :items="types" :name="$t('systemAdmin.common.regionType')"/>
                        <nas-select id="priceType" v-model="datas.priceType" :items="priceTypes" :name="$t('systemAdmin.followUpRule.priceType')" />
                        <auto-complete id="serviceTypeId" v-model="datas.serviceDesc" :items="serviceTypes" :name="$t('systemAdmin.common.serviceDesc')" required is-async @input="getServiceTypes" @clicked="getServiceType" @lists="getServiceTypes"/>
                        <nas-input id="followUpMins" v-model="datas.followUpMins" :name="$t('systemAdmin.common.followUpMins')" type="number" required />
                        <nas-select id="opsEnabled" v-model="datas.opsEnabled" :items="yNs" :name="$t('systemAdmin.common.opsEnabled')" />
                      </div>
                    </div>
                  </div>
                  <div class="form-actions center">
                    <button type="reset" class="btn btn-danger">
                      <i class="ft-refresh-cw position-right"/> {{ $t('action.reset') }}
                    </button>
                    <button type="submit" class="btn btn-info">
                      <i class="ft-check position-right"/>{{ $t('action.update') }} {{ $tc('systemAdmin.followUpRule.title', 1) }}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import _ from 'lodash'
import to from 'await-to-js'
import NasInput from '~/components/form/Input.vue'
import NasSelect from '~/components/form/Select.vue'
import AutoComplete from '~/components/form/AutoComplete.vue'
import Swal from 'sweetalert2'
import { getProvinces, getCountries, getTypes } from '~/lib/util/region'
import { getStatuses, getPriceTypes } from '~/lib/util/followUpRule'
import { getYNs } from '~/lib/util/commons/table'

export default {
  components: {
    NasInput,
    NasSelect,
    AutoComplete,
    Swal
  },
  data() {
    return {
      // companies: []
    }
  },
  computed: {
    statuses() {
      const statusOpts = getStatuses()
      statusOpts.unshift({ name: '', value: '' })
      return statusOpts
    },
    countries() {
      const countryOpts = getCountries()
      countryOpts.unshift({ name: '', value: '' })
      return countryOpts
    },
    provinces() {
      const countryCode = _.get(this, 'datas.countryCode')
      const provinceOptions = getProvinces(countryCode)
      provinceOptions.unshift({ name: '', value: '' })
      return provinceOptions
    },
    types() {
      const typesOptions = getTypes()
      typesOptions.unshift({ name: '', value: '' })
      return typesOptions
    },
    priceTypes() {
      const priceTypesOpts = getPriceTypes()
      priceTypesOpts.unshift({ name: '', value: '' })
      return priceTypesOpts
    },
    yNs() {
      const yNsOpts = getYNs()
      yNsOpts.unshift({ name: '', value: '' })
      return yNsOpts
    }
  },
  async asyncData({ app, params }) {
    let companies = []
    let serviceTypes = []
    let [err, datas] = await to(
      app.$axios.$get(`/api/followUpRules/${params.id}`)
    )
    if (err) {
      Swal.fire('Error!', err, 'error')
    }
    if (_.get(datas, 'companyId')) {
      let [errComp, companyId] = await to(
        app.$axios.$get(`/api/companies/${datas.companyId}`)
      )

      if (companyId) {
        companies = [
          {
            name: _.get(companyId, 'name'),
            value: _.get(companyId, 'id')
          }
        ]
      } else {
        Swal.fire('Error!', errComp, 'error')
      }
    }
    let [errService, service] = await to(
      app.$axios.$get(`/api/serviceTypes/${datas.serviceDesc}`)
    )
    if (service) {
      serviceTypes.push({
        name: service.service,
        value: service.serviceTypeId
      })
    } else {
      Swal.fire('Error!', errService, 'error')
    }

    return { datas, companies, serviceTypes }
  },
  methods: {
    async getServiceTypes(search) {
      let [err, serviceType] = await to(
        this.$axios.$get(`/api/serviceTypes?service=${search}`)
      )

      if (serviceType) {
        this.serviceTypes = _.map(
          _.get(serviceType, '_embedded.serviceTypeList'),
          c => ({
            name: c.service,
            value: c.serviceTypeId
          })
        )
      } else {
        Swal.fire('Error!', err, 'error')
      }
    },
    getServiceType(service) {
      this.datas.serviceDesc = service.value
    },
    getCompanyId(company) {
      this.datas.companyId = company.value
    },
    async getCompanies(search) {
      let [errComp, companies] = await to(
        this.$axios.$get(`/api/companies?name=${search}`)
      )

      if (companies) {
        this.companies = _.map(
          _.get(companies, '_embedded.companyList'),
          c => ({
            name: c.name,
            value: c.id
          })
        )
      } else {
        Swal.fire('Error!', errComp, 'error')
      }
    },
    resetProvince() {
      this.data.province = province
    },
    async onSubmitFollowUpRule(evt) {
      evt.preventDefault()
      let [err, rule] = await to(
        this.$axios.$put(`/api/followUpRules/${this.datas.id}`, this.datas)
      )

      if (err || !rule) {
        Swal.fire('Error!', 'Error on Updating Data', 'error')
      } else {
        Swal.fire('Success!', 'Data Successfully Updated', 'success')
        this.$router.push('/followuprule')
      }
    }
  }
}
</script>
