<template>
  <div class="card-content collapse show">
    <div class="card-body">
      <form class="form" @submit="onSubmit">
        <div class="row justify-content-md-center">
          <div class="col-md-6">
            <div class="form-body">                      
              <h4 class="form-section"><i class="ft-briefcase"/> {{ $t('action.'+text+'') }} {{ $tc('systemAdmin.holiday.title', 1) }}</h4>

              <nas-input id="holidayDesc" v-model="form.holidayDesc" :name="$t('systemAdmin.holiday.description')" type="text" required />
              <nas-input id="holidayDate" v-model="form.holidayDate" :name="$t('systemAdmin.holiday.date')" type="date" required />
              <nas-select id="country" v-model="form.countryCode" :items="countries" :name="$t('systemAdmin.common.country')" required/>
              <nas-select id="province" v-model="form.province" :items="provinces" :name="$t('systemAdmin.common.province')"/>
            </div>
          </div>
        </div>
        <div class="form-actions center">
          <button type="reset" class="btn btn-danger">
            <i class="ft-refresh-cw position-right"/> {{ $t('action.reset') }}
          </button>
          <button type="submit" class="btn btn-primary">
            <i class="ft-check position-right"/>{{ $t('action.submit') }}
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import _ from 'lodash'
import NasInput from '~/components/form/Input.vue'
import NasSelect from '~/components/form/Select.vue'
import { getProvinces, getCountries } from '~/lib/util/region'

export default {
  components: {
    NasInput,
    NasSelect
  },
  props: {
    submit: {
      type: Function,
      required: true,
      default: () => {}
    },
    data: {
      type: Object,
      required: false,
      default: () => {}
    },
    opts: {
      type: Object,
      required: false,
      default: () => {}
    }
  },
  data() {
    return {
      form: {},
      text: ''
    }
  },
  computed: {
    provinces() {
      const countryCode = _.get(this, 'form.countryCode')
      const provinceOptions = getProvinces(countryCode)
      provinceOptions.unshift({ name: 'All', value: null })
      return provinceOptions
    },
    countries() {
      const countriesOptions = getCountries()
      countriesOptions.unshift({ name: '', value: '' })
      return countriesOptions
    }
  },
  created() {
    if (this.data) {
      this.text = 'update'
      this.form = this.data
    } else {
      this.text = 'add'
    }
  },
  methods: {
    async onSubmit(evt) {
      evt.preventDefault()
      this.submit(this.form)
    }
  }
}
</script>
