<template>
  <div class="card-content collapse show">
    <div class="card-body">
      <form class="form" @submit="onSubmit">
        <div class="row justify-content-md-center">
          <div class="col-md-6">
            <div class="form-body">
              <auto-complete id="regionId" v-model="form.regionId" :items="regions" :name="$t('systemAdmin.common.region')" required is-async @input="getRegions" @clicked="getRegionId" @lists="getRegions"/>
              <auto-complete id="userName" v-model="form.userName" :items="userNames" :name="$t('systemAdmin.compAppRank.appraiser')" required is-async @input="getUserNames" @clicked="getUserName" @lists="getUserNames"/>
              <nas-input id="rank" v-model="form.rank" :name="$t('systemAdmin.common.rank')" required type="number" />
              <auto-complete id="serviceTypeId" v-model="form.serviceDesc" :items="serviceTypes" :name="$tc('systemAdmin.service.title')" is-async required @input="getServiceTypes" @clicked="getServiceTypeId" @lists="getServiceTypes"/>
              <nas-select id="virtual" v-model="form.virtual" :items="yNs" :name="$t('systemAdmin.common.virtual')" required />
              <auto-complete id="clientCompany" v-model="form.companyId" :items="companies" :name="$t('systemAdmin.common.clientCompany')" required is-async @input="getCompanies" @clicked="getCompanyId" @lists="getCompanies"/>
              <nas-input id="branchNo" v-model="form.branchNo" :name="$t('systemAdmin.compAppRank.branchNo')" type="number" />
            </div>
          </div>
        </div>
        <div class="form-actions center">
          <button type="reset" class="btn btn-danger">
            <i class="ft-refresh-cw position-right"/> {{ $t('action.reset') }}
          </button>
          <button type="submit" class="btn btn-primary">
            <i class="ft-check position-right"/>{{ $t('action.submit') }}
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import _ from 'lodash'
import to from 'await-to-js'
import AutoComplete from '~/components/form/AutoComplete.vue'
import NasInput from '~/components/form/Input.vue'
import NasSelect from '~/components/form/Select.vue'
import { getYNs } from '~/lib/util/commons/table'
import Swal from 'sweetalert2'

export default {
  components: {
    NasInput,
    NasSelect,
    AutoComplete,
    Swal
  },
  props: {
    submit: {
      type: Function,
      required: true,
      default: () => {}
    },
    data: {
      type: Object,
      required: false,
      default: () => {}
    },
    opts: {
      type: Object,
      required: false,
      default: () => {}
    }
  },
  data() {
    return {
      form: {},
      regions: [],
      userNames: [],
      companies: [],
      serviceTypes: []
    }
  },
  computed: {
    yNs() {
      const yNsOpts = getYNs()
      yNsOpts.unshift({ name: '', value: '' })
      return yNsOpts
    }
  },
  created() {
    if (this.data) {
      this.form = this.data
      this.userNames = _.get(this, 'opts.userNames')
    }
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault()
      this.submit(this.form)
    },
    getCompanyId(company) {
      this.form.companyId = company.value
    },
    async getCompanies(search) {
      let [errComp, companies] = await to(
        this.$axios.$get(`/api/companies?name=${search}`)
      )

      if (err) {
        Swal.fire('Error!', errComp, 'error')
      }
      if (companies) {
        this.companies = _.map(
          _.get(companies, '_embedded.companyList'),
          c => ({
            name: c.name,
            value: c.id
          })
        )
      } else {
        this.companies = []
      }
    },
    async getRegions(search) {
      let [err, regions] = await to(
        this.$axios.$get(`/api/regions?name=${search}`)
      )

      if (err) {
        Swal.fire('Error!', err, 'error')
      }
      if (regions) {
        this.regions = _.map(
          _.get(regions, '_embedded.regionList'),
          region => ({
            name: region.name,
            value: region.id
          })
        )
      }
    },
    getRegionId(region) {
      this.form.regionId = region.value
    },
    async getUserNames(search) {
      let userType = 'A'
      let [err, userInfos] = await to(
        this.$axios.$get(`/api/userInfos?userType=${userType}&name=${search}`)
      )

      if (err) {
        Swal.fire('Error!', err, 'error')
      }
      if (userInfos) {
        this.userNames = _.map(
          _.get(userInfos, '_embedded.userInfoList'),
          userInfo => ({
            name: userInfo.username,
            value: userInfo.id
          })
        )
      }
    },
    getUserName(username) {
      this.form.userName = username.name
    },
    getServiceTypeId(serviceType) {
      this.form.serviceDesc = serviceType.value
    },
    async getServiceTypes(search) {
      let [errComp, serviceTypes] = await to(
        this.$axios.$get(`/api/serviceTypes?service=${search}`)
      )

      if (err) {
        Swal.fire('Error!', errComp, 'error')
      }
      if (serviceTypes) {
        this.serviceTypes = _.map(
          _.get(serviceTypes, '_embedded.serviceTypeList'),
          c => ({
            name: c.service,
            value: c.serviceTypeId
          })
        )
      }
    }
  }
}
</script>
