<template>
  <div class="content-body">
    <section id="basic-form-layouts">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div
              class="btn-group float-md-right cta"
              role="group"
              aria-label="Button group with nested">
              <nuxt-link to="/price-range-country">
                <button class="btn btn-info round view-price" type="submit"><i class="la la-th-list"/>{{ $t('action.view') }} {{ $tc('systemAdmin.priceRangeByCountry.title') }}</button>
              </nuxt-link>
            </div>
          </div>

          <nas-form :submit="onSubmit" :data="data" :opts="opts"/>

        </div>
      </div>
    </section>
  </div>
</template>
<script>
import _ from 'lodash'
import to from 'await-to-js'
import Swal from 'sweetalert2'
import NasForm from '~/components/systemAdmin/price-range-country/Form.vue'

export default {
  components: {
    NasForm,
    Swal
  },
  async asyncData({ app, params }) {
    const opts = {}
    const data = await app.$axios.$get(
      `/api/priceRangeByCountries/${params.id}`
    )

    return { data, opts }
  },
  methods: {
    async onSubmit(form) {
      let [err, priceRange] = await to(
        this.$axios.$put(
          `/api/priceRangeByCountries/${form.priceRangeId}`,
          form
        )
      )

      if (err || !priceRange) {
        Swal.fire('Error!', 'Error on Updating Data', 'error')
      } else {
        Swal.fire('Success!', 'Data Successfully Updated', 'success')
        this.$router.push('/price-range-country')
      }
    }
  }
}
</script>
