<template>
  <div class="content-body">
    <section id="basic-form-layouts">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="btn-group float-md-right cta" role="group" aria-label="Button group with nested">
              <nuxt-link to="/price-range-country">
                <button class="btn btn-info round view-price" type="submit"><i class="la la-th-list"/>{{ $t('action.view') }} {{ $tc('systemAdmin.priceRangeByCountry.title') }}</button>
              </nuxt-link>
            </div>
          </div>

          <nas-form :submit="onSubmit"/>

        </div>
      </div>
    </section>
  </div>
</template>
<script>
import _ from 'lodash'
import to from 'await-to-js'
import NasForm from '~/components/systemAdmin/price-range-country/Form.vue'
import Swal from 'sweetalert2'
export default {
  components: {
    NasForm
  },
  methods: {
    async onSubmit(form) {
      form.lastUpdatedBy = 'rvillamor'
      let [err, range] = await to(
        this.$axios.$post(`/api/priceRangeByCountries/`, form)
      )
      if (err || !range) {
        Swal.fire('Error!', 'Error on Adding New Data', 'error')
      } else {
        Swal.fire('Success!', 'New Data Successfully Added', 'success')
        this.$router.push('/price-range-country')
      }
    }
  }
}
</script>
