<template>
  <div class="content-body">
    <section class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-head">
            <div class="card-header">
              <h4 class="card-title">{{ $t('action.view') }} {{ $t('systemAdmin.priceRangeByCountry.title') }}</h4>
              <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"/></a>
              <div class="heading-elements">
                <div
                  class="btn-group float-md-right cta"
                  role="group"
                  aria-label="Button group with nested">
                  <nuxt-link to="/price-range-country/add">
                    <button class="btn btn-info round" type="submit">
                    <i class="ft-plus-circle"/>{{ $t('action.add') }} {{ $t('systemAdmin.priceRangeByCountry.title') }}</button>
                  </nuxt-link>
                </div>
              </div>
            </div>
            <advance-filter :table="table" @clicked="getFilter"/>

            <nas-table id="priceRange-table" ref="priceRangeTable" :columns="columns" :api="api"
                       :filter="filter" :has-active-flag="true" sort-by="priceRangeId,desc" page-name="priceRangeByCountry"/>

          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import to from 'await-to-js'
import _ from 'lodash'
import NasTable from '~/components/table'
import { getAction } from '~/lib/util/action.js'
import Swal from 'sweetalert2'
import AdvanceFilter from '~/components/systemAdmin/price-range-country/AdvanceFilter.vue'
import { getCountry } from '~/lib/util/region'
export default {
  components: {
    AdvanceFilter,
    NasTable,
    Swal
  },
  data() {
    return {
      table: {},
      api: {
        url: '/api/priceRangeByCountries',
        dataPath: '_embedded.priceRangeByCountryList'
      },
      columns: [
        {
          data: 'priceRangeId',
          title: this.$t('action.action'),
          render: this.action(this.hide, '/price-range-country/'),
          isComponent: true,
          show: true
        },
        {
          data: 'countryCode',
          title: this.$t('systemAdmin.common.country'),
          render: this.country(),
          show: true
        },
        {
          data: 'priceRangeDesc',
          title: this.$t('systemAdmin.priceRangeByCountry.priceRangeDesc'),
          show: true
        },
        {
          data: 'priceRangeFrom',
          title: this.$t('systemAdmin.priceRangeByCountry.priceRangeFrom'),
          show: true
        },
        {
          data: 'priceRangeTo',
          title: this.$t('systemAdmin.priceRangeByCountry.priceRangeTo'),
          show: true
        },
        {
          data: 'priceType',
          title: this.$t('systemAdmin.followUpRule.priceType'),
          show: true
        },
        {
          data: 'lastUpdatedBy',
          title: this.$t('systemAdmin.propertyFee.updatedBy'),
          show: false
        },
        {
          data: 'lastUpdated',
          title: this.$t('systemAdmin.propertyFee.lastUpdated'),
          show: false
        }
      ],
      filter: {}
    }
  },
  mounted() {},
  methods: {
    action(hide, path) {
      return data => {
        return getAction(data, hide, path)
      }
    },
    country() {
      return data => getCountry({ value: data }, 'name')
    },
    async hide(id) {
      try {
        let result = await Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes, delete it!',
          cancelButtonText: 'No, cancel!'
        })
        // SUCCESS
        if (result.value) {
          const flag = 'N'
          const [errHide, hide] = await to(
            this.$axios.$put(`/api/priceRangeByCountries/${id}/active/${flag}`)
          )
          if (hide) {
            Swal.fire('Deleted!', 'Your file has been deleted!', 'success')
            this.$refs.priceRangeTable.load()
          } else {
            Swal.fire('Error!', errHide, 'error')
          }
        }
      } catch (e) {
        // Fail!
        console.error(e)
        Swal.fire('Error!', 'Error on Deleting File!', 'error')
      }
    },
    getFilter(data) {
      this.filter = data
      this.$refs.priceRangeTable.load()
    }
  }
}
</script>
