/*================================================================================
	Item Name: NAS Admin - Bootstrap 4 Dashboard Template
	Version: 1.0
================================================================================
NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

/* sidenav*/
/* .nav.navbar-nav.mr-auto {float: right;}
.nav-item.d-none.d-md-block::before {border: 1px solid red; float: right;}*/
.vertical-content-menu.menu-expanded .main-menu, .vertical-content-menu.menu-collapsed .main-menu {position: fixed;}
.vertical-content-menu.menu-collapsed .main-menu .navigation > li > a { padding: 10px 12px;}
/* .scrollable-menu{overflow-y: auto; height: 450px;} */
div.scrollable-menu{overflow-y: auto; height: auto; max-height: 650px}
.vertical-content-menu.menu-expanded .main-menu {width: 270px;}

/*TOP NAVIGATION*/
.header-navbar .navbar-header .navbar-brand .brand-logo {width: 224px;}
.header-navbar .navbar-header .navbar-brand {width:220px;}
.header-navbar.navbar-brand-center .navbar-header {left: 0; margin-left:0px}
.navbar-light{ background-color: #0A4976;}
.navbar-light .navbar-nav .nav-link{color: #fff;}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus{color: #fff;}
.navbar-light .navbar-nav .active.nav-link, .nav .nav-item.parallel .nav-link:hover{color: #fff; background-color: #DE1F26; cursor:pointer;}
.nav.navbar-nav.mr-auto.float-left{ margin-left: 195px}

.dropdown-menu a:hover, .nav .dropdown .dropdown-menu a.dropdown-item.active{ background-color: #2196F3; color: #fff;}


/* Media Queries */
@media (max-width: 2560px) and (min-Width: 1318px) {
  .dropdown.dropdown-user.grid-menu.nav-item {display: none;}
}
@media (max-width: 1318px) {
  a.dropdown-toggle.nav-link.box-grid {display:none ;}
}
@media (max-width: 767.99px) {
.header-navbar.navbar-brand-center .navbar-header{ float: left;width: 100%; position: static;margin: 0 auto; transform: none;}

}
@media (max-width: 767.99px) and (min-width: 400px){
  .label-alignment{text-align: left !important;}
  .ms-settings{float: left; width: 70% !important;}
  .ms-settings-icon{float: left; width: 91%; }
  .question-icon{display: inline-block; line-height: 30px; width: 20px;}
  .col-9.ms-container{max-width: 100% !important; flex: 0 0 100% !important; display:block; overflow: hidden;}
  td.infofield{text-align: left; width:30% !important; }
  td.infoname{text-align: left; width:70% !important;}
}
/*carret arrow left navigation*/
.hidden-xs{position: relative; text-align: right; font-size: 20px; height: 50px; padding-right: 22px; background-color: #0A4976; color: #fff}
.hidden-xs::after{content: "\e92d";font-family:feather !important; background-color: #0A4976; color: #fff}
.hidden-xs.is-active{position: relative; text-align: right;padding: 10px 20px 0 0; background-color: #0A4976; color: #fff}
.hidden-xs.is-active::after{content: "\e92c";font-family:feather !important;}

/* header */
h1.content-header-title, .h1 {font-size: 1.51rem}

/* Table - filter options */
.grid-with-border .card{ border: 1px solid #BABFC7; margin-top: 20px}
.form-actions.filter-buttons {padding: 0; margin: 0; border: none;}

/* Required field error notification */
#basic_radio-error, #inline_radio-error, #date4-error{position: absolute; top: 76px; left: 15px}
#radio-error, #LoanType-error{position: absolute; top: 102px; left: 15px}

/* login */
html .login-account {background: #fff;}
.no-shadow-box{ box-shadow: none;}
.card-body.no-padding {padding: 0}

.card-header.login-header{padding: 1.5rem 1.5rem 0 1.5rem;}
.card-header h3{ padding-top: 1rem;}
.la.la-check.small-check{font-size: 1rem;}

.card-title.text-center img{ width: 150px; vertical-align: middle; padding: 0 0 20px 0;}
.nav.nav-tabs.nav-underline .nav-item {text-align: left; padding: 0; margin: 0}

.card-footer.login { padding: 10px 0 ; margin: 0}

select.form-control:not([size]):not([multiple]).input-lg, input.form-control.input-lg {font-size: 1rem;}

@media (max-width: 768.98px) {
 .hidden-xs, .hidden-xs::after, .hidden-xs.is-active, .hidden-xs.is-active::after{position: relative; display: none;}
 .nav-link.nav-menu-main.menu-toggle.hidden-xs{background-color: #0A4976;}
 .header-navbar.navbar-with-menu .navbar-container{ background-color: #7B7B7B;}
 .navbar-nav.float-right .dropdown .nav-link{color: #fff}
.navbar-light .navbar-header .navbar-nav .nav-link, .navbar-semi-light .navbar-header .navbar-nav .nav-link{color: #fff;}

 /* desjardins */
 .nav-link.nav-menu-main.menu-toggle.hidden-xs.desjardins{background-color: #00874E;}
 .header-navbar .navbar-header .desjardins-brand {
     position: absolute;
     left: 50%;
     top: 0;
     transform: translate(-50%, 0);
   }

/* scotiabank */
   .nav-link.nav-menu-main.menu-toggle.hidden-xs.scotiabank{background-color: #A90E13;}
   .header-navbar .navbar-header .scotiabank-brand {
       position: absolute;
       left: 50%;
       top: 0;
       transform: translate(-50%, 0);
     }
/* bmo */
    .nav-link.nav-menu-main.menu-toggle.hidden-xs.bmo{background-color: #0078C1;}
    .header-navbar .navbar-header .bmo-brand {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, 0);
      }
}

/* NAS button */
.btn-nas {
    color: #fff;
    background-color: #094A77;
    border-color: #094A77; }
    .btn-nas:hover {
      color: #fff;
      background-color: #035D9C;
      border-color: #0c84d1; }
    .btn-nas:focus, .btn-nas.focus {
      box-shadow: 0 0 0 0.2rem rgba(9, 74, 119, 0.5); }
    .btn-nas.disabled, .btn-nas:disabled {
      color: #fff;
      background-color: #094A77;
      border-color: #094A77; }
    .btn-nas:not(:disabled):not(.disabled):active, .btn-nas:not(:disabled):not(.disabled).active,
      .show > .btn-nas.dropdown-toggle {
      color: #fff;
      background-color: #0c84d1;
      border-color: #0b7cc5; }
    .btn-nas:not(:disabled):not(.disabled):active:focus, .btn-nas:not(:disabled):not(.disabled).active:focus,
      .show > .btn-nas.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(9, 74, 119, 0.5); }

.btn-outline-nas {
    color: #094A77;
    background-color: transparent;
    background-image: none;
    border-color: #094A77; }
    .btn-outline-nas:hover {
      color: #fff;
      background-color: #094A77;
      border-color: #094A77; }
      .btn-outline-nas:focus, .btn-outline-nas.focus {
      box-shadow: 0 0 0 0.2rem rgba(3, 93, 156, 0.5); }
    .btn-outline-nas.disabled, .btn-outline-nas:disabled {
      color: #094A77;
      background-color: transparent; }
    .btn-outline-nas:not(:disabled):not(.disabled):active, .btn-outline-nas:not(:disabled):not(.disabled).active,
    .show > .btn-outline-nas.dropdown-toggle {
      color: #fff;
      background-color: #094A77;
      border-color: #094A77; }
    .btn-outline-nas:not(:disabled):not(.disabled):active:focus, .btn-outline-nas:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-nas.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(3, 93, 156, 0.5); }

.nav.nav-tabs .nav-item .nav-link.active {color: #1E9FF2;}

.nav.nav-tabs .nav-item .nav-link {color: #6B6F82}
.main-menu.menu-light .navigation > li ul .active > a {color: #40ADF4; font-weight: 700; }
.main-menu.menu-light .navigation > li.open > a{background: none;}
/*.popover{max-width:450px;}*/
.ABC-list{list-style-type: none;}
.ABC-list li{ display:none; display: inline-block; }
.form-group.ABC-list-box{ width: auto; text-align: center;}
.ABC-list li.active{text-decoration: underline; font-weight: bold;}
.form .form-button{
  border-bottom: 1px solid #d1d5ea;
  padding-bottom: 20px;
  margin-bottom: 1.5rem;
}
.form .form-button.center {text-align: center;}
.repeater-default.small-label .form-group label{ font-size: .7rem;}
.upload-file.input-xs{font-size: .8rem}
.repeater-default .form-group.col-md-1, .repeater-default .form-group.col-md-2{padding-left: 0;}
.margin-top{ margin-top: 5px}
.sorting_1{font-weight: normal;}
.card.no-margin-bottom{margin-bottom: 0;}

@media (min-width: 576px){
form.form-horizontal .form-group .label-control {
text-align: left;
}
.btn-group.float-md-right.cta{float: right;}
}
ul.ABC-list {padding: 0; margin: 0}
p.longtext{width: 30%; display: block; overflow: visible;}

.form-simple input[type="password"] {margin-bottom: 0;}
th {
    text-align: center; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically */
}

/*Secondary logo*/
.secondary-logo { width: auto; text-align: center; padding-top: 10px;}
.secondary-img-logo {width: 65px;}


/*=DESJARDINS==*/

/*desjardins Logo*/
.header-navbar .navbar-header .desjardins-brand .desjardins-logo {width: 220px;}
.header-navbar .navbar-header .desjardins-brand {width:220px;}
.header-navbar.navbar-brand-center .navbar-header.desjardins {left: 0; margin-left:105px}

.dropdown-menu.teal a:hover, .nav .dropdown .dropdown-menu.teal a.dropdown-item.active{ background-color: #009688; color: #fff;}

.navbar-light.desjardins {background-color: #00874E;}
.navbar-light.desjardins .navbar-nav .nav-link{color: #fff; background-color: none;}
.navbar-light.desjardins .navbar-nav.desjardins .active.nav-link, .navbar-nav.desjardins .nav-item.parallel .nav-link:hover{color: #00874E; background-color: #C8E5D2; cursor:pointer; }

.desjardins-form .form-control:focus {border-color: #009688}
.main-menu.menu-light .navigation.teal > li.open > a {border-right: 4px solid #009688;}

/*desjardins sidebar*/
.hidden-xs.desjardins{position: relative; text-align: right; font-size: 20px; height: 50px; padding-right: 22px; background-color: #00874E;}
.hidden-xs.desjardins::after{content: "\e92d";font-family:feather !important; background-color: #00874E;}
.hidden-xs.desjardins.is-active{position: relative; text-align: right;padding: 10px 20px 0 0; background-color: #00874E;}
.hidden-xs.desjardins.is-active::after{content: "\e92c";font-family:feather !important;}

.vertical-content-menu.menu-collapsed .main-menu .main-menu-content > span.menu-title, .vertical-content-menu.menu-collapsed .main-menu .main-menu-content a.menu-title
{background-color: #009688; border-color: #009688;}

/*=SCOTIABANK==*/

/*scotiabank Logo*/
.header-navbar .navbar-header .scotiabank-brand .scotiabank-logo {width: 220px;}
.header-navbar .navbar-header .scotiabank-brand {width:220px;}
.header-navbar.navbar-brand-center .navbar-header.scotiabank {left: 0; margin-left:105px}

.dropdown-menu.red a:hover, .nav .dropdown .dropdown-menu.red a.dropdown-item.active{ background-color: #EE1B2E; color: #fff;}

.navbar-light.scotiabank {background-color: #A90E13;}
.navbar-light.scotiabank .navbar-nav .nav-link{color: #fff; background-color: none;}
.navbar-light.scotiabank .navbar-nav.scotiabank .active.nav-link, .navbar-nav.scotiabank .nav-item.parallel .nav-link:hover{color: #fff; background-color: #BA9B39; cursor:pointer; }

.scotiabank-form .form-control:focus {border-color: #BA9B39}
.main-menu.menu-light .navigation.red > li.open > a {border-right: 4px solid #EE1B2E;}

/*scotiabank sidebar*/
.hidden-xs.scotiabank{position: relative; text-align: right; font-size: 20px; height: 50px; padding-right: 22px; background-color: #A90E13;}
.hidden-xs.scotiabank::after{content: "\e92d";font-family:feather !important; background-color: #A90E13;}
.hidden-xs.scotiabank.is-active{position: relative; text-align: right;padding: 10px 20px 0 0; background-color: #A90E13;}
.hidden-xs.scotiabank.is-active::after{content: "\e92c";font-family:feather !important;}

.vertical-content-menu.menu-collapsed .main-menu .main-menu-content > span.menu-title, .vertical-content-menu.menu-collapsed .main-menu .main-menu-content a.menu-title
{background-color: #EE1B2E; border-color: #EE1B2E;}

.nav.nav-tabs.red .nav-item .nav-link.active{color: #EE1B2E;}

/*=BMO==*/

/*bmo Logo*/
.header-navbar .navbar-header .bmo-brand .bmo-logo {width: 220px;}
.header-navbar .navbar-header .bmo-brand {width:220px;}
.header-navbar.navbar-brand-center .navbar-header.bmo {left: 0; margin-left:105px}

.dropdown-menu.blue a:hover, .nav .dropdown .dropdown-menu.blue a.dropdown-item.active{ background-color: #0078C1; color: #fff;}

.navbar-light.bmo {background-color: #0078C1;}
.navbar-light.bmo .navbar-nav .nav-link{color: #fff; background-color: none;}
.navbar-light.bmo .navbar-nav.bmo .active.nav-link, .navbar-nav.bmo .nav-item.parallel .nav-link:hover{color: #fff; background-color: #ED3124; cursor:pointer; }

.bmo-form .form-control:focus {border-color: #0078C1}
.main-menu.menu-light .navigation.blue > li.open > a {border-right: 4px solid #0078C1;}

/*bmo sidebar*/
.hidden-xs.bmo{position: relative; text-align: right; font-size: 20px; height: 50px; padding-right: 22px; background-color: #0078C1;}
.hidden-xs.bmo::after{content: "\e92d";font-family:feather !important; background-color: #0078C1;}
.hidden-xs.bmo.is-active{position: relative; text-align: right;padding: 10px 20px 0 0; background-color: #0078C1;}
.hidden-xs.bmo.is-active::after{content: "\e92c";font-family:feather !important;}

.vertical-content-menu.menu-collapsed .main-menu .main-menu-content > span.menu-title, .vertical-content-menu.menu-collapsed .main-menu .main-menu-content a.menu-title
{background-color: #0078C1; border-color: #0078C1;}

.nav.nav-tabs.blue .nav-item .nav-link.active{color: #0078C1;}

/*scroll*/
.select-box select{overflow-y: scroll; overflow-x: hidden; width: 100%}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: rgba(0,0,0,.5);
  box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.select-box{ display: block; clear: both;}
.btn-left{float: right; margin: 20px 0;}

.non-form.form-actions.center {
    text-align: center;
}
.non-form.form-actions {
    border-top: 1px solid #d1d5ea;
    padding: 20px 0;
    margin: 20px 20px 0 20px;
}
.non-form.form-actions.center.no-border{border-top:none;}

.download-file{ float: right; margin-bottom:10px; display: block;}
.heading-elements.download-file-search{margin-bottom:30px; display: block; float: right; border: 1px solid red;}

.short-input{width: 118px; display: block;}
select.form-control:not([size]):not([multiple]).input-xs, input.form-control.input-xs{font-size: .7rem;}

.column-visibility-box {float: right; width: 20%}
/*.card-title {float: left; width: 50%;}*/
.card-header.with-download {padding: 0; overflow: hidden; display: block;}
.align-center{text-align: center;}
.table-solid {border-right:1px solid rgba(0, 0, 0, 0.06);border-left:1px solid rgba(0, 0, 0, 0.06) }

/*on-boarding*/
i.step-circle.selected{background-color: #1E9FF2;}
span.step-circle.selected {color: #1E9FF2;}
.main-menu.menu-light .navigation .onboard .menu-content li a:hover{background-color: #f0f0f0; color: #40ADF4;}
.onboard .menu-content li a i.step-circle:hover{background-color: #1E9FF2;}
.onboard .menu-content li a span.step-circle:hover{color: #1E9FF2; font-weight: bold;}
 i.step-circle {background:#80868b;
   border-radius:50%;color:#fff;
   display:inline-block;
   font-style:normal;
   height:20px;
   line-height:20px;
   margin-right:8px;
   min-width:20px;
   text-align:center;
   vertical-align:
   middle;width:20px;
   z-index: 2;
   position: relative;
}
 i.step-circle:after, i.step-circle:before {
  border-left:1px solid #80868b;
  border-right:1px solid #80868b;
  content:"";
  display:block;
  height:44px;
  width:0;
  z-index: -2;
  position: relative;
}
 i.step-circle:before {
  margin-left:9px;
  margin-top:-44px;

}
 i.step-circle:after {
  margin-left:9px;
}
i.first-step::before, i.last-step::after{border: none}
.main-menu.menu-light .navigation > li ul li > a{padding: 8px 18px 8px 45px; font-size: .9rem;}
.main-menu.menu-light .navigation > li.onboard.open .hover > a {
  transform: translateX(0); cursor: pointer;}

    .vertical-content-menu.menu-collapsed .main-menu .main-menu-content > ul.menu-content li > a > i:before, .vertical-content-menu.menu-collapsed .main-menu .main-menu-content > ul.menu-content li > a > i:before {
    display: none;}
    .vertical-content-menu.menu-collapsed .main-menu .main-menu-content > ul.menu-content li > a > i:after, .vertical-content-menu.menu-collapsed .main-menu .main-menu-content > ul.menu-content li > a > i:after {
    height: 40px;}
   .vertical-content-menu.menu-collapsed .main-menu .main-menu-content > ul.menu-content li > a > i.last-step:after, .vertical-content-menu.menu-collapsed .main-menu .main-menu-content > ul.menu-content li > a > i.last-step:after {
   border:none;}
   .vertical-content-menu.menu-collapsed .main-menu .main-menu-content > ul.menu-content li:hover > a, .vertical-content-menu.menu-collapsed .main-menu .main-menu-content > ul.menu-content li.hover > a {
     transform:none; font-weight: bold; color: #1E9FF2;}
   .vertical-content-menu.menu-collapsed .main-menu .main-menu-content > ul.menu-content li:hover > a > a, .vertical-content-menu.menu-collapsed .main-menu .main-menu-content > ul.menu-content li.hover > a > a {
     transform:none;}
/* Make table non-scrollable horizontally*/
.table th, .table td {
    padding: .5rem; }
.table{font-size: .9rem;}

.form-section {
    color: #2C303B;
    line-height: 3rem;
    margin-bottom: 20px;
    border-bottom: 1px solid #2C303B;}

.table td {text-align: center;}

.question-icon{display: inline-block; line-height: 30px; width: 30px}
.ms-settings{float: left; width: 85%;}
.ms-settings-icon{float: left; width: 91%;}
.accordion-collapsible{ border: 1px solid #BABFC7; border-radius: 0.25rem;}
.ui-accordion .ui-accordion-header.ui-accordion-header-active{ background: #1E9FF2; color: #fff;}
.input-group-text.leftcurrency{font-size: .9rem; height: 2.1rem;}
.input-group-text.righttext{font-size: .9rem; height: 2.1rem;}
form.form-horizontal .form-group .label-control.label-alignment{text-align: right;}
.table-responsive.info-table{ border:1px solid #cacfe7; padding: 12px 12px 0 12px; border-radius: 0.25rem; margin: 5px; width: 500px;}
.table-responsive.info-table .table td{ border:none; padding: 2px; margin: 0;}
.table-responsive.info-table .table tbody { padding: 0; margin: 0;}
td.infofield{text-align: left; width:20%; }
td.infoname{text-align: left; width:78%; font-weight: bold;}
