<template>
  <div class="card-body">
    <section id="grid-with-label" class="grid-with-border">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">{{ $t('action.advanceFilter') }}</h4>
              <a class="heading-elements-toggle"><i class="ft-align-justify font-medium-3"/></a>
              <div class="heading-elements">
                <ul class="list-inline mb-0">
                  <li><a data-toggle="collapse" href="#collapseExample" @click=" collapsed = !collapsed"><i :class= "[collapsed ? 'ft-plus' : 'ft-minus']"/></a></li>
                </ul>
              </div>
            </div>
            <div id="collapseExample" class="card-content collapse hide">
              <div class="card-body">
                <form action="#">
                  <div class="form-body">
                    <div class="row">
                      <div class="col-md-3">
                        <nas-input id="name" v-model="filter.name" :name="$t('systemAdmin.company.companyName')"/>
                      </div>
                      <div class="col-md-3">
                        <nas-input id="displayName" v-model="filter.displayName" :name="$t('systemAdmin.company.displayName')"/>
                      </div>
                      <div class="col-md-3">
                        <nas-input id="bccEmail" v-model="filter.bccEmail" :name="$t('systemAdmin.company.bccEmail')" type="email" />
                      </div>
                      <div class="col-md-3">
                        <nas-input id="bccOtheremail" v-model="filter.bccOtheremail" :name="$t('systemAdmin.company.bccOtheremail')" type="email" />
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3">
                        <nas-select id="companyType" v-model="filter.type" :items="types" :name="$t('systemAdmin.company.type')"/>
                      </div>
                      <div class="col-md-3">
                        <nas-select id="lenderInd" v-model="filter.lenderInd" :items="lenders" :name="$t('systemAdmin.company.lenderInd')" />
                      </div>
                      <div class="col-md-3">
                        <nas-select id="subprime" v-model="filter.subprime" :items="subprimes" :name="$t('systemAdmin.company.subprime')" />
                      </div>
                    </div>
                  </div>
                  <div class="form-actions filter-buttons">
                    <div class="text-right">
                      <button type="reset" class="btn mr-1 mb-1 btn-red btn-sm" @click="clearFilter">{{ $t('action.clear') }}</button>
                      <button type="button" class="btn mr-1 mb-1 btn-nas btn-sm" @click="apply">{{ $t('action.apply') }}</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import _ from 'lodash'
import NasInput from '~/components/form/Input.vue'
import NasSelect from '~/components/form/Select.vue'
import { getTypes, getLenders, getSubprimes } from '~/lib/util/company'

export default {
  components: {
    NasInput,
    NasSelect
  },
  data() {
    return {
      collapsed: true,
      filter: {}
    }
  },
  computed: {
    types() {
      const typeOptions = getTypes()
      typeOptions.unshift({ name: 'Select Company Type', value: '' })
      return typeOptions
    },
    lenders() {
      const lenderOptions = getLenders()
      lenderOptions.unshift({ name: 'Select Lender IND', value: '' })
      return lenderOptions
    },
    subprimes() {
      const subprimeOptions = getSubprimes()
      subprimeOptions.unshift({ name: 'Select Subprime', value: '' })
      return subprimeOptions
    }
  },
  async mounted() {
    this.apply()
    this.clearFilter()
  },
  methods: {
    apply() {
      this.$emit('clicked', this.filter)
    },
    clearFilter() {
      this.filter = {}
      this.$emit('clicked', this.filter)
    }
  }
}
</script>
