<template>
  <div class="content-body">
    <section id="basic-form-layouts">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="btn-group float-md-right cta" role="group" aria-label="Button group with nested">
              <nuxt-link to="/users">
                <button class="btn btn-info round" type="submit"><i class="la la-th-list"/>{{ $t('action.view') }} {{ $tc('systemAdmin.user.title', 2) }}</button>
              </nuxt-link>
            </div>
          </div>
          <div class="card-content collapse show">
            <div class="card-body">
              <form class="form" @submit="onSubmitUser">
                <div class="row justify-content-md-center">
                  <div class="col-md-6">
                    <div class="form-body">
                      <h4 class="form-section"><i class="ft-briefcase"/> {{ $t('action.update') }} {{ $tc('systemAdmin.user.title', 1) }}</h4>

                      <nas-input id="userName" v-model="datas.username" :name="$t('systemAdmin.user.username')" required/>
                      <nas-input id="firstName" v-model="datas.firstName" :name="$t('systemAdmin.user.firstName')"/>
                      <nas-input id="lastName" v-model="datas.lastName" :name="$t('systemAdmin.user.lastName')"/>
                      <nas-input id="email" v-model="datas.emailAddress" :name="$t('systemAdmin.user.emailAddress')" type="email" />
                      <nas-input id="phone" v-model="datas.phoneNumber" :name="$t('systemAdmin.user.phoneNumber')" type="number" />
                      <nas-input id="fax" v-model="datas.faxNumber" :name="$t('systemAdmin.user.faxNumber')" type="number" />
                      <nas-input id="address1" v-model="datas.addressLine1" :name="$tc('systemAdmin.user.address', 2, {count:1})" type="address" />
                      <nas-input id="address2" v-model="datas.addressLine2" :name="$tc('systemAdmin.user.address', 2, { count: 2 })" type="address" />
                      <nas-select id="country" v-model="datas.countryCode" :items="countries" :name="$t('systemAdmin.common.country')" required/>
                      <nas-select id="province" v-model="datas.province" :items="provinces" :name="$t('systemAdmin.common.province')" />
                      <nas-input id="city" v-model="datas.city" :name="$t('systemAdmin.common.city')"/>
                      <nas-input id="municipality" v-model="datas.municipality" :name="$t('systemAdmin.user.municipality')"/>
                      <nas-input id="colonial" v-model="datas.colonial" :name="$t('systemAdmin.user.colonial')"/>
                      <nas-input id="postalCode" v-model="datas.postalCode" :name="$t('systemAdmin.user.postalCode')"/>
                      <nas-select id="userType" v-model="datas.userType" :items="types" :name="$t('systemAdmin.user.userType')" required/>

                      <!-- Show this if the user type is Appraiser -->
                      <template v-if="datas.userType === 'A'">
                        <h4 class="form-section"><i class="ft-briefcase" />{{ $t('systemAdmin.user.appraiser.title') }}</h4>
                        <nas-input id="nasCapacity" v-model="appraisers.capacity" :name="$t('systemAdmin.user.appraiser.capacity')" type="number"/>
                        <nas-select id="autoReassign" v-model="appraisers.autoreassign" :items="yesNo" :name="$t('systemAdmin.user.appraiser.autoReassign')" required/>
                        <nas-input id="geCapacity" v-model="appraisers.geCapacity" :name="$t('systemAdmin.user.appraiser.gensworthCapacity')" type="number"/>
                        <nas-input id="rank" v-model="appraisers.ranking" :name="$t('systemAdmin.common.rank')" type="number"/>
                        <nas-input id="gstHstQst" v-model="appraisers.gstHstQstNbr" :name="$t('systemAdmin.user.appraiser.Gst_Hst_Qst')"/>
                        <nas-select id="availability" v-model="appraisers.notAvailableInd" :items="yesNo" :name="$t('systemAdmin.user.appraiser.onVacation')"/>
                        <nas-input id="nbrApps" v-model="appraisers.nbrAppsPerReview" :name="$t('systemAdmin.user.appraiser.nbrAppsPerReview')"/>
                        <nas-input id="leadDay" v-model="appraisers.requestLeadTimeDays" :name="$t('systemAdmin.user.appraiser.nbrAppsPerReview')"/>
                        <nas-select id="virtual" v-model="appraisers.isVirtual" :items="yesNo" :name="$t('systemAdmin.common.virtual')"/>
                        <nas-input id="designation" v-model="appraisers.designation" :name="$t('systemAdmin.user.appraiser.designation')"/>
                        <nas-select id="appTerm" v-model="appraisers.appraiserTermsAccepted" :items="yesNo" :name="$t('systemAdmin.user.appraiser.appTerm')"/>
                        <h4 class="form-section"/>
                      </template>

                      <!-- Show this if the user type is Client -->
                      <template v-else-if="datas.userType === 'C'">
                        <h4 class="form-section"><i class="ft-briefcase" />{{ $t('systemAdmin.user.client.title') }}</h4>
                        <nas-select id="mqUser" v-model="clients.mqUser" :items="mqUsers" :name="$t('systemAdmin.user.client.mqUser')" />
                        <nas-input id="completeEmail" v-model="clients.completedEmailAddress" name="Completed Email Address" type="email" />
                        <nas-select id="brokerHouse" v-model="clients.brokerHeadOffice" :items="brokerHouse" :name="$t('systemAdmin.user.client.brokerHeadOffice')"/>
                        <nas-select id="brokerTerm" v-model="clients.brokerTermsAccepted" :items="yesNo" :name="$t('systemAdmin.user.client.brokerTermsAccepted')"/>
                        <h4 class="form-section"/>
                      </template>
                      <auto-complete id="clientCompany" v-model="datas.companyId" :items="companies" :name="$tc('systemAdmin.company.title')" required @input="getCompanies" @clicked="getCompanyId"/>

                      <nas-input id="groupId" v-model="datas.groupid" :name="$tc('systemAdmin.user.groupId')"/>
                      <nas-input id="techLevel" v-model="datas.techLevel" :name="$tc('systemAdmin.user.techLevel')"/>
                      <nas-select id="emailOnly" v-model="datas.emailOnly" :items="yesNo" :name="$tc('systemAdmin.user.emailOnly')" required/>
                      <nas-input id="notes" v-model="datas.notes" :name="$tc('systemAdmin.user.notes')" type="textarea" rows="5"/>
                      <nas-select id="smsAllow" v-model="datas.smsEnable" :items="yesNo" :name="$tc('systemAdmin.user.smsAllowed')" required/>
                      <nas-select id="smsProvider" v-model="datas.smsProvider" :items="providers" :name="$tc('systemAdmin.user.smsProvider')"/>
                      <nas-input id="smsNumber" v-model="datas.smsNumber" :name="$t('systemAdmin.user.smsNumber')" type="number"/>
                      <nas-select id="mobileAccess" v-model="datas.mobileAccess" :items="yesNo" :name="$t('systemAdmin.user.mobileAccess')"/>
                      <nas-select id="testAccount" v-model="datas.testAccount" :items="yesNo" :name="$t('systemAdmin.user.testAccount')"/>
                    </div>
                  </div>
                </div>
                <div class="form-actions center">
                  <button type="reset" class="btn btn-danger">
                    <i class="ft-refresh-cw position-right"/> {{ $t('action.reset') }}
                  </button>
                  <button type="submit" class="btn btn-primary">
                    <i class="ft-check position-right"/>{{ $t('action.submit') }}
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import _ from 'lodash'
import to from 'await-to-js'
import NasInput from '~/components/form/Input.vue'
import NasSelect from '~/components/form/Select.vue'
import AutoComplete from '~/components/form/AutoComplete.vue'
import { getProvinces, getCountries } from '~/lib/util/region'
import {
  getTypes,
  getProvider,
  getMqUsers,
  getBrokerHouse
} from '~/lib/util/user'
import Swal from 'sweetalert2'
export default {
  components: {
    NasInput,
    NasSelect,
    AutoComplete,
    Swal
  },
  data() {
    return {
      yesNo: [{ name: 'Yes', value: 'Y' }, { name: 'No', value: 'N' }],
      appraisers: {},
      clients: {}
    }
  },
  computed: {
    countries() {
      const countriesOptions = getCountries()
      return countriesOptions
    },
    provinces() {
      const countryCode = _.get(this, 'datas.countryCode')
      const provinceOptions = getProvinces(countryCode)
      return provinceOptions
    },
    types() {
      const typeOptions = getTypes()
      return typeOptions
    },
    providers() {
      const providerOptions = getProvider()
      return providerOptions
    },
    brokerHouse() {
      const brokerOptions = getBrokerHouse()
      return brokerOptions
    },
    mqUsers() {
      const mqOptions = getMqUsers()
      return mqOptions
    }
  },
  async asyncData({ app, params }) {
    let companies = []
    let [errData, datas] = await to(
      app.$axios.$get(`/api/userInfos/${params.id}`)
    )
    if (err) {
      Swal.fire('Error!', errData, 'error')
    }
    if (_.get(datas, 'companyId')) {
      let [errComp, companyId] = await to(
        app.$axios.$get(`/api/companies/${datas.companyId}`)
      )
      if (companyId) {
        companies = [
          {
            name: _.get(companyId, 'name'),
            value: _.get(companyId, 'id')
          }
        ]
      } else {
        Swal.fire('Error!', errComp, 'error')
      }
    }

    if (datas.userType == 'A') {
      let [errAppraiser, appraisers] = await to(
        app.$axios.$get(`/api/userInfoAppraisers/${params.id}`)
      )
      if (errAppraiser) {
        Swal.fire('Error!', errAppraiser, 'error')
      }
      return { appraisers, datas, companies }
    } else if (datas.userType == 'C') {
      let [err, clients] = await to(
        app.$axios.$get(`/api/userInfoClients/${params.id}`)
      )
      if (err) {
        Swal.fire('Error!', err, 'error')
      }
      return { clients, datas, companies }
    } else {
      return { datas, companies }
    }
  },
  methods: {
    getCompanyId(company) {
      this.datas.companyId = company.value
    },
    async getCompanies(search) {
      let [errComp, companies] = await to(
        this.$axios.$get(`/api/companies?name=${search}`)
      )

      if (companies) {
        this.companies = _.map(
          _.get(companies, '_embedded.companyList'),
          c => ({
            name: c.name,
            value: c.id
          })
        )
      } else {
        Swal.fire('Error!', errComp, 'error')
      }
    },
    async onSubmitUser(evt) {
      evt.preventDefault()

      let [err, user] = await to(
        this.$axios.$put(`/api/userInfos/${this.datas.id}`, this.datas)
      )

      if (err || !user) {
        Swal.fire('Error!', 'Error on Updating Data', 'error')
      } else {
        if (this.datas.userType == 'A') {
          let [err, appraiser] = await to(
            this.$axios.$put(
              `/api/userInfoAppraisers/${this.datas.id}`,
              this.appraisers
            )
          )
          if (err || !appraiser) {
            Swal.fire('Error!', 'Error on Updating Data', 'error')
          } else {
            Swal.fire('Success!', 'Data Successfully Updated', 'success')
            this.$router.push('/users')
          }
        } else if (this.datas.userType == 'C') {
          let [err, client] = await to(
            this.$axios.$put(
              `/api/userInfoClients/${this.datas.id}`,
              this.clients
            )
          )
          if (err || !client) {
            Swal.fire('Error!', 'Error on Updating Data', 'error')
          } else {
            Swal.fire('Success!', 'Data Successfully Updated', 'success')
            this.$router.push('/users')
          }
        } else {
          Swal.fire('Success!', 'Data Successfully Updated', 'success')
          this.$router.push('/users')
        }
      }
    }
  }
}
</script>
