<template>
  <div class="content-body">
    <section id="basic-form-layouts">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="btn-group float-md-right cta" role="group" aria-label="Button group with nested">
              <nuxt-link to="/users">
                <button class="btn btn-info round" type="submit"><i class="la la-th-list"/>{{ $t('action.view') }} {{ $tc('systemAdmin.user.title', 2) }}</button>
              </nuxt-link>
            </div>
          </div>
          <div class="card-content collapse show">
            <div class="card-body">
              <form class="form" @submit="onSubmitUser">
                <div class="row justify-content-md-center">
                  <div class="col-md-6">
                    <div class="form-body">
                      <h4 class="form-section"><i class="ft-briefcase"/> {{ $t('action.add') }} {{ $tc('systemAdmin.user.title', 1) }}</h4>

                      <nas-input id="userName" v-model="form.username" :name="$t('systemAdmin.user.username')" required/>
                      <nas-input id="firstName" v-model="form.firstName" :name="$t('systemAdmin.user.firstName')"/>
                      <nas-input id="lastName" v-model="form.lastName" :name="$t('systemAdmin.user.lastName')"/>
                      <nas-input id="email" v-model="form.emailAddress" :name="$t('systemAdmin.user.emailAddress')" type="email" />
                      <nas-input id="phone" v-model="form.phoneNumber" :name="$t('systemAdmin.user.phoneNumber')" type="number" />
                      <nas-input id="fax" v-model="form.faxNumber" :name="$t('systemAdmin.user.faxNumber')" type="number" />
                      <nas-input id="address1" v-model="form.addressLine1" :name="$tc('systemAdmin.user.address', 2, {count:1})" type="address" />
                      <nas-input id="address2" v-model="form.addressLine2" :name="$tc('systemAdmin.user.address', 2, { count: 2 })" type="address" />
                      <nas-select id="country" v-model="form.countryCode" :items="countries" :name="$t('systemAdmin.common.country')" required/>
                      <nas-select id="province" v-model="form.province" :items="provinces" :name="$t('systemAdmin.common.province')" />
                      <nas-input id="city" v-model="form.city" :name="$t('systemAdmin.common.city')"/>
                      <nas-input id="municipality" v-model="form.municipality" :name="$t('systemAdmin.user.municipality')"/>
                      <nas-input id="colonial" v-model="form.colonial" :name="$t('systemAdmin.user.colonial')"/>
                      <nas-input id="postalCode" v-model="form.postalCode" :name="$t('systemAdmin.user.postalCode')"/>
                      <nas-select id="userType" v-model="form.userType" :items="types" :name="$t('systemAdmin.user.userType')" required/>

                      <!-- Show this if the user type is Appraiser -->
                      <template v-if="form.userType === 'A'">
                        <h4 class="form-section"><i class="ft-briefcase" />{{ $t('systemAdmin.user.appraiser.title') }}</h4>
                        <nas-input id="nasCapacity" v-model="appraiser.capacity" :name="$t('systemAdmin.user.appraiser.capacity')" type="number"/>
                        <nas-select id="autoReassign" v-model="appraiser.autoreassign" :items="yesNo" :name="$t('systemAdmin.user.appraiser.autoReassign')" required/>
                        <nas-input id="geCapacity" v-model="appraiser.geCapacity" :name="$t('systemAdmin.user.appraiser.gensworthCapacity')" type="number"/>
                        <nas-input id="rank" v-model="appraiser.ranking" :name="$t('systemAdmin.common.rank')" type="number"/>
                        <nas-input id="gstHstQst" v-model="appraiser.gstHstQstNbr" :name="$t('systemAdmin.user.appraiser.Gst_Hst_Qst')"/>
                        <nas-select id="availability" v-model="appraiser.notAvailableInd" :items="yesNo" :name="$t('systemAdmin.user.appraiser.onVacation')"/>
                        <nas-input id="nbrApps" v-model="appraiser.nbrAppsPerReview" :name="$t('systemAdmin.user.appraiser.nbrAppsPerReview')"/>
                        <nas-input id="leadDay" v-model="appraiser.requestLeadTimeDays" :name="$t('systemAdmin.user.appraiser.nbrAppsPerReview')"/>
                        <nas-select id="virtual" v-model="appraiser.isVirtual" :items="yesNo" :name="$t('systemAdmin.common.virtual')"/>
                        <nas-input id="designation" v-model="appraiser.designation" :name="$t('systemAdmin.user.appraiser.designation')"/>
                        <nas-select id="appTerm" v-model="appraiser.appraiserTermsAccepted" :items="yesNo" :name="$t('systemAdmin.user.appraiser.appTerm')"/>
                        <h4 class="form-section"/>
                      </template>

                      <!-- Show this if the user type is Client -->
                      <template v-else-if="form.userType === 'C'">
                        <h4 class="form-section"><i class="ft-briefcase" />{{ $t('systemAdmin.user.client.title') }}</h4>
                        <nas-select id="mqUser" v-model="client.mqUser" :items="mqUsers" :name="$t('systemAdmin.user.client.mqUser')" />
                        <nas-input id="completeEmail" v-model="client.completedEmailAddress" name="Completed Email Address" type="email" />
                        <nas-select id="brokerHouse" v-model="client.brokerHeadOffice" :items="brokerHouse" :name="$t('systemAdmin.user.client.brokerHeadOffice')"/>
                        <nas-select id="brokerTerm" v-model="client.brokerTermsAccepted" :items="yesNo" :name="$t('systemAdmin.user.client.brokerTermsAccepted')"/>
                        <h4 class="form-section"/>
                      </template>

                      <auto-complete id="company" v-model="form.companyId" :items="companies" :name="$tc('systemAdmin.company.title')" required is-async @input="getCompanies" @clicked="getCompanyId" @list="getCompanies"/>

                      <nas-input id="groupId" v-model="form.groupid" :name="$t('systemAdmin.user.groupId')"/>
                      <nas-input id="techLevel" v-model="form.techLevel" :name="$t('systemAdmin.user.techLevel')"/>
                      <nas-select id="emailOnly" v-model="form.emailOnly" :items="yesNo" :name="$t('systemAdmin.user.emailOnly')" required/>
                      <nas-input id="notes" v-model="form.notes" :name="$t('systemAdmin.user.notes')" type="textarea" rows="5"/>
                      <nas-select id="smsAllow" v-model="form.smsEnable" :items="yesNo" :name="$t('systemAdmin.user.smsAllowed')" required/>
                      <nas-select id="smsProvider" v-model="form.smsProvider" :items="providers" :name="$t('systemAdmin.user.smsProvider')"/>
                      <nas-input id="smsNumber" v-model="form.smsNumber" :name="$t('systemAdmin.user.smsNumber')" type="number"/>
                      <nas-select id="mobileAccess" v-model="form.mobileAccess" :items="yesNo" :name="$t('systemAdmin.user.mobileAccess')"/>
                      <nas-select id="testAccount" v-model="form.testAccount" :items="yesNo" :name="$t('systemAdmin.user.testAccount')"/>
                    </div>
                  </div>
                </div>
                <div class="form-actions center">
                  <button type="reset" class="btn btn-danger">
                    <i class="ft-refresh-cw position-right"/> {{ $t('action.reset') }}
                  </button>
                  <button type="submit" class="btn btn-primary">
                    <i class="ft-check position-right"/>{{ $t('action.submit') }}
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import to from 'await-to-js'
import _ from 'lodash'
import NasInput from '~/components/form/Input.vue'
import NasSelect from '~/components/form/Select.vue'
import AutoComplete from '~/components/form/AutoComplete.vue'
import { getCountries, getProvinces } from '~/lib/util/region'
import Swal from 'sweetalert2'
import {
  getMqUsers,
  getTypes,
  getAppTypes,
  getBrokerHouse,
  getProvider
} from '~/lib/util/user'

export default {
  components: {
    NasInput,
    NasSelect,
    AutoComplete
  },
  data() {
    return {
      companies: [],
      yesNo: [
        { name: 'Select One', value: '' },
        { name: 'Yes', value: 'Y' },
        { name: 'No', value: 'N' }
      ],
      form: {},
      appraiser: {},
      client: {}
    }
  },
  computed: {
    countries() {
      const countriesOptions = getCountries()
      countriesOptions.unshift({ name: 'Select Country', value: '' })
      return countriesOptions
    },
    provinces() {
      const countryCode = _.get(this, 'form.countryCode')
      const provinceOptions = getProvinces(countryCode)
      provinceOptions.unshift({ name: 'Select Province', value: '' })
      return provinceOptions
    },
    mqUsers() {
      const mqOptions = getMqUsers()
      mqOptions.unshift({ name: 'Select MQ User', value: '' })
      return mqOptions
    },
    types() {
      const typeOptions = getTypes()
      typeOptions.unshift({ name: 'Select Type', value: '' })
      return typeOptions
    },
    appType() {
      const appTypeOptions = getAppTypes()
      appTypeOptions.unshift({ name: 'Select Appraiser Type', value: '' })
      return appTypeOptions
    },
    brokerHouse() {
      const brokerOptions = getBrokerHouse()
      brokerOptions.unshift({ name: 'Select Broker House', value: '' })
      return brokerOptions
    },
    providers() {
      const providerOptions = getProvider()
      providerOptions.unshift({ name: 'Select SMS Provider', value: '' })
      return providerOptions
    }
  },
  methods: {
    async getCompanies(search) {
      let [errComp, companies] = await to(
        this.$axios.$get(`/api/companies?name=${search}`)
      )
      if (errComp) {
        Swal.fire('Error!', errComp, 'error')
      }
      this.companies = _.map(_.get(companies, '_embedded.companyList'), c => ({
        name: c.name,
        value: c.id
      }))
    },
    getCompanyId(company) {
      this.form.companyId = company.value
    },
    async onSubmitUser(evt) {
      evt.preventDefault()
      let [err, user] = await to(this.$axios.$post(`/api/userInfos`, this.form))

      if (err) {
        Swal.fire('Error!', 'Error on Adding New Data', 'error')
      } else {
        if (this.form.userType == 'A') {
          this.appraiser.id = user.id
          let [err, appraiser] = await to(
            this.$axios.$post(`/api/userInfoAppraisers`, this.appraiser)
          )
          if (err || !appraiser) {
            Swal.fire('Error!', 'Error on Adding New Data', 'error')
          } else {
            Swal.fire('Success!', 'New Data Successfully Added', 'success')
            this.$router.push('/users')
          }
        } else if (this.form.userType == 'C') {
          this.client.id = user.id
          let [err, client] = await to(
            this.$axios.$post(`/api/userInfoClients`, this.client)
          )
          if (err || !client) {
            Swal.fire('Error!', 'Error on Adding New Data', 'error')
          } else {
            Swal.fire('Success!', 'New Data Successfully Added', 'success')
            this.$router.push('/users')
          }
        } else {
          Swal.fire('Success!', 'New Data Successfully Added', 'success')
          this.$router.push('/users')
        }
      }
    }
  }
}
</script>
