<template>
  <div class="content-body">
    <section class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-head">
            <div class="card-header">
              <h4 class="card-title">{{ $tc('systemAdmin.user.title', 2) }}</h4>
              <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"/></a>
              <div class="heading-elements">
                <div class="btn-group float-md-right cta" role="group" aria-label="Button group with nested">
                  <nuxt-link to="/users/add">
                    <button class="btn btn-info round" type="submit">
                    <i class="ft-plus-circle"/>{{ $t('action.add') }} {{ $tc('systemAdmin.user.title') }}</button>
                  </nuxt-link>
                </div>
              </div>
            </div>

            <advance-filter :table="table" @clicked="getFilter"/>

            <nas-table id="user-table" ref="userTable" :columns="columns" :api="api"
                       :filter="filter" :has-active-flag="true" sort-by="id,desc" page-name="user"/>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import to from 'await-to-js'
import _ from 'lodash'
import AdvanceFilter from '~/components/systemAdmin/users/AdvanceFilter.vue'
import NasTable from '~/components/table'
import { getAction } from '~/lib/util/action.js'
import { getCountry, getProvince } from '~/lib/util/region'
import { getType } from '~/lib/util/user'
import Swal from 'sweetalert2'
export default {
  components: {
    NasTable,
    AdvanceFilter,
    Swal
  },
  data() {
    return {
      table: {},
      api: {
        url: '/api/userInfos',
        dataPath: '_embedded.userInfoList'
      },
      columns: [
        {
          data: 'id',
          title: this.$t('action.action'),
          render: this.action(this.hide, '/users/'),
          isComponent: true,
          show: true
        },
        {
          data: 'username',
          title: this.$t('systemAdmin.user.username'),
          show: true
        },
        {
          data: 'firstName',
          title: this.$t('systemAdmin.user.firstName'),
          show: true
        },
        {
          data: 'lastName',
          title: this.$t('systemAdmin.user.firstName'),
          show: true
        },
        {
          data: 'emailAddress',
          title: this.$t('systemAdmin.user.emailAddress'),
          show: true
        },
        {
          data: 'userType',
          title: this.$t('systemAdmin.user.userType'),
          render: this.uType(),
          show: true
        },
        {
          data: 'phoneNumber',
          title: this.$t('systemAdmin.user.phoneNumber'),
          show: false
        },
        {
          data: 'faxNumber',
          title: this.$t('systemAdmin.user.faxNumber'),
          show: false
        },
        {
          data: 'postalCode',
          title: this.$t('systemAdmin.user.postalCode'),
          show: false
        },
        {
          data: 'countryCode',
          title: this.$t('systemAdmin.common.country'),
          render: this.country(),
          show: false
        },
        {
          data: 'province',
          title: this.$t('systemAdmin.common.province'),
          render: this.province(),
          show: false
        },
        {
          data: 'city',
          title: this.$t('systemAdmin.common.city'),
          show: false
        },
        {
          data: 'municipality',
          title: this.$t('systemAdmin.common.municipality'),
          show: false
        }
      ],
      filter: {}
    }
  },
  methods: {
    country() {
      return data => getCountry({ value: data }, 'name')
    },
    province() {
      return (data, item, row) =>
        getProvince(_.get(item, 'countryCode'), { value: data }, 'name')
    },
    action(hide, path) {
      return data => {
        return getAction(data, hide, path)
      }
    },
    uType() {
      return data => getType({ value: data }, 'name')
    },
    async hide(id) {
      try {
        let result = await Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes, delete it!',
          cancelButtonText: 'No, cancel!'
        })
        // SUCCESS
        if (result.value) {
          const flag = 'N'
          const [errHide, hide] = await to(
            this.$axios.$put(`/api/userInfos/${id}/active/${flag}`)
          )
          if (hide) {
            Swal.fire('Deleted!', 'Your file has been deleted!', 'success')
            this.$refs.userTable.load()
          } else {
            Swal.fire('Error!', errHide, 'error')
          }
        }
      } catch (e) {
        // Fail!
        console.error(e)
        Swal.fire('Error!', 'Error on Deleting File!', 'error')
      }
    },
    getFilter(data) {
      this.filter = data
      this.$refs.userTable.load()
    }
  }
}
</script>
