<template>
  <div class="content-body">
    <section id="basic-form-layouts">
      <div class="row match-height">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="btn-group float-md-right cta" role="group" aria-label="Button group with nested">
                <nuxt-link to="/appraiser-region">
                  <button class="btn btn-info round" type="button"><i class="la la-th-list"/>{{ $t('action.view') }} {{ $tc('systemAdmin.appraiserRegion.title', 2) }}</button>
                </nuxt-link>
              </div>
            </div>

            <nas-form :submit="onSubmit" :data="data" :opts="opts"/>

          </div>
        </div>
      </div>

    </section>
  </div>
</template>
<script>
import _ from 'lodash'
import to from 'await-to-js'

import NasForm from '~/components/systemAdmin/appraiser-region/Form.vue'
import Swal from 'sweetalert2'
export default {
  components: {
    NasForm,
    Swal
  },
  async asyncData({ app, params }) {
    const data = await app.$axios.$get(`/api/appraiserRegions/${params.id}`)
    const opts = {}
    console.log(data)

    let user = _.get(data, 'userInfo')
    let region = _.get(data, 'region')

    if (region) {
      opts.region = [
        {
          name: _.get(region, 'name'),
          value: _.get(region, 'id')
        }
      ]
    }
    if (user) {
      opts.userNames = [
        {
          name: _.get(user, 'username'),
          value: _.get(user, 'id')
        }
      ]
    }
    return { data, opts }
  },
  data() {},
  methods: {
    async onSubmit(form) {
      form.lastUpdatedBy = 'Johnren'
      let [err, rule] = await to(
        this.$axios.$put(
          `/api/appraiserRegions/${form.appraiserRegionId}`,
          form
        )
      )

      if (err || !rule) {
        Swal.fire('Error!', 'Username and Region already exist', 'error')
      } else {
        Swal.fire('Success!', 'Data Successfully Updated', 'success')
        this.$router.push('/appraiser-region')
      }
    }
  }
}
</script>
