<template>
  <div class="content-body">
    <section id="basic-form-layouts">
      <div class="row match-height">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="btn-group float-md-right cta" role="group" aria-label="Button group with nested">
                <nuxt-link to="/appraiser-region">
                  <button class="btn btn-info round" type="button"><i class="la la-th-list"/>{{ $t('action.view') }} {{ $tc('systemAdmin.appraiserRegion.title', 2) }}</button>
                </nuxt-link>
              </div>
            </div>

            <nas-form :submit="onSubmit"/>

          </div>
        </div>
      </div>

    </section>
  </div>
</template>
<script>
import _ from 'lodash'
import to from 'await-to-js'

import NasForm from '~/components/systemAdmin/appraiser-region/Form.vue'
import Swal from 'sweetalert2'
export default {
  components: {
    NasForm,
    Swal
  },
  methods: {
    async onSubmit(form) {
      form.lastUpdatedBy = 'Johnren'
      let [err, rule] = await to(
        this.$axios.$post(`/api/appraiserRegions`, form)
      )

      if (err || !rule) {
        Swal.fire('Error!', 'Username and Region already exist', 'error')
      } else {
        Swal.fire('Success!', 'New Data Successfully Added', 'success')
        this.$router.push('/appraiser-region')
      }
    }
  }
}
</script>
