<template>
  <div class="content-body">
    <section class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-head">
            <div class="card-header">
              <h4 class="card-title">{{ $t('action.view') }} {{ $tc('systemAdmin.appraiserRegion.title', 2) }}</h4>
              <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"/></a>

              <div class="heading-elements">
                <div
                  class="btn-group float-md-right cta"
                  role="group"
                  aria-label="Button group with nested">
                  <nuxt-link to="/appraiser-region/add">
                    <button
                      class="btn btn-info round"
                      type="button"><i class="ft-plus-circle"/>{{ $t('action.add') }} {{ $tc('systemAdmin.appraiserRegion.title') }}</button>
                  </nuxt-link>

                </div>
              </div>
            </div>
            <advance-filter @clicked="getFilter"/>

            <nas-table id="appraiser-region-table" ref="appraiserRegionTable" :columns="columns" :api="api"
                       :filter="filter" :has-active-flag="true" sort-by="appraiserRegionId,desc" page-name="appraiserRegion"/>
                 
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import to from 'await-to-js'
import _ from 'lodash'

import NasTable from '~/components/table'
import AdvanceFilter from '~/components/systemAdmin/appraiser-region/AdvanceFilter.vue'
import { getAction } from '~/lib/util/action.js'
import Swal from 'sweetalert2'
export default {
  components: {
    NasTable,
    AdvanceFilter,
    Swal
  },
  data() {
    return {
      table: {},
      api: {
        url: '/api/appraiserRegions',
        dataPath: '_embedded.appraiserRegionList'
      },
      columns: [
        {
          data: 'appraiserRegionId',
          title: this.$t('action.action'),
          render: this.action(this.hide, '/appraiser-region/'),
          isComponent: true,
          show: true
        },
        {
          data: 'userInfo.username',
          title: this.$t('systemAdmin.user.username'),
          show: true
        },
        {
          data: 'region.name',
          title: this.$t('systemAdmin.common.region'),
          show: true
        },
        {
          data: 'mileage',
          title: this.$t('systemAdmin.appraiserRegion.mileage'),
          show: true
        },
        {
          data: 'comment',
          title: this.$t('systemAdmin.appraiserRegion.comment'),
          show: true
        }
      ],
      filter: {}
    }
  },
  methods: {
    action(hide, path) {
      return data => {
        return getAction(data, hide, path)
      }
    },
    async hide(id) {
      try {
        let result = await Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes, delete it!',
          cancelButtonText: 'No, cancel!'
        })
        // SUCCESS
        if (result.value) {
          const [errHide, hide] = await to(
            this.$axios.$delete(`/api/appraiserRegions/${id}`)
          )
          if (hide) {
            Swal.fire('Deleted!', 'Your file has been deleted!', 'success')
            this.$refs.appraiserRegionTable.load()
          } else {
            Swal.fire('Error!', errHide, 'error')
          }
        }
      } catch (e) {
        // Fail!
        console.error(e)
        Swal.fire('Error!', 'Error on Deleting File!', 'error')
      }
    },
    getFilter(data) {
      this.filter = data
      this.$refs.appraiserRegionTable.load()
    }
  }
}
</script>
