<template>
  <div class="content-body">
    <section id="basic-form-layouts">
      <div class="row match-height">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="btn-group float-md-right cta" role="group" aria-label="Button group with nested">
                <nuxt-link to="/comp-region-type">
                  <button class="btn btn-info round" type="button"><i class="la la-th-list"/>{{ $t('action.view') }}
                    {{ $tc('systemAdmin.company.title', 1) }} {{ $tc('systemAdmin.region.title', 1) }} {{ $t('systemAdmin.company.type') }}
                  </button>
                </nuxt-link>
              </div>
            </div>

            <div class="card-content collapse show">
              <div class="card-body">
                <form class="form" @submit="onSubmit">
                  <div class="row justify-content-md-center">
                    <div class="col-md-6">
                      <div class="form-body">
                        <h4 class="form-section"><i class="ft-briefcase"/> {{ $t('action.update') }} {{ $tc('systemAdmin.company.title', 1) }} {{ $tc('systemAdmin.region.title', 1) }} {{ $t('systemAdmin.company.type') }}</h4>

                        <auto-complete id="companyId" v-model="datas.id.companyId" :items="companies" :name="$t('systemAdmin.company.companyName')" required is-async disabled @input="getCompanies" @clicked="getCompanyId" @lists="getCompanies"/>
                        <auto-complete id="regionId" v-model="datas.id.regionId" :items="regions" :name="$t('systemAdmin.region.regionName')" required is-async disabled @input="getRegions" @clicked="getRegionId" @lists="getRegions"/>
                        <nas-select id="regionType" v-model="datas.regionType" :items="types" :name="$t('systemAdmin.common.regionType')" required/>
                      </div>
                    </div>
                  </div>
                  <div class="form-actions center">
                    <button type="reset" class="btn btn-danger">
                      <i class="ft-refresh-cw position-right"/> {{ $t('action.reset') }}
                    </button>
                    <button type="submit" class="btn btn-primary">
                      <i class="ft-check position-right"/>{{ $t('action.submit') }}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import _ from 'lodash'
import to from 'await-to-js'
import NasInput from '~/components/form/Input.vue'
import NasSelect from '~/components/form/Select.vue'
import AutoComplete from '~/components/form/AutoComplete.vue'
import { getTypes } from '~/lib/util/region'
import Swal from 'sweetalert2'

export default {
  components: {
    NasInput,
    NasSelect,
    AutoComplete,
    Swal
  },
  data() {
    return {
      datas: {}
    }
  },
  async asyncData({ app, params }) {
    let companies = []
    let regions = []
    let [err, datas] = await to(
      app.$axios.$get(
        `/api/clientRegionTypes/region/${params.regionId}/company/${
          params.companyId
        }`
      )
    )
    if (err) {
      Swal.fire('Error!', err, 'error')
    }
    let [errComp, company] = await to(
      app.$axios.$get(`/api/companies/${datas.company.id}`)
    )

    if (company) {
      companies = [
        {
          name: _.get(company, 'name'),
          value: _.get(company, 'id')
        }
      ]
    } else {
      Swal.fire('Error!', errComp, 'error')
    }

    let [errRegion, region] = await to(
      app.$axios.$get(`/api/regions/${datas.region.id}`)
    )
    if (region) {
      regions = [
        {
          name: _.get(region, 'name'),
          value: _.get(region, 'id')
        }
      ]
    } else {
      Swal.fire('Error!', errRegion, 'error')
    }
    return { datas, companies, regions }
  },
  computed: {
    types() {
      const typesOptions = getTypes()
      typesOptions.unshift({ name: '', value: '' })
      return typesOptions
    }
  },
  methods: {
    getCompanyId(company) {
      this.datas.id.companyId = company.value
      this.datas.company.id = company.value
    },
    async getCompanies(search) {
      let [errComp, companies] = await to(
        this.$axios.$get(`/api/companies?name=${search}`)
      )

      if (companies) {
        this.companies = _.map(
          _.get(companies, '_embedded.companyList'),
          c => ({
            name: c.name,
            value: c.id
          })
        )
      } else {
        Swal.fire('Error!', errComp, 'error')

        this.companies = []
      }
    },
    getRegionId(region) {
      this.datas.id.regionId = region.value
      this.datas.region.id = region.value
    },
    async getRegions(search) {
      let [err, region] = await to(
        this.$axios.$get(`/api/regions?name=${search}`)
      )

      if (region) {
        this.regions = _.map(_.get(region, '_embedded.regionList'), c => ({
          name: c.name,
          value: c.id
        }))
      } else {
        Swal.fire('Error!', err, 'error')

        this.regions = []
      }
    },
    async onSubmit(evt) {
      evt.preventDefault()
      console.log(this.datas)
      let [err, rule] = await to(
        this.$axios.$put(
          `/api/clientRegionTypes/region/{regionId}/company/{companyId}?companyId=${
            this.datas.id.companyId
          }&regionId=${this.datas.id.regionId}`,
          this.datas
        )
      )
      if (err || !rule) {
        Swal.fire('Error!', 'Error on Updating Data', 'error')
      } else {
        Swal.fire('Success!', 'Data Successfully Updated', 'success')
        this.$router.push('/comp-region-type')
      }
    }
  }
}
</script>
