<template>
  <div class="content-body">
    <section id="basic-form-layouts">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="btn-group float-md-right cta" role="group" aria-label="Button group with nested">
              <nuxt-link to="/customer-pricing">
                <button class="btn btn-info round" type="submit"><i class="la la-th-list"/>{{ $t('action.view') }} {{ $tc('systemAdmin.customerPricing.title', 2) }}</button>
              </nuxt-link>
            </div>
          </div>
          <nas-form :submit="onSubmit" :data="data" :opts="opts"/>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import _ from 'lodash'
import to from 'await-to-js'

import NasForm from '~/components/systemAdmin/customer-pricing/Form.vue'
import Swal from 'sweetalert2'
export default {
  components: {
    NasForm,
    Swal
  },
  async asyncData({ app, params }) {
    const data = await app.$axios.$get(`/api/customerPrices/${params.id}`)
    const opts = {}
    let company = _.get(data, 'company')
    let region = _.get(data, 'region')
    let serviceType = _.get(data, 'serviceType')

    opts.serviceCategory = serviceType.serviceCategory
    opts.action = 'update'

    if (company) {
      opts.companies = [
        {
          name: _.get(company, 'name'),
          value: _.get(company, 'id')
        }
      ]
    }

    if (region) {
      opts.regions = [
        {
          name: _.get(region, 'name'),
          value: _.get(region, 'id')
        }
      ]
    }

    if (serviceType) {
      opts.serviceTypes = [
        {
          name: _.get(serviceType, 'serviceDesc'),
          value: _.get(serviceType, 'serviceTypeId')
        }
      ]
    }
    return { data, opts }
  },
  methods: {
    async onSubmit(form) {
      form.lastUpdatedBy = 'rvillamor'

      let [err, customerPricing] = await to(
        this.$axios.$put(`/api/customerPrices/${form.customerPriceId}`, form)
      )
      if (err || !customerPricing) {
        Swal.fire('Error!', 'Error on Updating Data', 'error')
      } else {
        Swal.fire('Success!', 'Data Successfully Updated', 'success')
        this.$router.push('/customer-pricing')
      }
    }
  }
}
</script>
