<template>
  <div class="content-body">
    <section id="basic-form-layouts">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="btn-group float-md-right cta" role="group" aria-label="Button group with nested">
              <nuxt-link to="/customer-pricing">
                <button class="btn btn-info round" type="submit"><i class="la la-th-list"/>{{ $t('action.view') }} {{ $tc('systemAdmin.customerPricing.title', 2) }}</button>
              </nuxt-link>
            </div>
          </div>
          <nas-form :submit="onSubmit" :opts="opts"/>

        </div>
      </div>
    </section>
  </div>
</template>
<script>
import _ from 'lodash'
import to from 'await-to-js'
import Swal from 'sweetalert2'
import NasForm from '~/components/systemAdmin/customer-pricing/Form.vue'
export default {
  components: {
    NasForm,
    Swal
  },
  data() {
    return {
      opts: {
        action: 'add'
      }
    }
  },
  methods: {
    async onSubmit(form) {
      form.lastUpdatedBy = 'rvillamor'

      let [err, customerPricing] = await to(
        this.$axios.$post(`/api/customerPrices/`, form)
      )
      if (err || !customerPricing) {
        Swal.fire('Error!', 'Error on Adding New Data', 'error')
      } else {
        Swal.fire('Success!', 'New Data Successfully Added', 'success')
        this.$router.push('/customer-pricing')
      }
    }
  }
}
</script>
