<template>
  <div class="content-body">
    <section class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-head">
            <div class="card-header">
              <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"/></a>
              <div class="heading-elements">
                <div
                  class="btn-group float-md-right cta"
                  role="group"
                  aria-label="Button group with nested">
                  <nuxt-link to="/customer-pricing/add">
                    <button class="btn btn-info round" type="submit">
                    <i class="ft-plus-circle"/>{{ $t('action.add') }} {{ $tc('systemAdmin.customerPricing.title') }}</button>
                  </nuxt-link>
                </div>
              </div>
            </div>

            <advance-filter @clicked="getFilter"/>
            
            <nas-table id="customer-pricing-table" ref="table" :columns="columns" :api="api"
                       :filter="filter" :has-active-flag="true" sort-by="customerPriceId,desc" page-name="customerPricing"/>
                

          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import to from 'await-to-js'
import AdvanceFilter from '~/components/systemAdmin/customer-pricing/AdvanceFilter.vue'
import NasTable from '~/components/table'
import { getAction } from '~/lib/util/action.js'
import { getType, getCountry, getProvince } from '~/lib/util/region'
import Swal from 'sweetalert2'

export default {
  components: {
    AdvanceFilter,
    NasTable,
    Swal
  },
  data() {
    return {
      filter: {},
      api: {
        url: '/api/customerPrices',
        dataPath: '_embedded.customerPriceList'
      },
      columns: [
        {
          data: 'customerPriceId',
          title: this.$t('action.action'),
          render: this.action(this.hide, '/customer-pricing/'),
          isComponent: true,
          show: true
        },
        {
          data: 'company.name',
          title: this.$t('systemAdmin.common.clientCompany'),
          show: true
        },
        {
          data: 'priceType',
          title: this.$t('systemAdmin.customerPricing.pricingType'),
          show: true
        },
        {
          data: 'countryCode',
          title: this.$t('systemAdmin.common.country'),
          render: this.country(),
          show: true
        },
        {
          data: 'province',
          title: this.$t('systemAdmin.common.province'),
          render: this.province(),
          show: true
        },
        {
          data: 'region.name',
          title: this.$t('systemAdmin.common.region'),
          show: true
        },
        {
          data: 'region.type',
          title: this.$t('systemAdmin.region.regionType'),
          render: this.type(),
          show: true
        },
        {
          data: 'serviceType.serviceCategory',
          title: this.$t('systemAdmin.service.serviceCategory'),
          show: false
        },
        {
          data: 'serviceType.service',
          title: this.$tc('systemAdmin.service.title'),
          show: false
        },
        {
          data: 'price',
          title: this.$t('systemAdmin.propertyFee.price'),
          show: false
        },
        {
          data: 'expiredDate',
          title: this.$t('systemAdmin.propertyFee.expiredDate'),
          show: false
        },
        {
          data: 'containSpecialRule',
          title: this.$t('systemAdmin.customerPricing.containSpecialRule'),
          show: false
        },
        {
          data: 'appraiserAssignType',
          title: this.$t('systemAdmin.customerPricing.appraiserAssignType'),
          show: false
        },
        {
          data: 'lastUpdatedBy',
          title: this.$t('systemAdmin.common.lastUpdatedBy'),
          show: false
        },
        {
          data: 'lastUpdated',
          title: this.$t('systemAdmin.common.lastUpdated'),
          show: false
        }
      ]
    }
  },
  methods: {
    async hide(id) {
      try {
        let result = await Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes, delete it!',
          cancelButtonText: 'No, cancel!'
        })
        // SUCCESS
        if (result.value) {
          const flag = 'N'
          const [errHide, hide] = await to(
            this.$axios.$put(`/api/customerPrices/${id}/active/${flag}`)
          )
          if (hide) {
            Swal.fire('Deleted!', 'Your file has been deleted!', 'success')
            this.$refs.table.load()
          } else {
            Swal.fire('Error!', errHide, 'error')
          }
        }
      } catch (e) {
        // Fail!
        console.error(e)
        Swal.fire('Error!', 'Error on Deleting File!', 'error')
      }
    },
    action(hide, path) {
      return data => {
        return getAction(data, hide, path)
      }
    },
    country() {
      return data => getCountry({ value: data }, 'name')
    },
    province() {
      return (data, item, row) =>
        getProvince(_.get(item, 'countryCode'), { value: data }, 'name')
    },
    type() {
      return data => getType({ value: data }, 'name')
    },
    getFilter(data) {
      this.filter = data
      this.$refs.table.load()
    }
  }
}
</script>
