<template>
  <div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row"/>
      <div class="content-body">
        <section class="flexbox-container">
          <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="col-md-5 col-10 p-0">
              <div class="card px-2 py-2 m-0 no-shadow-box">
                <div class="card-header border-0 pb-0 login-header">
                  <div class="card-title text-center">
                    <img src="/app-assets/images/logo/login_logo.png" alt="branding logo">
                  </div>

                </div>

                <nuxt/>

              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  head: {
    bodyAttrs: {
      class:
        'vertical-layout vertical-content-menu 1-column  menu-expanded blank-page blank-page login-account',
      'data-open': 'click',
      'data-menu': 'vertical-content-menu',
      'data-col': '1-column'
    }
  }
}
</script>
