<template>
  <div>
    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-light navbar-hide-on-scroll navbar-border navbar-shadow navbar-brand-center">
      <div class="navbar-wrapper">
        <div class="navbar-header">
          <ul class="nav navbar-nav flex-row">
            <li class="nav-item mobile-menu d-md-none mr-auto">
              <a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu font-large-1"/></a>
            </li>
            <li class="nav-item">
              <a class="navbar-brand" href="/">
                <img class="brand-logo" alt="NAS Admin logo" src="/app-assets/images/logo/logo.png">
                <h3 class="brand-text hidden">NAS - Nationwide Appraisal Services</h3>
              </a>
            </li>
            <li class="nav-item d-md-none">
              <a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="la la-ellipsis-v"/> </a>
            </li>
          </ul>
        </div>
        <top-menu/>
      </div>
    </nav>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="app-content content">
      <div class="content-wrapper">
        <side-menu />
        <breadcrumbs-search title="Home"/>
        <nuxt />
      </div>
    </div>
    <footer class="footer footer-static footer-light navbar-border">
      <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
        <span class="float-md-left d-block d-md-inline-block">Copyright &copy; 2018
          <a class="text-bold-800 grey darken-2" href="https://newuat.nationwideappraisals.com/" target="_blank">NAS
          </a>, All rights reserved.
        </span>
      </p>
    </footer>
    <!-- eslint-disable -->
    <!-- BEGIN VENDOR JS-->
    <script src="/app-assets/vendors/js/vendors.min.js" ></script>
    <!-- BEGIN VENDOR JS-->


  <!-- BEGIN PAGE VENDOR JS-->
  <!-- <script src="/app-assets/vendors/js/ui/headroom.min.js"></script> -->
  <!-- END PAGE VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
<!--
    <script src="/app-assets/vendors/js/tables/datatable/dataTables.bootstrap4.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/dataTables.rowReorder.min.js"></script> -->
    <!-- END PAGE VENDOR JS-->

    <!-- BEGIN MODERN JS-->
    <script src="/app-assets/js/core/app-menu.js" ></script>
    <script src="/app-assets/js/core/app.js" ></script>
    <script src="/app-assets/js/scripts/customizer.js" ></script>
    <script src="/assets/js/popover.js" ></script>
    <!-- END MODERN JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <!-- <script src="/app-assets/js/scripts/pages/users-contacts.js"></script> -->
    <!-- END PAGE LEVEL JS-->
    <!-- BEGIN PLUGINS JS-->
    <!-- <script src="/app-assets/vendors/js/charts/chartist.min.js"></script>
  <script src="/app-assets/vendors/js/charts/chartist-plugin-tooltip.min.js"></script>
  <script src="/app-assets/vendors/js/charts/raphael-min.js"></script>
  <script src="/app-assets/vendors/js/charts/morris.min.js"></script>
  <script src="/app-assets/vendors/js/timeline/horizontal-timeline.js"></script>
  <script src="/app-assets/js/scripts/pages/dashboard-ecommerce.js"></script> -->
    <!-- END PLUGINS JS-->
  </div>
</template>
<script>
import BreadcrumbsSearch from '~/components/BreadcrumbsSearch.vue'
import SideMenu from '~/components/SideMenu.vue'
import TopMenu from '~/components/TopMenu.vue'

export default {
  components: {
    BreadcrumbsSearch,
    SideMenu,
    TopMenu
  }
}
</script>
