<template>
  <div class="app-content content">
    <div class="content-wrapper">
      <div id="draggable-cards" class="content-body">
        <!-- Google pie charts section start -->
        <section id="google-pie-charts" >
          <h1 class="hidden">NAS - Dashboard</h1>
          <!-- Pie Charts -->
          <div id="card-drag-area" class="row">
            <div class="col-xl-4 col-lg-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Download the NAS Mobile Apps</h4>
                  <a class="heading-elements-toggle"><i class="la la-ellipsis font-medium-3"/></a>
                  <div class="heading-elements">
                    <ul class="list-inline mb-0">
                      <li><a data-action="collapse"><i class="ft-minus"/></a></li>
                      <li><a data-action="reload"><i class="ft-rotate-cw"/></a></li>
                      <li><a data-action="expand"><i class="ft-maximize"/></a></li>
                    </ul>
                  </div>
                </div>
                <div class="card-content collapse show">
                  <div class="card-body">
                    <div class="media-list">
                      <div class="media">
                        <div class="media-body">
                          <h4 class="media-heading"><i class="la la-android"/>Android Mobile App</h4>
                          Nationwide Appraisal Services (NAS) Canada’s largest and most trusted valuation service, introduces our mobile application.
                          The NAS mobile application provides our lender and appraiser partners with fast, easy to access solutions.
                          Download the mobile application to stay connected anytime, anywhere.
                          <div class="pt-1"><a class="media-left" href="https://play.google.com/store/apps/details?id=com.nas.android&hl=en" target="_blank">
                            <img src="/app-assets/images/portrait/small/playstore.png" alt="Generic placeholder image"
                                 style="width: 207px;height: 67px;" >
                          </a></div>
                        </div>

                      </div>
                      <div class="media">
                        <div class="media-body">
                          <h4 class="media-heading"><i class="la la-apple"/> iOS Mobile App</h4>
                          Nationwide Appraisal Services (NAS) Canada’s largest and most trusted valuation service, introduces our mobile application.
                          The NAS mobile application provides our lender and appraiser partners with fast, easy to access solutions.
                          Download the mobile application to stay connected anytime, anywhere.
                          <div class="pt-1"><a class="media-left" href="https://itunes.apple.com/ca/app/valuation-mobile-app/id536228581?mt=8" target="_blank">
                            <img src="/app-assets/images/portrait/small/appstore.png" alt="Generic placeholder image"
                                 style="width: 206px;height: 64px;" >
                          </a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div id="res" class="col-xl-4 col-lg-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Pie Chart</h4>
                  <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"/></a>
                  <div class="heading-elements">
                    <ul class="list-inline mb-0">
                      <li><a data-action="collapse"><i class="ft-minus"/></a></li>
                      <li><a data-action="reload"><i class="ft-rotate-cw"/></a></li>
                      <li><a id="expandMe" data-action="expand"><i id="ex" class="ft-maximize"/></a></li>
                    </ul>
                  </div>
                </div>
                <div class="card-body">
                  <div class="card-body">
                    <p class="card-text">A pie chart that is rendered within the browser using SVG or
                    VML. Displays tooltips when hovering over slices.</p>
                    <div id="pie-chart"/>
                    <div id="pie"/>
                  </div>
                </div>
              </div>
            </div>
            <!-- Pie Rotated Chart -->
            <div id="res1" class="col-xl-4 col-lg-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Pie Rotated</h4>
                  <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"/></a>
                  <div class="heading-elements">
                    <ul class="list-inline mb-0">
                      <li><a data-action="collapse"><i class="ft-minus"/></a></li>
                      <li><a data-action="reload"><i class="ft-rotate-cw"/></a></li>
                      <li><a id="expandMe1" data-action="expand"><i id="ex1" class="ft-maximize"/></a></li>
                    </ul>
                  </div>
                </div>
                <div class="card-body">
                  <div class="card-body">
                    <p class="card-text">By default, pie charts begin with the left edge of the first
                    slice pointing straight up. You can change that with the pieStartAngle
                    option:
                    </p>
                    <div id="pie-rotated"/>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- 3D Pie Charts -->
          <div id="card-drag-area1" class="row">
            <div id="res2" class="col-xl-6 col-lg-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">3D Pie Chart</h4>
                  <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"/></a>
                  <div class="heading-elements">
                    <ul class="list-inline mb-0">
                      <li><a data-action="collapse"><i class="ft-minus"/></a></li>
                      <li><a data-action="reload"><i class="ft-rotate-cw"/></a></li>
                      <li><a id="expandMe2" data-action="expand"><i id="ex2" class="ft-maximize"/></a></li>
                    </ul>
                  </div>
                </div>
                <div class="card-body">
                  <div class="card-body">
                    <p class="card-text"> If you set the chart to 3D option to true, your pie chart will be drawn
                    as though it has three dimensions:</p>
                    <div id="pie-3d"/>
                  </div>
                </div>
              </div>
            </div>
            <!-- 3D Donut Chart -->
            <div class="col-xl-6 col-lg-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">3D Donut Chart</h4>
                  <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"/></a>
                  <div class="heading-elements">
                    <ul class="list-inline mb-0">
                      <li><a data-action="collapse"><i class="ft-minus"/></a></li>
                      <li><a data-action="reload"><i class="ft-rotate-cw"/></a></li>
                      <li><a id="expandMe" data-action="expand"><i id="ex" class="ft-maximize"/></a></li>
                    </ul>
                  </div>
                </div>
                <div class="card-content collapse show">
                  <div class="card-body">
                    <div id="donut-3d" class="center-svg"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- // Google pie charts section end -->
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Manage your Active Requests</h4>
              <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"/></a>
              <div class="heading-elements">
                <ul class="list-inline mb-0">
                  <li><a data-action="collapse"><i class="ft-minus"/></a></li>
                  <li><a data-action="reload"><i class="ft-rotate-cw"/></a></li>
                  <li><a data-action="expand"><i class="ft-maximize"/></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 show-entries"/>
            <div class="card-content">
              <div class="card-body">
                <!-- Task List table -->
                <div class="table-responsive">
                  <table id="users-contacts" class="table table-white-space table-bordered row-grouping display no-wrap icheck table-middle">
                    <thead>
                      <tr>
                        <th>Nas Number</th>
                        <th>Status</th>
                        <th>Next Scheduled Update</th>
                        <th>Property Address</th>
                        <th>Applicant Name</th>
                        <th>Lender Company</th>
                        <th>Service Type</th>
                        <th>Comment</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><a href="#">4578997</a></td>
                        <td>New</td>
                        <td>01-02-2019 12:01:00</td>
                        <td>410 Adelaide St W, Toronto, ON M5V 1S8,</td>
                        <td>abailey</td>
                        <td>Investment House of Canada</td>
                        <td>Market Rent</td>
                        <td><a href="#">Comment</a></td>
                      </tr>
                      <tr>
                        <td><a href="#">4578997</a></td>
                        <td>Under Review</td>
                        <td>02-28-2019 12:01:00</td>
                        <td>410 Adelaide St W, Toronto, ON M5V 1S8,</td>
                        <td>Black Star</td>
                        <td>BMO Broker Services</td>
                        <td>Vacant Land</td>
                        <td><a href="#">Comment</a></td>
                      </tr>
                      <tr>
                        <td><a href="#">4578997</a></td>
                        <td>New</td>
                        <td>01-02-2019 12:01:00</td>
                        <td>6 Broker Circle Test ,Etobicoke,ON</td>
                        <td>abailey</td>
                        <td>MCAP Broker Services</td>
                        <td>Market Rent</td>
                        <td><a href="#">Comment</a></td>
                      </tr>
                      <tr>
                        <td><a href="#">4578997</a></td>
                        <td>New</td>
                        <td>03-03-2019 11:38:33</td>
                        <td>675 Cochrane Dr #104, Markham, ON L3R 0B8</td>
                        <td>mcyrus</td>
                        <td>BMO Broker Services</td>
                        <td>Appraisal Review</td>
                        <td><a href="#">Comment</a></td>
                      </tr>
                    </tbody>

                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import * as d3 from 'd3'
export default {
  layout: 'topNav',
  data() {
    return {
      dataset: [
        { label: 'Abulia', count: 10 },
        { label: 'Betelgeuse', count: 20 },
        { label: 'Cantaloupe', count: 30 },
        { label: 'Dijkstra', count: 40 }
      ],

      defaultLocale: this.$store.state.locale
    }
  },
  mounted() {}
}
</script>
