<template>
  <div class="content-body">
    <section id="basic-form-layouts">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="btn-group float-md-right cta" role="group" aria-label="Button group with nested">
              <nuxt-link to="/region">
                <button class="btn btn-info round" type="submit"><i class="la la-th-list"/>{{ $t('action.view') }} {{ $tc('systemAdmin.region.title', 2) }}</button>
              </nuxt-link>
            </div>
          </div>
          <div class="card-content collpase show">
            <div class="card-body">
              <section id="validation">
                <div class="row">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-content collapse show">
                        <div class="card-body">
                          <form-wizard :title="title" :subtitle="subtitle" :color="color" step-size="sm" back-button-text="Previous">
                            <tab-content title="Create New User" icon="la la-user">
                              My first tab content
                            </tab-content>
                            <tab-content title="New User Credential Association" icon="la la-group">
                              My second tab content
                            </tab-content>
                            <tab-content title="New User Role Association" icon="la la-user-plus">
                              Yuhuuu! This seems pretty damn simple
                            </tab-content>
                          
                            <button slot="prev" class="btn"> Previous</button>
                            <button slot="next" class="btn btn-primary">Next</button>
                            <button slot="finish" type="submit" class="btn btn-primary">Submit</button>
                          </form-wizard>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>

        </div>
      </div>
    </section>
  </div>
</template>
<script>
//local registration
import { FormWizard, TabContent } from 'vue-form-wizard'
import 'vue-form-wizard/dist/vue-form-wizard.min.css'

export default {
  //component code
  components: {
    FormWizard,
    TabContent
  },
  props: {
    title: {
      type: String,
      default: ''
    },
    subtitle: {
      type: String,
      default: ''
    },
    nextButtonText: {
      type: String,
      default: 'Next'
    },
    backButtonText: {
      type: String,
      default: 'Previous'
    },
    finishButtonText: {
      type: String,
      default: 'Submit'
    },
    color: {
      type: String,
      default: '#666EE8' //circle, border and text color
    },
    errorColor: {
      type: String,
      default: '#8b0000'
    },
    /**
     * Can take one of the following values: 'circle|square|tab`
     */
    shape: {
      type: String,
      default: 'circle'
    },
    startIndex: {
      type: Number,
      default: 0
    }
  }
}
</script>
