<template>
  <div class="content-body">
    <section class="container">
      <div>
        <h1 class="title">NAS 2</h1>
        <h2 class="subtitle">
          Online Help
        </h2>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  data() {
    return {
      defaultLocale: this.$store.state.locale
    }
  },

  layout: 'topNav'
}
</script>
