<template>
  <div class="content-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Calendar</h4>
            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"/></a>
            <div class="heading-elements">
              <ul class="list-inline mb-0">
                <li><a data-action="reload" @click="reload()"><i class="ft-rotate-cw"/></a></li>
              </ul>
            </div>
          </div>
          <div class="card-content collapse show">
            <div class="card-body">
              <full-calendar ref="calendar" :events="getAppointments" :config="config"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import moment from 'moment'
import 'fullcalendar/dist/fullcalendar.css'
import '~/static/assets/css/fullcalendar.css'
import _ from 'lodash'
import to from 'await-to-js'
import Swal from 'sweetalert2'
export default {
  name: 'Calendar',
  components: {
    moment,
    Swal
  },
  data() {
    return {
      token: this.$route.query.id,
      form: {},
      response: '',
      events: [],
      config: {
        defaultView: 'month',
        selectable: true,
        editable: true,
        eventLimit: true,
        height: 900,
        nowIndicator: true,
        displayEventEnd: true,
        dayClick: this.dayClick,
        select: this.select,
        eventClick: this.eventClick,
        eventResize: this.eventResize,
        eventDrop: this.eventDrop
      }
    }
  },
  mounted() {
    this.$router.replace('/calendar')
    if (this.token) {
      this.response = 'Appointment Cancelled'
      this.appoint(
        moment().format('YYYY-MM-DDTHH:mm'),
        this.token,
        this.response
      )
    }
  },
  async asyncData({ app, params }) {
    const n = 'tammy-NAS'
    let [errComp, appRequest] = await to(
      app.$axios.$get(`/api/appRequests?appraiserUsername=${n}`)
    )

    let getAppointments = []
    if (appRequest) {
      getAppointments = _.map(
        _.get(appRequest, '_embedded.appRequestResourceList'),
        c => ({
          id: c.appRequestNbr,
          start: c.appointmentTimestamp,
          title: c.clientUsername
        })
      )
    } else {
      Swal.fire('Error!', errComp, 'error')
      getAppointments = []
    }
    return { getAppointments }
  },
  methods: {
    async appoint(startDate, id, message) {
      const { value: evt } = await Swal.fire({
        title: 'Set an Appointment',
        html:
          'Appointment Date: <input type="datetime-local" id="startDate" class="form-control">',
        type: 'info',
        showCancelButton: true,
        onOpen: function(ele) {
          const dateTime = ($(ele).find('#startDate')[0].value = startDate)
        }
      })
      if (evt) {
        const appTimeStamp = document.getElementById('startDate').value
        this.form.appRequestNbr = id
        this.form.appointmentTimestamp = appTimeStamp
        this.response = 'Appointment Successfully Updated'
        this.updateAppointment(this.form, this.response)
      } else {
        Swal.fire('Cancelled!', message, 'error')
      }
    },
    async updateAppointment(form, message) {
      let [err, rule] = await to(
        this.$axios.$put(`/api/appRequests/${form.appRequestNbr}`, form)
      )
      if (rule) {
        Swal.fire('Success!', message, 'success').then(result => {
          if (result.value) {
            this.reload()
          }
        })
      } else {
        Swal.fire('Error!', 'Updating Appointment Error!', 'error')
      }
    },
    async action(appointment) {
      await Swal.fire({
        type: 'question',
        title: 'Choose an action',
        showCancelButton: true,
        confirmButtonText: 'Edit',
        cancelButtonText: 'Delete'
      }).then(result => {
        if (result.value) {
          const getDateTime = appointment.start._i
          const extractedDateTime = moment(getDateTime).format(
            'YYYY-MM-DDTHH:mm'
          )
          this.response = 'Updating Appointment Cancelled'
          this.appoint(extractedDateTime, appointment.id, this.response)
        } else if (result.dismiss === 'cancel') {
          this.deleteAppointment(appointment)
        } else {
          return
        }
      })
    },
    async deleteAppointment(info) {
      await Swal.fire({
        type: 'question',
        title: 'Are you sure you want to delete?',
        showCancelButton: true,
        focusCancel: true
      }).then(result => {
        if (result.value) {
          const getDateTime = info.start._i
          const extractedDateTime = moment(getDateTime).format(
            'YYYY-MM-DDTHH:mm'
          )
          this.form.appRequestNbr = info.id
          this.form.appointmentTimestamp = moment(extractedDateTime)
            .subtract(10, 'years')
            .format('YYYY-MM-DDTHH:mm')
          this.response = 'Appointment Successfully Deleted'
          this.updateAppointment(this.form, this.response)
        }
      })
    },
    reload() {
      window.location.reload()
    },
    populateDate(id, start, end) {
      this.form.appointmentTimestamp = start
      this.form.appRequestNbr = id
      this.response = 'Appointment Successfully Updated'
      this.updateAppointment(this.form, this.response)
    },
    dayClick: function(date) {
      console.log('dayClick', moment(date).format())
    },
    select: function(startDate, endDate) {
      console.log('select', startDate.format(), endDate.format())
      console.log(moment(startDate._i).format('YYYY-MM-DDTHH:mm'))
      // const selectedDate = moment(startDate._i).format('YYYY-MM-DDTHH:mm')
      // const response = 'Appointment Cancelled'
      // this.appoint(selectedDate, 14, response)
    },
    eventClick: function(info) {
      this.action(info)
    },
    eventResize: function(info) {
      this.populateDate(info.id, info.start.format())
    },
    eventDrop: function(info) {
      this.populateDate(info.id, info.start.format())
    }
  }
}
</script>
