<template>
  <div class="card-body">
    <section id="grid-with-label" class="grid-with-border">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">{{ $t('action.advanceFilter') }}</h4>
              <a class="heading-elements-toggle"><i class="ft-align-justify font-medium-3"/></a>
              <div class="heading-elements">
                <ul class="list-inline mb-0">
                  <li><a data-toggle="collapse" href="#collapseExample" @click="collapsed = !collapsed"><i :class= "[collapsed ? 'ft-plus' : 'ft-minus']"/></a></li>
                </ul>
              </div>
            </div>
            <div id="collapseExample" class="card-content collapse hide">
              <div class="card-body">
                <form action="#">
                  <div class="form-body">
                    <div class="row">
                      <div class="col-md-6">
                        <nas-input id="groupName" v-model="filter.groupName" :name="$t('systemAdmin.group.groupName')" type="text" />
                      </div>

                      <div class="col-md-6">
                        <auto-complete id="companyId" v-model="filter.companyId" :items="companies" :name="$t('systemAdmin.company.companyName')" is-async @input="getCompanies" @clicked="getCompanyId"/>
                      </div>
                    </div>
                  </div>
                  <div class="form-actions filter-buttons">
                    <div class="text-right">
                      <button type="reset" class="btn mr-1 mb-1 btn-red btn-sm" @click="clearFilter">{{ $t('action.clear') }}</button>
                      <button type="button" class="btn mr-1 mb-1 btn-nas btn-sm" @click="apply">{{ $t('action.search') }}</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import _ from 'lodash'
import to from 'await-to-js'
import NasInput from '~/components/form/Input.vue'
import AutoComplete from '~/components/form/AutoComplete.vue'
import Swal from 'sweetalert2'

export default {
  components: {
    NasInput,
    AutoComplete,
    Swal
  },
  data() {
    return {
      collapsed: true,
      filter: {},
      companies: []
    }
  },
  computed: {},
  mounted() {
    this.apply()
    this.clearFilter()
  },
  methods: {
    getCompanyId(company) {
      this.filter.companyId = company.value
    },
    async getCompanies(search) {
      let [errComp, companies] = await to(
        this.$axios.$get(`/api/companies?name=${search}`)
      )

      if (err) {
        Swal.fire('Error!', errComp, 'error')
      }
      if (companies) {
        this.companies = _.map(
          _.get(companies, '_embedded.companyList'),
          c => ({
            name: c.name,
            value: c.id
          })
        )
      } else {
        this.companies = []
      }
    },
    apply() {
      this.$emit('clicked', this.filter)
    },
    clearFilter() {
      this.filter = {}
      this.$emit('clicked', this.filter)
    }
  }
}
</script>
