<template>
  <div class="card-content collapse show">
    <div class="card-body">
      <form class="form" @submit="onSubmit">
        <div class="row justify-content-md-center">
          <div class="col-md-6">
            <div class="form-body">
              <auto-complete id="companyId" v-model="form.companyId" :items="companies" :name="$t('systemAdmin.company.companyName')" required is-async @input="getCompanies" @clicked="getCompanyId"/>
              <nas-input id="groupName" v-model="form.groupName" :name="$t('systemAdmin.group.groupName')" type="text" required />
              <auto-complete id="parentId" v-model="form.parentGroupId" :items="parentId" :name="$t('systemAdmin.group.parentGroupName')" is-async @input="getParent" @clicked="getParentId"/>
            </div>
          </div>
        </div>
        <div class="form-actions center">
          <button type="reset" class="btn btn-danger">
            <i class="ft-refresh-cw position-right"/> {{ $t('action.reset') }}
          </button>
          <button type="submit" class="btn btn-success">
            <i class="ft-thumbs-up position-right"/> {{ $t('action.submit') }}
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import _ from 'lodash'
import to from 'await-to-js'
import NasInput from '~/components/form/Input.vue'
import AutoComplete from '~/components/form/AutoComplete.vue'
import Swal from 'sweetalert2'

export default {
  components: {
    NasInput,
    AutoComplete,
    Swal
  },
  data() {
    return {
      form: {},
      companies: [],
      parentId: []
    }
  },
  created() {
    if (this.data) {
      this.form = this.data
    }
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault()
      this.submit(this.form)
    },
    getCompanyId(company) {
      this.datas.companyId = company.value
    },
    async getCompanies(search) {
      let [errComp, companies] = await to(
        this.$axios.$get(`/api/companies?name=${search}`)
      )

      if (err) {
        Swal.fire('Error!', errComp, 'error')
      }
      if (companies) {
        this.companies = _.map(
          _.get(companies, '_embedded.companyList'),
          c => ({
            name: c.name,
            value: c.id
          })
        )
      } else {
        this.companies = []
      }
    },

    getParentId(parent) {
      this.datas.parentGroupId = parent.value
    },
    async getParent(search) {
      let [errComp, parents] = await to(
        this.$axios.$get(`/api/groups?groupName=${search}`)
      )

      if (err) {
        Swal.fire('Error!', errComp, 'error')
      }
      if (parents) {
        this.parentId = _.map(_.get(parents, '_embedded.groupList'), c => ({
          name: c.groupName,
          value: c.groupId
        }))
      } else {
        this.parentId = []
      }
    }
  }
}
</script>
