<template>
  <div class="content-body">
    <section class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-head">
            <div class="card-header">
              <h4 class="card-title">{{ $t('action.view') }} {{ $tc('systemAdmin.appRequests.title', 2) }}</h4>
              <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"/></a>
              <div class="heading-elements">
                <div
                  class="btn-group float-md-right cta"
                  role="group"
                  aria-label="Button group with nested">
                  <nuxt-link to="/app-requests/add">
                    <button class="btn btn-info round" type="submit">
                    <i class="ft-plus-circle"/>{{ $t('action.add') }} {{ $tc('systemAdmin.appRequests.title') }}</button>
                  </nuxt-link>
                </div>
              </div>
            </div>
            <!-- <advance-filter :table="table" @clicked="getFilter"/> -->

            <nas-table id="region-table" ref="regionTable" :columns="columns" :api="api"
                       :filter="filter" :has-active-flag="false" sort-by="appRequestNbr,asc" page-name="appRequests"/>

          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import to from 'await-to-js'
import _ from 'lodash'
import NasTable from '~/components/table'
import { getAction } from '~/lib/util/appoint.js'
import Swal from 'sweetalert2'
//import AdvanceFilter from '~/components/systemAdmin/region/AdvanceFilter.vue'
export default {
  components: {
    // AdvanceFilter,
    NasTable,
    Swal
  },
  data() {
    return {
      table: {},
      api: {
        url: '/api/appRequests',
        dataPath: '_embedded.appRequestResourceList'
      },
      columns: [
        {
          data: 'appRequestNbr',
          title: this.$t('action.action'),
          render: this.action(this.hide, '/appRequests/'),
          isComponent: true,
          show: true
        },
        {
          data: 'appraiserUsername',
          title: this.$t('systemAdmin.appRequests.username'),
          show: true
        },
        {
          data: 'appointmentTimestamp',
          title: this.$t('systemAdmin.appRequests.timestamp'),
          show: true
        }
      ],
      filter: {}
    }
  },
  methods: {
    action(hide, path) {
      return data => {
        return getAction(data, hide, path)
      }
    },
    async hide(id) {
      try {
        let result = await Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes, delete it!',
          cancelButtonText: 'No, cancel!'
        })
        // SUCCESS
        if (result.value) {
          const [errHide, hide] = await to(
            this.$axios.$delete(`/api/appRequests/${id}`)
          )
          if (hide) {
            Swal.fire('Deleted!', 'Your file has been deleted!', 'success')
            this.$refs.regionTable.load()
          } else {
            Swal.fire('Error!', errHide, 'error')
          }
        }
      } catch (e) {
        // Fail!
        console.error(e)
        Swal.fire('Error!', 'Error on Deleting File!', 'error')
      }
    },
    getFilter(data) {
      this.filter = data
      this.$refs.regionTable.load()
    }
  }
}
</script>
