<template>
  <div class="content-body">
    <section class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-head">
            <div class="card-header">
              <h4 class="card-title">{{ $tc('systemAdmin.company.title', 1) }} {{ $tc('systemAdmin.region.title', 1) }}
                {{ $t('systemAdmin.company.type') }}
              </h4>
              <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"/></a>
              <div class="heading-elements">
                <div class="btn-group float-md-right cta" role="group" aria-label="Button group with nested">
                  <nuxt-link to="/comp-region-type/add">
                    <button class="btn btn-info round" type="submit">
                      <i class="ft-plus-circle"/>{{ $t('action.add') }} {{ $tc('systemAdmin.company.title', 1) }}
                      {{ $tc('systemAdmin.region.title', 1) }} {{ $t('systemAdmin.company.type') }}
                    </button>
                  </nuxt-link>
                </div>
              </div>
            </div>

            <advance-filter @clicked="getFilter"/>
            <div class="form-actions center">
              <h4 class="form-section"/>
            </div>
            <!-- table start -->
            <nas-table id="comp-region-table" ref="compRegionTable" :columns="columns" :api="api"
                       :filter="filter" :has-active-flag="false" sort-by="id,desc" page-name="companyRegionType"/>
                       <!-- table end -->
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import to from 'await-to-js'
import _ from 'lodash'
import NasTable from '~/components/table'

import { getAction } from '~/lib/util/action.js'
import AdvanceFilter from '~/components/systemAdmin/comp-region-type/AdvanceFilter.vue'
import { getType } from '~/lib/util/region'
import Swal from 'sweetalert2'

export default {
  components: {
    NasTable,
    AdvanceFilter,
    Swal
  },
  data() {
    return {
      filter: {},
      table: {},
      api: {
        url: '/api/clientRegionTypes',
        dataPath: '_embedded.clientRegionTypeList'
      },
      columns: [
        {
          data: 'id',
          title: this.$t('action.action'),
          render: this.action(this.hide, '/comp-region-type/'),
          isComponent: true,
          show: true
        },
        {
          data: 'company',
          title: this.$tc('systemAdmin.company.title', 2),
          render: this.getCompanies(),
          show: true
        },
        {
          data: 'region',
          title: this.$tc('systemAdmin.region.title', 2),
          render: this.getRegions(),
          show: true
        },
        {
          data: 'regionType',
          title: this.$t('systemAdmin.region.regionType'),
          render: this.type(),
          show: true
        }
      ]
    }
  },
  methods: {
    type() {
      return data => getType({ value: data }, 'name')
    },
    getCompanies() {
      return data => {
        return data.name
      }
    },
    getRegions() {
      return data => {
        return data.name
      }
    },
    action(hide, path) {
      return data => {
        let url = `region/${data.regionId}/company/${data.companyId}`
        return getAction(url, hide, path)
      }
    },
    async hide(id) {
      try {
        let result = await Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes, delete it!',
          cancelButtonText: 'No, cancel!'
        })
        // SUCCESS
        if (result.value) {
          const [errHide, hide] = await to(
            this.$axios.$delete(`/api/clientRegionTypes/${id}`)
          )
          if (hide) {
            Swal.fire('Deleted!', 'Your file has been deleted!', 'success')
            this.$refs.compRegionTable.load()
          } else {
            Swal.fire('Error!', errHide, 'error')
          }
        }
      } catch (e) {
        // Fail!
        console.error(e)
        Swal.fire('Error!', 'Error on Deleting File!', 'error')
      }
    },
    getFilter(data) {
      this.filter = data
      this.$refs.compRegionTable.load()
    }
  }
}
</script>
