<template>
  <div class="content-body">
    <section class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-head">
            <div class="card-header">
              <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"/></a>
              <div class="heading-elements">
                <div class="btn-group float-md-right cta" role="group" aria-label="Button group with nested">
                  <nuxt-link to="/fee-increase/add">
                    <button class="btn btn-info round" type="submit">
                    <i class="ft-plus-circle"/>{{ $t('action.add') }} {{ $tc('systemAdmin.feeIncreaseRule.title') }}</button>
                  </nuxt-link>
                </div>
              </div>
            </div>

            <advance-filter @clicked="getFilter"/>

            <nas-table id="fee-increase-rule-table" ref="feeIncreaseRuleTable" :columns="columns" :api="api"
                       :filter="filter" :has-active-flag="true" sort-by="id,desc" page-name="feeIncreaseRule"/>
                 
                       <!-- table start -->

          <!-- table end -->
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import to from 'await-to-js'
import _ from 'lodash'
import NasTable from '~/components/table'
import AdvanceFilter from '~/components/systemAdmin/fee-increase/AdvanceFilter.vue'
import Swal from 'sweetalert2'
import { getStatus } from '~/lib/util/followUpRule'
import { getCountry, getProvince, getType } from '~/lib/util/region'
import { getYN } from '~/lib/util/commons/table'
import { getAction } from '~/lib/util/action.js'

export default {
  components: {
    NasTable,
    AdvanceFilter,
    Swal
  },
  data() {
    return {
      filter: {},
      api: {
        url: '/api/feeIncreaseFollowUpRules',
        dataPath: '_embedded.feeIncreaseFollowUpRuleList'
      },
      columns: [
        {
          data: 'id',
          title: this.$t('action.action'),
          render: this.action(this.hide, '/fee-increase/'),
          isComponent: true,
          show: true
        },
        {
          data: 'status',
          title: this.$t('systemAdmin.common.status'),
          render: this.status(),
          show: true
        },
        {
          data: 'countryCode',
          title: this.$t('systemAdmin.common.country'),
          render: this.country(),
          show: true
        },
        {
          data: 'province',
          title: this.$t('systemAdmin.common.province'),
          render: this.province(),
          show: true
        },
        {
          data: 'regionType',
          title: this.$t('systemAdmin.common.regionType'),
          render: this.type(),
          show: true
        },
        {
          data: 'followUpMins',
          title: this.$t('systemAdmin.common.followUpMins'),
          show: true
        },
        {
          data: 'opsEnabled',
          title: this.$t('systemAdmin.common.opsEnabled'),
          render: this.yN(),
          show: true
        }
      ]
    }
  },
  methods: {
    status() {
      return data => getStatus({ value: data }, 'name')
    },
    country() {
      return data => getCountry({ value: data }, 'name')
    },
    province() {
      return (data, item) =>
        getProvince(_.get(item, 'countryCode'), { value: data }, 'name')
    },
    type() {
      return data => getType({ value: data }, 'name')
    },
    yN() {
      return data => getYN({ value: data }, 'name')
    },
    action(hide, path) {
      return data => {
        return getAction(data, hide, path)
      }
    },
    async hide(id) {
      try {
        let result = await Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes, delete it!',
          cancelButtonText: 'No, cancel!'
        })
        // SUCCESS
        if (result.value) {
          const flag = 'N'
          const [errHide, hide] = await to(
            this.$axios.$put(
              `/api/feeIncreaseFollowUpRules/${id}/active/${flag}`
            )
          )
          if (hide) {
            Swal.fire('Deleted!', 'Your file has been deleted!', 'success')
            this.$refs.feeIncreaseRuleTable.load()
          } else {
            Swal.fire('Error!', errHide, 'error')
          }
        }
      } catch (e) {
        // Fail!
        console.error(e)
        Swal.fire('Error!', 'Error on Deleting File!', 'error')
      }
    },
    getFilter(data) {
      this.filter = data
      this.$refs.feeIncreaseRuleTable.load()
    }
  }
}
</script>
