<template>
  <div class="content-body">
    <section class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-head">
            <div class="card-header">
              <h4 class="card-title">{{ $t('systemAdmin.membership.title') }}</h4>
              <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"/></a>
              <div class="heading-elements">
                <!-- <div class="btn-group float-md-right cta" role="group" aria-label="Button group with nested">
                  <nuxt-link to="/holidays/add">
                    <button class="btn btn-info round" type="submit">
                    <i class="ft-plus-circle"/>{{ $t('action.add') }} {{ $tc('systemAdmin.holiday.title', 1) }}</button>
                  </nuxt-link>
                </div> -->
              </div>
            </div>

            <div class="card-body">
              <div class="card-content collapse show">
                <div class="card-body">
                  <div class="repeater-default small-label">
                    <div data-repeater-list="car">
                      <div data-repeater-item>
                        <form class="form row">
                          <div class="form-group mb-1 col-sm-12 col-md-1">
                            <label for="UserName0">User Name<span class="danger">*</span></label>
                            <br>
                            <input id="UserName0" type="text" class="form-control input-xs" placeholder="User Name">
                          </div>
                          <div class="form-group mb-1 col-sm-12 col-md-1">
                            <label for="FirstName">First Name<span class="danger">*</span></label>
                            <br>
                            <input id="FirstName" type="text" class="form-control input-xs" placeholder="First Name">
                          </div>
                          <div class="form-group mb-1 col-sm-12 col-md-1">
                            <label for="LastName">Last Name<span class="danger">*</span></label>
                            <br>
                            <input id="LastName" type="text" class="form-control input-xs" placeholder="Last Name">
                          </div>
                          <div class="form-group mb-1 col-sm-12 col-md-2">
                            <label class="file center-block"> File Name<span class="danger">*</span></label>
                            <input type="file" class="upload-file input-xs">
                            <span class="file-custom"/>
                          </div>
                          <div class="form-group mb-1 col-sm-12 col-md-1">
                            <label for="FileType">File Type<span class="danger">*</span></label>
                            <br>
                            <select id="FileType" class="form-control input-xs">
                              <option>Select Option</option>
                              <option>EFT</option>
                              <option>Clearance Letter</option>
                              <option>Insurance</option>
                              <option>Sample Report</option>
                              <option>Resume</option>
                              <option>Reference Letter</option>
                            </select>
                          </div>
                          <div class="form-group mb-1 col-sm-12 col-md-1">
                            <label for="Province2">Province<span class="danger">*</span></label>
                            <br>
                            <select id="Province2" class="form-control input-xs">
                              <option>Select Option</option>
                              <option>Option 1</option>
                              <option>Option 2</option>
                              <option>Option 3</option>
                              <option>Option 4</option>
                              <option>Option 5</option>
                            </select>
                          </div>
                          <div class="form-group mb-1 col-sm-12 col-md-1">
                            <label for="Designation">Designation</label>
                            <br>
                            <select id="Designation" class="form-control input-xs">
                              <option>Select Option</option>
                              <option>Option 1</option>
                              <option>Option 2</option>
                              <option>Option 3</option>
                              <option>Option 4</option>
                              <option>Option 5</option>
                            </select>
                          </div>
                          <div class="form-group mb-1 col-sm-12 col-md-1">
                            <label for="MemberNo">Member No.</label>
                            <br>
                            <input id="MemberNo" type="text" class="form-control input-xs" placeholder="Member/License No.">
                          </div>
                          <div class="form-group col-md-2">
                            <label for="AccountCreated">Account Created:<span class="danger">*</span></label>
                            <input id="AccountCreated" type="date" class="form-control input-xs">
                          </div>
                          <div class="form-group col-sm-12 col-md-1 text-center ">
                            <label>Delete</label>
                            <div class="action">
                              <a href="#"><i class="la la-trash danger"/></a>
                            </div>
                          </div>
                        </form>
                        <form class="form row">
                          <div class="form-group mb-1 col-sm-12 col-md-1">
                            <input type="text" class="form-control input-xs" placeholder="User Name">
                          </div>
                          <div class="form-group mb-1 col-sm-12 col-md-1">
                            <input type="text" class="form-control input-xs" placeholder="First Name">
                          </div>
                          <div class="form-group mb-1 col-sm-12 col-md-1">
                            <input type="text" class="form-control input-xs" placeholder="Last Name">
                          </div>
                          <div class="form-group mb-1 col-sm-12 col-md-2">
                            <input type="file" class="upload-file input-xs">
                            <span class="file-custom"/>
                          </div>
                          <div class="form-group mb-1 col-sm-12 col-md-1">
                            <select class="form-control input-xs" >
                              <option>Select Option</option>
                              <option>EFT</option>
                              <option>Clearance Letter</option>
                              <option>Insurance</option>
                              <option>Sample Report</option>
                              <option>Resume</option>
                              <option>Reference Letter</option>
                            </select>
                          </div>
                          <div class="form-group mb-1 col-sm-12 col-md-1">
                            <select class="form-control input-xs" >
                              <option>Select Option</option>
                              <option>Option 1</option>
                              <option>Option 2</option>
                              <option>Option 3</option>
                              <option>Option 4</option>
                              <option>Option 5</option>
                            </select>
                          </div>
                          <div class="form-group mb-1 col-sm-12 col-md-1">
                            <select class="form-control input-xs" >
                              <option>Select Option</option>
                              <option>Option 1</option>
                              <option>Option 2</option>
                              <option>Option 3</option>
                              <option>Option 4</option>
                              <option>Option 5</option>
                            </select>
                          </div>
                          <div class="form-group mb-1 col-sm-12 col-md-1">
                            <input type="text" class="form-control input-xs" placeholder="Member/License No.">
                          </div>
                          <div class="form-group col-md-2">
                            <input type="date" class="form-control input-xs" >
                          </div>
                          <div class="form-group col-sm-12 col-md-1 text-center">
                            <div class="action">
                              <a href="#"><i class="la la-trash danger"/></a>
                            </div>
                          </div>
                          <button class="btn btn-primary btn-sm"><i class="ft-plus white"/> Add more records</button>

                          <div class="form-actions col-md-12 center">
                            <button type="button" class="btn btn-primary mb-2" >Upload</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <advance-filter @clicked="getFilter"/>

            <!-- table start -->
            <nas-table id="holiday-table" ref="holidayTable" :columns="columns" :api="api"
                       :filter="filter" :has-active-flag="false" sort-by="holidayId,desc"/>
                       <!-- table end -->
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import to from 'await-to-js'
import _ from 'lodash'
import NasTable from '~/components/table'
import Swal from 'sweetalert2'
import NasInput from '~/components/form/Input.vue'
import { getAction } from '~/lib/util/action.js'
import AdvanceFilter from '~/components/systemAdmin/holidays/AdvanceFilter.vue'
import { getCountry, getProvince } from '~/lib/util/region'

export default {
  components: {
    NasTable,
    AdvanceFilter,
    Swal,
    NasInput
  },
  data() {
    return {
      form: {},
      filter: {},
      table: {},
      api: {
        url: '/api/holidays',
        dataPath: '_embedded.holidayList'
      },
      columns: [
        {
          data: 'holidayId',
          title: this.$t('action.action'),
          render: this.action(this.hide, '/holidays/'),
          isComponent: true,
          show: true
        },
        {
          data: 'holidayDesc',
          title: this.$t('systemAdmin.holiday.description'),
          show: true
        },
        {
          data: 'holidayDate',
          title: this.$t('systemAdmin.holiday.date'),
          show: true
        },
        {
          data: 'countryCode',
          title: this.$t('systemAdmin.common.country'),
          render: this.country(),
          show: true
        },
        {
          data: 'province',
          title: this.$t('systemAdmin.common.province'),
          render: this.province(),
          show: true
        }
      ]
    }
  },
  methods: {
    country() {
      return data => getCountry({ value: data }, 'name')
    },
    province() {
      return (data, item, row) => {
        if (data == null) {
          data = 'All'
          return data
        } else {
          return getProvince(
            _.get(item, 'countryCode'),
            { value: data },
            'name'
          )
        }
      }
    },
    action(hide, path) {
      return data => {
        return getAction(data, hide, path)
      }
    },
    async hide(id) {
      try {
        let result = await Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes, delete it!',
          cancelButtonText: 'No, cancel!'
        })
        // SUCCESS
        if (result.value) {
          const [errHide, hide] = await to(
            this.$axios.$delete(`/api/holidays/${id}`)
          )
          if (hide) {
            Swal.fire('Deleted!', 'Your file has been deleted!', 'success')
            this.$refs.holidayTable.load()
          } else {
            Swal.fire('Error!', errHide, 'error')
          }
        }
      } catch (e) {
        // Fail!
        console.error(e)
        Swal.fire('Error!', 'Error on Deleting File!', 'error')
      }
    },
    getFilter(data) {
      this.filter = data
      this.$refs.holidayTable.load()
    }
  }
}
</script>
