<template>
  <div class="content-body">
    <section id="basic-form-layouts">
      <div class="row match-height">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="btn-group float-md-right cta" role="group" aria-label="Button group with nested">
                <nuxt-link to="/executive-property-fee">
                  <button class="btn btn-info round" type="button"><i class="la la-th-list"/>{{ $t('action.view') }} {{ $tc('systemAdmin.propertyFee.title', 1) }}
                  </button>
                </nuxt-link>
              </div>
              <h4 id="basic-layout-form-center" class="card-title">{{ $t('action.add') }} {{ $tc('systemAdmin.propertyFee.title', 1) }}
              </h4>
            </div>

            <div class="card-content collapse show">
              <div class="card-body">
                <form class="form" @submit="onSubmit">
                  <div class="row justify-content-md-center">
                    <div class="col-md-6">
                      <div class="form-body">
                        <h4 class="form-section"><i class="ft-briefcase"/> {{ $t('action.update') }} {{ $tc('systemAdmin.propertyFee.title', 1) }}</h4>

                        <nas-select id="country" v-model="datas.id.countryCode" :items="countries" :name="$t('systemAdmin.common.country')" required disabled/>
                        <nas-input id="company" v-model="datas.id.companyMapping" :name="this.$tc('systemAdmin.company.title', 1)" type="text" required disabled/>
                        <nas-input id="priceType" v-model="datas.id.executivePriceType" :name="this.$t('systemAdmin.propertyFee.executivePriceType')" type="text" required disabled/>
                        <auto-complete id="regionId" v-model="datas.id.regionId" :items="regions" :name="$t('systemAdmin.region.regionName')" required disabled is-async @input="getRegions" @clicked="getRegionId" @lists="getRegions"/>
                        <nas-input id="price" v-model="datas.price" :name="$tc('systemAdmin.propertyFee.price')" type="number"/>
                      </div>
                    </div>
                  </div>
                  <div class="form-actions center">
                    <button type="reset" class="btn btn-danger">
                      <i class="ft-refresh-cw position-right"/> {{ $t('action.reset') }}
                    </button>
                    <button type="submit" class="btn btn-primary">
                      <i class="ft-check position-right"/>{{ $t('action.submit') }}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import _ from 'lodash'
import to from 'await-to-js'
import NasInput from '~/components/form/Input.vue'
import NasSelect from '~/components/form/Select.vue'
import AutoComplete from '~/components/form/AutoComplete.vue'
import { getTypes, getCountries } from '~/lib/util/region'
import Swal from 'sweetalert2'
export default {
  components: {
    NasInput,
    NasSelect,
    AutoComplete,
    Swal
  },
  data() {
    return {
      datas: {
        id: {}
      }
    }
  },
  async asyncData({ app, params }) {
    let priceTypes = []
    let regions = []
    let [err, datas] = await to(
      app.$axios.$get(
        `/api/executivePropertyFees/region/${params.regionId}/companyMapping/${
          params.companyMapping
        }/priceType/${params.executivePriceType}/countryCode/${
          params.countryCode
        }`
      )
    )
    if (err) {
      Swal.fire('Error!', err, 'error')
    }
    let [errType, priceType] = await to(
      app.$axios.$get(
        `/api/executivePriceTypes/countryCode/${
          params.countryCode
        }/executivePriceType/${params.executivePriceType}`
      )
    )
    if (priceType) {
      priceTypes = [
        {
          name: _.get(priceType, 'name'),
          value: _.get(priceType, 'id')
        }
      ]
    } else {
      Swal.fire('Error!', errType, 'error')
    }

    let [errRegion, region] = await to(
      app.$axios.$get(`/api/regions/${datas.region.id}`)
    )
    if (region) {
      regions = [
        {
          name: _.get(region, 'name'),
          value: _.get(region, 'id')
        }
      ]
    } else {
      Swal.fire('Error!', errRegion, 'error')
    }
    return { datas, regions, priceTypes }
  },
  computed: {
    types() {
      const typesOptions = getTypes()
      typesOptions.unshift({ name: '', value: '' })
      return typesOptions
    },
    countries() {
      const countriesOptions = getCountries()
      return countriesOptions
    }
  },
  methods: {
    // getRegionId(region) {
    //   this.datas.id.regionId = region.value
    //   this.datas.region.id = region.value
    // },
    // async getRegions(search) {
    //   let [errComp, region] = await to(
    //     this.$axios.$get(`/api/regions?name=${search}`)
    //   )

    //   if (region) {
    //     this.regions = region = _.map(
    //       _.get(region, '_embedded.regionList'),
    //       c => ({
    //         name: c.name,
    //         value: c.id
    //       })
    //     )
    //   } else {
    //     this.regions = []
    //   }
    // },
    async onSubmit(evt) {
      evt.preventDefault()
      let [err, rule] = await to(
        this.$axios.$put(
          `/api/executivePropertyFees/region/${
            this.datas.id.regionId
          }/companyMapping/${this.datas.id.companyMapping}/priceType/${
            this.datas.id.executivePriceType
          }/countryCode/${this.datas.id.countryCode}`,
          this.datas
        )
      )

      if (err || !rule) {
        Swal.fire('Error!', 'Error on Updating Data', 'error')
      } else {
        Swal.fire('Success!', 'Data Successfully Updated', 'success')
        this.$router.push('/executive-property-fee')
      }
    }
  }
}
</script>
