<template>
  <div class="content-body">
    <section id="basic-form-layouts">
      <div class="row match-height">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="btn-group float-md-right cta" role="group" aria-label="Button group with nested">
                <nuxt-link to="/group">
                  <button class="btn btn-info round view-group" type="button"><i class="la la-th-list"/>{{ $t('action.view') }} {{ $tc('systemAdmin.group.title', 2) }}</button>
                </nuxt-link>
              </div>
            </div>

            <div class="card-content collapse show">
              <div class="card-body">
                <form class="form" @submit="onSubmitGroup">
                  <div class="row justify-content-md-center">
                    <div class="col-md-6">
                      <div class="form-body">
                        <h4 class="form-section"><i class="ft-briefcase"/> {{ $t('action.update') }} {{ $tc('systemAdmin.group.title', 1) }}</h4>

                        <auto-complete id="companyId" v-model="datas.companyId" :items="companies" :name="$t('systemAdmin.company.companyName')" required is-async @input="getCompanies" @clicked="getCompanyId" @lists="getCompanies"/>
                        <nas-input id="groupName" v-model="datas.groupName" :name="$t('systemAdmin.group.groupName')" type="text" required />
                        <auto-complete id="parentId" v-model="datas.parentGroupId" :items="parentId" :name="$t('systemAdmin.group.parentGroupName')" is-async @input="getParent" @clicked="getParentId" @lists="getParent"/>
                      </div>
                    </div>
                  </div>
                  <div class="form-actions center">
                    <button type="reset" class="btn btn-danger">
                      <i class="ft-refresh-cw position-right"/> {{ $t('action.reset') }}
                    </button>
                    <button type="submit" class="btn btn-primary">
                      <i class="la la-check-square-o"/>{{ $t('action.update') }} {{ $tc('systemAdmin.group.title', 1) }}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import _ from 'lodash'
import to from 'await-to-js'
import NasInput from '~/components/form/Input.vue'
import AutoComplete from '~/components/form/AutoComplete.vue'
import Swal from 'sweetalert2'
export default {
  components: {
    NasInput,
    AutoComplete,
    Swal
  },
  data() {
    return {
      datas: {}
    }
  },
  async asyncData({ app, params }) {
    let companies = []
    let parentId = []
    let [err, datas] = await to(app.$axios.$get(`/api/groups/${params.id}`))
    if (err) {
      Swal.fire('Error!', err, 'error')
    }
    if (_.get(datas, 'companyId')) {
      let [errComp, company] = await to(
        app.$axios.$get(`/api/companies/${datas.companyId}`)
      )

      if (company) {
        companies = [
          {
            name: _.get(company, 'name'),
            value: _.get(company, 'id')
          }
        ]
      } else {
        Swal.fire('Error!', errComp, 'error')
      }
    }
    if (_.get(datas, 'parentGroupId')) {
      let [err, parents] = await to(
        app.$axios.$get(`/api/groups/${datas.parentGroupId}`)
      )
      if (parents) {
        parentId = [
          {
            name: _.get(parents, 'groupName'),
            value: _.get(parents, 'groupId')
          }
        ]
      } else {
        Swal.fire('Error!', err, 'error')
      }
      return { datas, companies, parentId }
    } else {
      return { datas, companies }
    }
  },
  computed: {},
  methods: {
    getCompanyId(company) {
      this.datas.companyId = company.value
    },
    async getCompanies(search) {
      let [errComp, companies] = await to(
        this.$axios.$get(`/api/companies?name=${search}`)
      )

      if (companies) {
        this.companies = _.map(
          _.get(companies, '_embedded.companyList'),
          c => ({
            name: c.name,
            value: c.id
          })
        )
      } else {
        Swal.fire('Error!', errComp, 'error')
        this.companies = []
      }
    },
    getParentId(parent) {
      this.datas.parentGroupId = parent.value
    },
    async getParent(search) {
      if (search.length == 0) {
        this.datas.parentGroupId = null
        this.datas.parentGroup = null
      }
      let [err, parents] = await to(
        this.$axios.$get(`/api/groups?groupName=${search}`)
      )

      if (parents) {
        this.parentId = _.map(_.get(parents, '_embedded.groupList'), c => ({
          name: c.groupName,
          value: c.groupId
        }))
      } else {
        Swal.fire('Error!', err, 'error')
        this.parentId = []
      }
    },
    async onSubmitGroup(evt) {
      //evt.preventDefault()
      let [err, rule] = await to(
        this.$axios.$put(`/api/groups/${this.datas.groupId}`, this.datas)
      )

      if (err || !rule) {
        Swal.fire('Error!', 'Error on Updating Data', 'error')
      } else {
        Swal.fire('Success!', 'Data Successfully Updated', 'success')
        this.$router.push('/group')
      }
    }
  }
}
</script>
