<template>
  <div class="content-body">
    <section id="basic-form-layouts">
      <div class="row match-height">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="btn-group float-md-right cta" role="group" aria-label="Button group with nested">
                <nuxt-link to="/group">
                  <button class="btn btn-info round view-group" type="button"><i class="la la-th-list"/>{{ $t('action.view') }} Groups</button>
                </nuxt-link>
              </div>
            </div>

            <div class="card-content collapse show">
              <div class="card-body">
                <form class="form" @submit="onSubmitGroup">
                  <div class="row justify-content-md-center">
                    <div class="col-md-6">
                      <div class="form-body">
                        <h4 class="form-section"><i class="ft-briefcase"/> {{ $t('action.add') }} {{ $tc('systemAdmin.group.title', 1) }}</h4>

                        <auto-complete id="companyId" v-model="datas.companyId" :items="companies" :name="$t('systemAdmin.company.companyName')" required is-async @input="getCompanies" @clicked="getCompanyId" @lists="getCompanies"/>
                        <nas-input id="groupName" v-model="datas.groupName" :name="$t('systemAdmin.group.groupName')" type="text" required />
                        <auto-complete id="parentId" v-model="datas.parentGroupId" :items="parentId" :name="$t('systemAdmin.group.parentGroupName')" is-async @input="getParent" @clicked="getParentId" @lists="getParent"/>
                      </div>
                    </div>
                  </div>
                  <div class="form-actions center">
                    <button type="reset" class="btn btn-danger">
                      <i class="ft-refresh-cw position-right"/> {{ $t('action.reset') }}
                    </button>
                    <button type="submit" class="btn btn-info">
                      <i class="la la-check-square-o"/>{{ $t('action.add') }} {{ $tc('systemAdmin.group.title', 1) }}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import _ from 'lodash'
import to from 'await-to-js'
import NasInput from '~/components/form/Input.vue'
import AutoComplete from '~/components/form/AutoComplete.vue'
import Swal from 'sweetalert2'
export default {
  components: {
    NasInput,
    AutoComplete,
    Swal
  },
  data() {
    return {
      datas: {},
      companies: [],
      parentId: []
    }
  },
  computed: {},
  methods: {
    getCompanyId(company) {
      this.datas.companyId = company.value
    },
    async getCompanies(search) {
      let [errComp, companies] = await to(
        this.$axios.$get(`/api/companies?name=${search}`)
      )

      if (companies) {
        this.companies = _.map(
          _.get(companies, '_embedded.companyList'),
          c => ({
            name: c.name,
            value: c.id
          })
        )
      } else {
        Swal.fire('Error!', errComp, 'error')
        this.companies = []
      }
    },

    getParentId(parent) {
      this.datas.parentGroupId = parent.value
    },
    async getParent(search) {
      let [err, parents] = await to(
        this.$axios.$get(`/api/groups?groupName=${search}`)
      )

      if (parents) {
        this.parentId = _.map(_.get(parents, '_embedded.groupList'), c => ({
          name: c.groupName,
          value: c.groupId
        }))
      } else {
        Swal.fire('Error!', err, 'error')
        this.parentId = []
      }
    },
    async onSubmitGroup(evt) {
      let [err, rule] = await to(this.$axios.$post(`/api/groups`, this.datas))

      if (err || !rule) {
        Swal.fire('Error!', 'Error on Adding New Data', 'error')
      } else {
        Swal.fire('Success!', 'New Data Successfully Added', 'success')
        this.$router.push('/group')
      }
    }
  }
}
</script>
