<template>
  <div class="content-body">
    <section class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-head">
            <div class="card-header">
              <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"/></a>
              <div class="heading-elements">
                <div class="btn-group float-md-right cta" role="group" aria-label="Button group with nested">
                  <nuxt-link to="/group/add">
                    <button class="btn btn-info round" type="submit">
                    <i class="ft-plus-circle"/>{{ $t('action.add') }} {{ $tc('systemAdmin.group.title', 1) }}</button>
                  </nuxt-link>
                </div>
              </div>
            </div>

            <advance-filter @clicked="getFilter"/>

            <nas-table id="group-table" ref="groupTable" :columns="columns" :api="api"
                       :filter="filter" :has-active-flag="false" sort-by="groupId,desc" page-name="group"/>
             

                       <!-- table start -->
                       <!-- table end -->
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import to from 'await-to-js'
import _ from 'lodash'
import NasTable from '~/components/table'
import Swal from 'sweetalert2'
import { getAction } from '~/lib/util/action.js'
import AdvanceFilter from '~/components/systemAdmin/group/AdvanceFilter.vue'

export default {
  components: {
    NasTable,
    AdvanceFilter,
    Swal
  },
  data() {
    return {
      filter: {},
      table: {},
      api: {
        url: '/api/groups',
        dataPath: '_embedded.groupList'
      },
      columns: [
        {
          data: 'groupId',
          title: this.$t('action.action'),
          render: this.action(this.hide, '/group/'),
          isComponent: true,
          show: true
        },
        {
          data: 'parentGroup',
          title: this.$t('systemAdmin.group.parentGroupName'),
          render: this.parentName(),
          show: true
        },
        {
          data: 'companyId',
          title: this.$t('systemAdmin.company.companyName'),
          render: this.companyName(),
          show: true
        },
        {
          data: 'groupName',
          title: this.$t('systemAdmin.group.groupName'),
          show: true
        }
      ]
    }
  },
  async asyncData({ app, params }) {
    let [err, companies] = await to(
      app.$axios.$get('/api/companies?size=10000000')
    )
    if (companies) {
      companies = _.map(_.get(companies, '_embedded.companyList'), c => ({
        name: c.name,
        value: c.id
      }))
    } else {
      Swal.fire('Error!', err, 'error')
    }

    return { companies }
  },
  methods: {
    action(hide, path) {
      return data => {
        return getAction(data, hide, path)
      }
    },
    parentName() {
      return data => {
        if (data != null) {
          return data.groupName
        }
      }
    },
    companyName() {
      return data => this.getCompanyName({ value: data }, 'name')
    },
    getCompanyName(query, field) {
      const foundYN = _.find(this.companies, query)

      if (field) {
        return _.get(foundYN, field, '')
      }
      return foundYN
    },
    async hide(id) {
      try {
        let result = await Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes, delete it!',
          cancelButtonText: 'No, cancel!'
        })
        // SUCCESS
        if (result.value) {
          const [errHide, hide] = await to(
            this.$axios.$delete(`/api/groups/${id}`)
          )
          if (hide || !errHide) {
            Swal.fire('Deleted!', 'Your file has been deleted!', 'success')
            this.$refs.groupTable.load()
          } else {
            Swal.fire(
              'Error!',
              'You can only delete group that is not a parent!',
              'error'
            )
          }
        }
      } catch (e) {
        // Fail!
        console.error(e)
        Swal.fire('Error!', 'Error on Deleting File!', 'error')
      }
    },
    getFilter(data) {
      this.filter = data
      this.$refs.groupTable.load()
    }
  }
}
</script>
