<template>
  <div class="content-body">
    <section id="basic-form-layouts">
      <div class="row match-height">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="btn-group float-md-right cta" role="group" aria-label="Button group with nested">
                <nuxt-link to="/company-service-association">
                  <button class="btn btn-info round" type="button"><i class="la la-th-list"/>{{ $t('action.view') }}
                    {{ $tc('systemAdmin.companyServiceAssociate.title', 1) }}
                  </button>
                </nuxt-link>
              </div>
            </div>

            <div class="card-content collapse show">
              <div class="card-body">
                <form class="form" @submit="onSubmit">
                  <div class="row justify-content-md-center">
                    <div class="col-md-6">
                      <div class="form-body">
                        <h4 class="form-section"><i class="ft-briefcase"/> {{ $t('action.add') }} {{ $tc('systemAdmin.companyServiceAssociate.title', 1) }}</h4>
                        <auto-complete id="companyId" v-model="form.id.companyId" :items="companies" :name="$tc('systemAdmin.company.title', 1)" required is-async @input="getCompanies" @clicked="getCompanyId" @lists="getCompanies"/>
                        <auto-complete id="regionId" v-model="form.id.serviceTypeId" :items="services" :name="$t('systemAdmin.service.service')" required is-asnc @input="getServices" @clicked="getServiceId" @lists="getServices"/>
                        <nas-input id="displayOrder" v-model="form.displayOrder" :name="$t('systemAdmin.companyServiceAssociate.orderSequence')" type="number" />
                      </div>
                    </div>
                  </div>
                  <div class="form-actions center">
                    <button type="reset" class="btn btn-danger">
                      <i class="ft-refresh-cw position-right"/> {{ $t('action.reset') }}
                    </button>
                    <button type="submit" class="btn btn-info">
                      <i class="la la-check-square-o"/>{{ $t('action.add') }} {{ $tc('systemAdmin.companyServiceAssociate.title', 1) }}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import _ from 'lodash'
import to from 'await-to-js'
import NasInput from '~/components/form/Input.vue'
import NasSelect from '~/components/form/Select.vue'
import AutoComplete from '~/components/form/AutoComplete.vue'
import Swal from 'sweetalert2'
export default {
  components: {
    NasInput,
    NasSelect,
    AutoComplete,
    Swal
  },
  data() {
    return {
      form: {
        id: {},
        lastUpdatedBy: 'Johnren'
      },
      companies: [],
      services: [],
      fileNames: []
    }
  },
  methods: {
    getCompanyId(company) {
      this.form.id.companyId = company.value
    },
    async getCompanies(search) {
      let [errComp, companies] = await to(
        this.$axios.$get(`/api/companies?name=${search}`)
      )

      if (companies) {
        this.companies = _.map(
          _.get(companies, '_embedded.companyList'),
          c => ({
            name: c.name,
            value: c.id
          })
        )
      } else {
        Swal.fire('Error!', errComp, 'error')

        this.companies = []
      }
    },

    getServiceId(service) {
      this.form.id.serviceTypeId = service.value
    },
    async getServices(search) {
      let [err, service] = await to(
        this.$axios.$get(`/api/serviceTypes?service=${search}`)
      )

      if (service) {
        this.services = _.map(
          _.get(service, '_embedded.serviceTypeList'),
          c => ({
            name: c.service,
            value: c.serviceTypeId
          })
        )
      } else {
        Swal.fire('Error!', err, 'error')

        this.services = []
      }
    },
    async onSubmit(evt) {
      evt.preventDefault()
      if (this.form.files) {
        const formData = new FormData()
        formData.append('id.companyId', this.form.id.companyId)
        formData.append('id.serviceTypeId', this.form.id.serviceTypeId)
        formData.append('lastUpdatedBy', this.form.lastUpdatedBy)

        _.each(this.form.files, (file, i) => {
          formData.append(`files`, file)
        })

        let [errUpload, upload] = await to(
          this.$axios.$post(`/api/companyServiceAssocs/fileupload`, formData, {
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          })
        )
        if (errUpload || !upload) {
          Swal.fire('Error!', 'Error on Adding New Data', 'error')
        } else {
          Swal.fire('Success!', 'New Data Successfully Added', 'success')
          this.$router.push('/company-service-association')
        }
      } else {
        let [err, rule] = await to(
          this.$axios.$post(`/api/companyServiceAssocs`, this.form)
        )

        if (err || !rule) {
          Swal.fire('Error!', 'Error on Adding New Data', 'error')
        } else {
          Swal.fire('Success!', 'New Data Successfully Added', 'success')
          this.$router.push('/company-service-association')
        }
      }
    },
    updateList(event) {
      const files = this.$refs.files.files
      this.form.files = files
      console.log(files)

      this.fileNames = []

      _.each(files, (file, i) => {
        this.fileNames.push(file.name)
      })
    }
  }
}
</script>
