<template>
  <div class="content-body">
    <section class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-head">
            <div class="card-header">
              <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"/></a>
              <div class="heading-elements">
                <div class="btn-group float-md-right cta" role="group" aria-label="Button group with nested">
                  <nuxt-link to="/company-service-association/add">
                    <button class="btn btn-info round" type="submit">
                      <i class="ft-plus-circle"/>{{ $t('action.add') }} {{ $tc('systemAdmin.companyServiceAssociate.title', 1) }}
                    </button>
                  </nuxt-link>
                </div>
              </div>
            </div>

            <advance-filter @clicked="getFilter"/>
            
            <nas-table id="comp-service-table" ref="compServiceTable" :columns="columns" :api="api"
                       :filter="filter" :has-active-flag="false" sort-by="id,desc" page-name="companyServiceAssociate"/>
                
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import to from 'await-to-js'
import _ from 'lodash'
import NasTable from '~/components/table'

import { getAction } from '~/lib/util/action.js'
import AdvanceFilter from '~/components/systemAdmin/comp-service-assoc/AdvanceFilter.vue'
import { getType } from '~/lib/util/region'
import Swal from 'sweetalert2'
export default {
  components: {
    NasTable,
    AdvanceFilter,
    Swal
  },
  data() {
    return {
      filter: {},
      table: {},
      api: {
        url: '/api/companyServiceAssocs',
        dataPath: '_embedded.companyServiceAssocList'
      },
      columns: [
        {
          data: 'id',
          title: this.$t('action.action'),
          render: this.action(this.hide, '/company-service-association/'),
          isComponent: true,
          show: true
        },
        {
          data: 'company',
          title: this.$tc('systemAdmin.company.title', 2),
          render: this.getCompanies(),
          show: true
        },
        {
          data: 'serviceType',
          title: this.$tc('systemAdmin.service.title', 2),
          render: this.getServiceType(),
          show: true
        },
        {
          data: 'displayOrder',
          title: this.$t('systemAdmin.companyServiceAssociate.orderSequence'),
          show: true
        },
        {
          data: 'lastUpdatedBy',
          title: this.$t('systemAdmin.common.lastUpdatedBy'),
          show: true
        },
        {
          data: 'lastUpdated',
          title: this.$t('systemAdmin.common.lastUpdated'),
          show: false
        }
      ]
    }
  },
  methods: {
    type() {
      return data => getType({ value: data }, 'name')
    },
    getCompanies() {
      return data => {
        return data.name
      }
    },
    getServiceType() {
      return data => {
        return data.service
      }
    },
    action(hide, path) {
      return data => {
        let url = `companyId/${data.companyId}/serviceTypeId/${
          data.serviceTypeId
        }`
        return getAction(url, hide, path)
      }
    },
    async hide(id) {
      try {
        let result = await Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes, delete it!',
          cancelButtonText: 'No, cancel!'
        })
        // SUCCESS
        if (result.value) {
          const [errHide, hide] = await to(
            this.$axios.$delete(`/api/companyServiceAssocs/${id}`)
          )
          if (hide) {
            Swal.fire('Deleted!', 'Your file has been deleted!', 'success')
            this.$refs.compServiceTable.load()
          } else {
            Swal.fire('Error!', errHide, 'error')
          }
        }
      } catch (e) {
        // Fail!
        console.error(e)
        Swal.fire('Error!', 'Error on Deleting File!', 'error')
      }
      // if (confirm('Are you sure you want to delete this?')) {
      //   const [errHide, hide] = await to(
      //     this.$axios.$delete(`/api/companyServiceAssocs/${id}`)
      //   )
      //   if (hide) {
      //     alert('Company Service Association Successfully Deleted')
      //   } else {
      //     alert(errHide)
      //   }
      //   this.$refs.compServiceTable.load()
      // } else {
      //   return
      // }
    },
    getFilter(data) {
      this.filter = data
      this.$refs.compServiceTable.load()
    }
  }
}
</script>
