<template>
  <div class="content-body">
    <section id="accordion">
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Workflow Settings</h4>
              <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"/></a>
              <div class="heading-elements">
                <ul class="list-inline mb-0">
                  <li><a data-action="reload"><i class="ft-rotate-cw"/></a></li>
                  <li><a data-action="expand"><i class="ft-maximize"/></a></li>
                </ul>
              </div>
            </div>
            <div class="card-content collapse show constrain-movement-container">
              <div class="card-body">
                <div class="row mb-2">
                  <div class="col-md-4 text-center">
                    <fieldset class="form-group position-relative mb-0">
                      <input id="iconLeft1" type="text" class="form-control form-control-xl input-md" placeholder="Search">
                      <div class="form-control-position">
                        <i class="ft-search font-medium-4"/>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <nav class="accordion arrows">
                  <input id="cb0" class="invisibleRadio" type="radio" name="accordion">
                  <section class="box">
                    <label class="box-title" for="cb0">ACI Sky</label>
                    <label class="box-close" for="acc-close"/>
                    <div class="box-content">
                      <ACI-form/> 
                    </div>
                  </section>
                  <input id="cb1" class="invisibleRadio" type="radio" name="accordion" >
                  <section class="box">
                    <label class="box-title" for="cb1">Assignments</label>
                    <label class="box-close" for="acc-close"/>
                    <div class="box-content">
                      <!-- <ACI-form/>                              -->
                      wala pa yan
                    </div>
                  </section>

                  <input id="acc-close" class="invisibleRadio" type="radio" name="accordion" >
                </nav>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import NasInput from '~/components/workflow-form/Input.vue'
import NasRadio from '~/components/workflow-form/Radio.vue'
import ACIForm from '~/components/workflow-form/ACI.vue'
export default {
  components: {
    NasInput,
    NasRadio,
    ACIForm
  },
  data() {
    return {
      yesNo: [
        { name: 'Yes', value: 'Y' },
        { name: 'No', value: 'N' },
        { name: 'Blank', value: '' }
      ],
      form: {},
      collapsed: true
    }
  }
}
</script>
<style>
.accordion {
  margin: auto;
  width: 100%;
}
.accordion input.invisibleRadio {
  display: none;
}
.box {
  position: relative;
  background: white;
  height: calc(100% / 4);
  transition: all 0.2s ease-in-out;
}
.box::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.1),
    0 2px 4px rgba(0, 0, 0, 0.1);
}
.box-title {
  width: calc(100% - 10px);
  height: 38px;
  font-size: 14px;
  line-height: 40px;
  padding: 0 20px;
  display: inline-block;
  cursor: pointer;
}
.box-content {
  width: calc(100% - 10px);
  padding: 20px 20px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  display: none;
  height: calc(100% / 4);
}
.box-close {
  position: absolute;
  height: calc(100% / 3);
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}
input:checked + .box {
  height: auto;
  margin: 5px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
  color: #ffffff;
}
input:checked + .box .box-title {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgb(30, 159, 242);
}
input:checked + .box .box-content,
input:checked + .box .box-close {
  display: inline-block;
}
.arrows section .box-title:before {
  position: absolute;
  display: block;
  content: '\002B';
  font-size: 18pt;
  right: 20px;
  top: -2px;
  transition: transform 0.15s ease-in-out;
  color: rgba(0, 0, 0, 0.4);
}
input:checked + section.box .box-title:before {
  content: '\2212';
  color: white;
}
</style>
