<template>
  <div class="content-body">
    <section id="basic-form-layouts">
      <div class="row match-height">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="btn-group float-md-right cta" role="group" aria-label="Button group with nested">
                <nuxt-link to="/system-parameter">
                  <button class="btn btn-info round" type="button"><i class="la la-th-list"/>{{ $t('action.view') }} {{ $tc('systemAdmin.sysParam.title', 1) }}
                  </button>
                </nuxt-link>
              </div>
            </div>
            <div class="card-content collapse show">
              <div class="card-body">
                <form class="form" @submit="onSubmit">
                  <div class="row justify-content-md-center">
                    <div class="col-md-6">
                      <div class="form-body">
                        <h4 class="form-section"><i class="ft-briefcase"/> {{ $t('action.add') }} {{ $tc('systemAdmin.sysParam.title', 1) }}</h4>

                        <nas-input id="paramCategory" v-model="datas.id.paramCategory" :name="$t('systemAdmin.sysParam.category')" required/>
                        <nas-input id="paramName" v-model="datas.id.paramName" :name="$t('systemAdmin.sysParam.name')" required/>
                        <nas-input id="paramValue" v-model="datas.paramValue" :name="$t('systemAdmin.sysParam.email')" required type="email"/>

                        <div v-if="hasEmail">
                          <div v-for="email in emails" :key="email">
                            <nas-input id="paramValue" v-model="email.value" :name="$t('systemAdmin.sysParam.email')" required type="email"/>
                          </div>
                        </div>

                        <div class="row float-md-right">
                          <div class="col-md-12">
                            <a class="btn btn-primary btn-sm" href="#" role="button" @click="addField">Add Email</a>
                            <a :class="[btnColor ? 'btn-danger' : 'btn-secondary']" class="btn btn-sm" href="#" role="button" @click="removeField">Remove Email</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-actions center">
                    <button type="reset" class="btn btn-danger">
                      <i class="ft-refresh-cw position-right"/> {{ $t('action.reset') }}
                    </button>
                    <button type="submit" class="btn btn-primary">
                      <i class="ft-check position-right"/>{{ $t('action.submit') }}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import _ from 'lodash'
import to from 'await-to-js'
import NasInput from '~/components/form/Input.vue'
import Swal from 'sweetalert2'
export default {
  components: {
    NasInput,
    Swal
  },
  data() {
    return {
      datas: {
        id: {}
      },
      emails: [],
      hasEmail: true,
      btnColor: false
    }
  },
  methods: {
    addField() {
      if (this.emails.length > 0) {
        this.btnColor = true
      }
      this.emails.push({ value: '' })
    },
    removeField() {
      if (this.emails.length <= 1) {
        this.btnColor = false
      }
      this.emails.pop({ value: '' })
    },
    async onSubmit(evt) {
      evt.preventDefault()
      if (this.emails.length != 0) {
        this.hasEmail = false
        this.emails.unshift({ value: this.datas.paramValue })
        let result = this.emails.map(email => email.value)
        this.datas.paramValue = result.join(';')
      }
      let [err, rule] = await to(
        this.$axios.$post(`/api/sysParams`, this.datas)
      )

      if (err || !rule) {
        Swal.fire('Error!', 'Error on Adding New Data', 'error')
      } else {
        Swal.fire('Success!', 'New Data Successfully Added', 'success')
        this.$router.push('/system-parameter')
      }
    }
  }
}
</script>
