<template>
  <div class="content-body">
    <section class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-head">
            <div class="card-header">
              <h4 class="card-title">{{ $t('action.view') }} {{ $tc('systemAdmin.sysParam.title', 1) }}
              </h4>
              <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"/></a>
              <div class="heading-elements">
                <div class="btn-group float-md-right cta" role="group" aria-label="Button group with nested">
                  <nuxt-link to="/system-parameter/add">
                    <button class="btn btn-info round" type="submit">
                      <i class="ft-plus-circle"/>{{ $t('action.add') }} {{ $tc('systemAdmin.sysParam.title', 1) }}
                    </button>
                  </nuxt-link>
                </div>
              </div>
            </div>

            <advance-filter @clicked="getFilter"/>

            <div class="form-actions center">
              <h4 class="form-section"/>
            </div>
            <!-- table start -->
            <nas-table id="system-parameter-table" ref="sysParamTable" :columns="columns" :api="api"
                       :filter="filters" :has-active-flag="false" sort-by="id,desc" page-name="sysParam"/>
                       <!-- table end -->
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import to from 'await-to-js'
import _ from 'lodash'
import NasTable from '~/components/table'
import Swal from 'sweetalert2'
import { getAction } from '~/lib/util/action.js'
import AdvanceFilter from '~/components/systemAdmin/system-parameter/AdvanceFilter.vue'

export default {
  components: {
    NasTable,
    AdvanceFilter,
    Swal
  },
  data() {
    return {
      filters: {},
      table: {},
      api: {
        url: '/api/sysParams',
        dataPath: '_embedded.sysParamList'
      },
      columns: [
        {
          data: 'id',
          title: this.$t('action.action'),
          render: this.action(this.hide, '/system-parameter/'),
          isComponent: true,
          show: true
        },
        {
          data: 'id.paramCategory',
          title: this.$t('systemAdmin.sysParam.category'),
          show: true
        },
        {
          data: 'id.paramName',
          title: this.$tc('systemAdmin.sysParam.name'),
          show: true
        },
        {
          data: 'paramValue',
          title: this.$t('systemAdmin.sysParam.email'),
          show: true
        }
      ]
    }
  },
  methods: {
    action(hide, path) {
      return data => {
        let url = `paramCategory/${data.paramCategory}/paramName/${
          data.paramName
        }`
        return getAction(url, hide, path)
      }
    },
    async hide(id) {
      try {
        let result = await Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes, delete it!',
          cancelButtonText: 'No, cancel!'
        })
        // SUCCESS
        if (result.value) {
          const [errHide, hide] = await to(
            this.$axios.$delete(`/api/sysParams/${id}`)
          )
          if (hide) {
            Swal.fire('Deleted!', 'Your file has been deleted!', 'success')
            this.$refs.sysParamTable.load()
          } else {
            Swal.fire('Error!', errHide, 'error')
          }
        }
      } catch (e) {
        // Fail!
        console.error(e)
        Swal.fire('Error!', 'Error on Deleting File!', 'error')
      }
    },
    getFilter(data) {
      this.filters = data
      this.$refs.sysParamTable.load()
    }
  }
}
</script>
